Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Event-based cache persistence for paramset descriptions (#2788)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/events/__init__.py
  aiohomematic/central/events/integration.py
  aiohomematic/central/events/types.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  aiohomematic_test_support/factory.py
  changelog.md
  tests/test_model_climate.py
  tests/test_paramset_cache_reconnect.py
Due: Central Module, Client Module, Model Module

Fix performance issue during device creation
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  changelog.md
Due: Central Module, Client Module

Fix test warnings
  tests/conftest.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Fix put_paramset fails on HM-CC-VG-1
  aiohomematic/client/interface_client.py
  aiohomematic/model/custom/climate.py
  changelog.md
Due: Client Module, Model Module

Update device_ops.py
  aiohomematic/client/handlers/device_ops.py
Due: Client Module

Fix performance issue during device creation (#2792)
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  changelog.md
  pyproject.toml
  tests/conftest.py
Due: Central Module, Client Module, Model Module

Update trouble shooting
  docs/homeassistant_troubleshooting.md
Due: none

Fix Empty paramset descriptions not being cached
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  docs/homeassistant_troubleshooting.md
Due: Central Module, Client Module, Model Module

Fix Empty paramset descriptions not being cached (#2793)
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  docs/homeassistant_troubleshooting.md
Due: Central Module, Client Module, Model Module

Enhanced schedule temperature tests
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_climate.py
Due: Client Module, Model Module

CUxD/CCU-Jack unnecessary reconnects via MQTT
  CLAUDE.md
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  changelog.md
Due: Client Module

Update test_model_climate.py
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: none

CUxD/CCU-Jack unnecessary reconnects via MQTT (#2794)
  CLAUDE.md
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Client Module, Model Module

Schedule cache now uses pessimistic update strategy
  CLAUDE.md
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Model Module

Update test_model_climate.py
  tests/test_model_climate.py
Due: none

Schedule cache now uses pessimistic update strategy (#2795)
  CLAUDE.md
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Model Module

Fix Schedule validation error on device initialization
  .gitignore
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Fix Schedule validation error on device initialization (#2798)
  .gitignore
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Update week_profile.py
  aiohomematic/model/week_profile.py
Due: Model Module

Update week_profile.py (#2799)
  aiohomematic/model/week_profile.py
Due: Model Module

Fix Schedule validation error for HM-CC-VG-1 heating groups
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Fix Schedule validation error for HM-CC-VG-1 heating groups (#2800)
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Add Type conversion for read operations
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Client Module, Model Module

*Simplified type handling in week_profile.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_client.py
Due: Model Module

fixes
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Add Type conversion for read operations (#2802)
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_client.py
Due: Client Module, Model Module

Add Configurable backend detection timeouts via TimeoutConfig
  aiohomematic/backend_detection.py
  aiohomematic/const.py
  changelog.md
  docs/backend_detection.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/test_backend_detection.py
Due: none

Add Configurable backend detection timeouts via TimeoutConfig (#2805)
  aiohomematic/backend_detection.py
  aiohomematic/const.py
  changelog.md
  docs/backend_detection.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/test_backend_detection.py
Due: none

Add smart early abort on fatal connection errors
  aiohomematic/backend_detection.py
  aiohomematic/client/rpc_proxy.py
  changelog.md
  tests/test_backend_detection.py
Due: Client Module

Add smart early abort on fatal connection errors (#2806)
  aiohomematic/backend_detection.py
  aiohomematic/client/rpc_proxy.py
  changelog.md
  tests/test_backend_detection.py
Due: Client Module

Add service methods for manual configuration reload
  aiohomematic/model/device.py
  changelog.md
Due: Model Module

Add service methods for manual configuration reload (#2807)
  aiohomematic/model/device.py
  changelog.md
Due: Model Module

Add missing protocol entries
  aiohomematic/interfaces/model.py
Due: none

Replace pre-commit by prek
  .github/CONTRIBUTING.md
  .github/workflows/pre-commit.yml
  CLAUDE.md
  docs/dev/contributing.rst
  docs/docstring_standards.md
  docs/i18n_management.md
  docs/user/installation.rst
  requirements_test.txt
  script/bootstrap
  script/setup
Due: none

Adds
  .github/copilot-instructions.md
  AGENTS.md
  docs/adr/0013-implementation-status.md
  script/check_i18n_catalogs.py
  script/lint_kwonly.py
  script/sort_class_members.py
Due: none

Replace pre-commit by prek (#2809)
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/workflows/pre-commit.yml
  AGENTS.md
  CLAUDE.md
  docs/adr/0013-implementation-status.md
  docs/dev/contributing.rst
  docs/docstring_standards.md
  docs/i18n_management.md
  docs/user/installation.rst
  requirements_test.txt
  script/bootstrap
  script/check_i18n_catalogs.py
  script/lint_kwonly.py
  script/setup
  script/sort_class_members.py
Due: none

Add Paramset description patching system
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/device.py
  aiohomematic/store/__init__.py
  aiohomematic/store/patches/__init__.py
  aiohomematic/store/patches/matcher.py
  aiohomematic/store/patches/paramset_patches.py
  aiohomematic/store/persistent/paramset.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0016-paramset-description-patching.md
  tests/test_client.py
  tests/test_interface_client_comparison.py
  tests/test_model_device.py
  tests/test_store_persistent.py
Due: Client Module, Model Module, Store Module

Use Parameter Enum
  aiohomematic/store/patches/matcher.py
  aiohomematic/store/patches/paramset_patches.py
Due: Store Module

Paramset patching now works for channel paramsets*
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/store/patches/matcher.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_model_climate.py
Due: Client Module, Store Module
