Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Fixed missing DURATION_UNIT/DURATION_VALUE in putParamset for signal lights
  aiohomematic/const.py
  aiohomematic/model/combined/timer.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Fixed missing DURATION_UNIT/DURATION_VALUE in putParamset for signal lights (#3111)
  aiohomematic/const.py
  aiohomematic/model/combined/timer.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Fixed RAMP_TIME_TO_OFF usage for RGBW and DRG-DALI lights
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/siren.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Fixed RAMP_TIME_TO_OFF usage for RGBW and DRG-DALI lights (#3112)
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/siren.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Fixed missing DURATION_UNIT/DURATION_VALUE in turn_off for lights with ramp_time
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Fixed missing DURATION_UNIT/DURATION_VALUE in turn_off for lights with ramp_time (#3114)
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Added schedule enable/disable support for non-climate week profiles
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/week_profile_data_point.py
  aiohomematic/store/visibility/rules.py
  changelog.md
Due: Model Module, Store Module

Fixes
  tests/test_central.py
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_device.py
Due: none

Added per-channel schedule enable/disable support for non-climate week profiles
  aiohomematic/interfaces/model.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
Due: Model Module

Add tests
  tests/contract/test_backend_week_profile_contract.py
  tests/test_week_profile_data_point.py
Due: none

Added channel locks data loading on init
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
Due: Model Module

Fixes
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile_data_point.py
Due: Model Module

Fix tests
  tests/contract/test_backend_week_profile_contract.py
  tests/test_model_data_point.py
  tests/test_week_profile_data_point.py
Due: none

Added per-channel schedule enable/disable support for non-climate week profiles (#3117)
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile_data_point.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/contract/test_backend_week_profile_contract.py
  tests/test_central.py
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
  tests/test_model_device.py
  tests/test_week_profile_data_point.py
Due: Model Module, Store Module

Added `ScheduleChannelSwitch` data point
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  tests/contract/test_backend_week_profile_contract.py
  tests/test_central.py
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_week_profile_data_point.py
Due: Model Module

Fixes
  aiohomematic/ccu_data/translation_custom/parameters_de.json
  aiohomematic/ccu_data/translation_custom/parameters_en.json
  aiohomematic/model/week_profile_data_point.py
Due: Model Module

Added `ScheduleChannelSwitch` data point (#3118)
  aiohomematic/ccu_data/translation_custom/parameters_de.json
  aiohomematic/ccu_data/translation_custom/parameters_en.json
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  tests/contract/test_backend_week_profile_contract.py
  tests/test_central.py
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_week_profile_data_point.py
Due: Model Module

Command retry mechanism for transient failures
  CLAUDE.md
  aiohomematic/client/__init__.py
  aiohomematic/client/command_retry.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/action.py
  aiohomematic/model/generic/button.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/model/generic/dummy.py
  changelog.md
  docs/architecture.md
  docs/architecture/data_flow.md
  docs/architecture/sequence_diagrams.md
  tests/test_command_retry.py
  tests/test_model_action.py
  tests/test_model_action_boolean.py
  tests/test_model_action_number.py
  tests/test_model_action_string.py
  tests/test_model_button.py
  tests/test_model_climate.py
  tests/test_model_cover.py
  tests/test_model_light.py
  tests/test_model_lock.py
  tests/test_model_number.py
  tests/test_model_select.py
  tests/test_model_siren.py
  tests/test_model_switch.py
  tests/test_model_text_display.py
  tests/test_model_valve.py
Due: Client Module, Model Module

Update docs
  docs/user/features/homeassistant_actions.de.md
  docs/user/features/homeassistant_actions.md
  docs/user/features/optimistic_updates.de.md
  docs/user/features/optimistic_updates.md
Due: none

Update test_command_retry.py
  tests/test_command_retry.py
Due: none

Add more tests
  tests/test_client.py
  tests/test_command_throttle.py
  tests/test_connection_recovery.py
  tests/test_request_coalescer.py
Due: none

Command retry mechanism for transient failures (#3123)
  CLAUDE.md
  aiohomematic/client/__init__.py
  aiohomematic/client/command_retry.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/action.py
  aiohomematic/model/generic/button.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/model/generic/dummy.py
  changelog.md
  docs/architecture.md
  docs/architecture/data_flow.md
  docs/architecture/sequence_diagrams.md
  docs/user/features/homeassistant_actions.de.md
  docs/user/features/homeassistant_actions.md
  docs/user/features/optimistic_updates.de.md
  docs/user/features/optimistic_updates.md
  tests/test_client.py
  tests/test_command_retry.py
  tests/test_command_throttle.py
  tests/test_connection_recovery.py
  tests/test_model_action.py
  tests/test_model_action_boolean.py
  tests/test_model_action_number.py
  tests/test_model_action_string.py
  tests/test_model_button.py
  tests/test_model_climate.py
  tests/test_model_cover.py
  tests/test_model_light.py
  tests/test_model_lock.py
  tests/test_model_number.py
  tests/test_model_select.py
  tests/test_model_siren.py
  tests/test_model_switch.py
  tests/test_model_text_display.py
  tests/test_model_valve.py
  tests/test_request_coalescer.py
Due: Client Module, Model Module

Improve concellation/superseed
  aiohomematic/client/command_retry.py
  changelog.md
  tests/test_command_retry.py
Due: Client Module

Fixes
  aiohomematic/client/command_retry.py
  tests/test_command_retry.py
Due: Client Module

Improve cancellation/supersede (#3124)
  aiohomematic/client/command_retry.py
  changelog.md
  tests/test_command_retry.py
Due: Client Module

Activate lock schedule
  aiohomematic/const.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Activate lock schedule (#3125)
  aiohomematic/const.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Fixed schedule target channels for multi-config lock devices
  aiohomematic/const.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  tests/test_week_profile_data_point.py
Due: Model Module

Fixes
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
Due: none

Fixed schedule target channels for multi-config lock devices (#3126)
  aiohomematic/const.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_week_profile_data_point.py
Due: Model Module

Extract MASTER paramset metadata from CCU WebUI dialog functions
  aiohomematic/ccu_data/easymode_extract.json.gz
  aiohomematic/ccu_data/translation_extract.json.gz
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/easymode_data.py
  changelog.md
  script/extract_ccu_easymodes.py
  script/extract_ccu_translations.py
Due: none

Extract MASTER paramset metadata from CCU WebUI dialog functions (#3128)
  aiohomematic/ccu_data/easymode_extract.json.gz
  aiohomematic/ccu_data/translation_extract.json.gz
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/easymode_data.py
  changelog.md
  script/extract_ccu_easymodes.py
  script/extract_ccu_translations.py
Due: none

Update template
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Support non-climate link roles & improve logging
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/store/persistent/device.py
  changelog.md
  tests/test_link_categories.py
  tests/test_store_persistent.py
Due: Central Module, Client Module, Store Module

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Support non-climate link roles & improve logging (#3130)
  .pre-commit-config.yaml
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/store/persistent/device.py
  changelog.md
  tests/test_link_categories.py
  tests/test_store_persistent.py
Due: Central Module, Client Module, Store Module

Remove dead service reference from docs
  docs/user/features/climate_schedule_card.de.md
  docs/user/features/climate_schedule_card.md
Due: none

Add WeekProfile.supported_schedule_fields
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Add WeekProfile.supported_schedule_fields (#3132)
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Validate schedule writes against paramset description
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
