Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

CombinedDpHsColor for hue+saturation pairs
  CLAUDE.md
  aiohomematic/interfaces/model.py
  aiohomematic/model/combined/__init__.py
  aiohomematic/model/combined/data_point.py
  aiohomematic/model/combined/field.py
  aiohomematic/model/combined/hs_color.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/light.py
  changelog.md
Due: Model Module

CombinedDpHsColor for hue+saturation pairs (#3013)
  CLAUDE.md
  aiohomematic/interfaces/model.py
  aiohomematic/model/combined/__init__.py
  aiohomematic/model/combined/data_point.py
  aiohomematic/model/combined/field.py
  aiohomematic/model/combined/hs_color.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/light.py
  changelog.md
Due: Model Module

Add translations for duration
  aiohomematic/model/combined/timer.py
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  tests/test_model_combined.py
Due: Model Module

Unified field visibility in profile configs
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/profile.py
  changelog.md
  tests/contract/test_field_visibility_contract.py
Due: Model Module

Update test_model_combined.py
  tests/test_model_combined.py
Due: none

Unified field visibility in profile configs (#3015)
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/profile.py
  changelog.md
  tests/contract/test_field_visibility_contract.py
Due: Model Module

Add translations for duration (#3014)
  aiohomematic/model/combined/timer.py
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  tests/test_model_combined.py
Due: Model Module

**Python 3.14 minimum**: Dropped Python 3.13 support
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/workflows/docs.yml
  .github/workflows/issue-analyzer.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/test-run.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/model/data_point.py
  aiohomematic/model/week_profile.py
  aiohomematic/parameter_tools.py
  aiohomematic/schemas/device_description.py
  aiohomematic/schemas/parameter_description.py
  aiohomematic/support/text_utils.py
  aiohomematic_test_support/mock.py
  aiohomematic_test_support/pyproject.toml
  changelog.md
  docs/contributor/coding/docstring_standards.md
  docs/contributor/contributing.md
  docs/contributor/dev-environment.md
  docs/faq.md
  docs/quickstart.md
  pyproject.toml
  script/analyze_exports_usage.py
  script/lint_all_exports.py
  script/lint_package_imports.py
  script/scan_aiohomematic_calls.py
Due: Central Module, Client Module, Model Module

Active profile index on ClimateWeekProfile
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/week_profile.py
  changelog.md
  requirements_test.txt
Due: Model Module

**Python 3.14 minimum**: Dropped Python 3.13 support (#3004)
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/workflows/docs.yml
  .github/workflows/issue-analyzer.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/test-run.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/model/data_point.py
  aiohomematic/model/week_profile.py
  aiohomematic/parameter_tools.py
  aiohomematic/schemas/device_description.py
  aiohomematic/schemas/parameter_description.py
  aiohomematic/support/text_utils.py
  aiohomematic_test_support/mock.py
  aiohomematic_test_support/pyproject.toml
  changelog.md
  docs/contributor/coding/docstring_standards.md
  docs/contributor/contributing.md
  docs/contributor/dev-environment.md
  docs/faq.md
  docs/quickstart.md
  pyproject.toml
  script/analyze_exports_usage.py
  script/lint_all_exports.py
  script/lint_package_imports.py
  script/scan_aiohomematic_calls.py
Due: Central Module, Client Module, Model Module

Update changelog and version
  aiohomematic/const.py
  changelog.md
Due: none

Update requirements
  .pre-commit-config.yaml
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Handle security related issues
  aiohomematic/central/config.py
  aiohomematic/central/rpc_server.py
  aiohomematic/client/_rpc_errors.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Central Module, Client Module

Handle performance related issues
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/query_facade.py
  aiohomematic/central/scheduler.py
  changelog.md
Due: Central Module

Handle security related issues pt2
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/store/storage.py
  aiohomematic/strings.json
  aiohomematic/support/file_ops.py
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module, Store Module

Handle performance related issues pt2
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/json_rpc.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/combined/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/week_profile_data_point.py
  aiohomematic/parameter_tools.py
  changelog.md
Due: Central Module, Client Module, Model Module

Handle security related issues pt3
  aiohomematic/central/rpc_server.py
  aiohomematic/const.py
  aiohomematic/model/device.py
  aiohomematic/store/persistent/session.py
  aiohomematic/store/storage.py
  aiohomematic/strings.json
  aiohomematic/support/__init__.py
  aiohomematic/support/file_ops.py
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_central_cache_coordinator.py
Due: Central Module, Model Module, Store Module

Improve security and resource usage (#3019)
  aiohomematic/central/central_unit.py
  aiohomematic/central/config.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/query_facade.py
  aiohomematic/central/rpc_server.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/_rpc_errors.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/combined/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/week_profile_data_point.py
  aiohomematic/parameter_tools.py
  aiohomematic/store/persistent/session.py
  aiohomematic/store/storage.py
  aiohomematic/strings.json
  aiohomematic/support/__init__.py
  aiohomematic/support/file_ops.py
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_central_cache_coordinator.py
  tests/test_client_json_rpc_client.py
Due: Central Module, Client Module, Model Module, Store Module

Fix Health tracker central state sync
  aiohomematic/central/central_unit.py
  aiohomematic/central/health.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  changelog.md
Due: Central Module

Update health.py
  aiohomematic/central/health.py
Due: Central Module

Fix Health tracker central state sync (#3022)
  aiohomematic/central/central_unit.py
  aiohomematic/central/health.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  changelog.md
Due: Central Module

Update CLAUDE.md
  CLAUDE.md
Due: none

Fix config
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Cover capabilities
  aiohomematic/const.py
  aiohomematic/model/custom/capabilities/__init__.py
  aiohomematic/model/custom/capabilities/cover.py
  aiohomematic/model/custom/cover.py
  changelog.md
  tests/test_model_cover.py
Due: Model Module

Cover capabilities (#3026)
  aiohomematic/const.py
  aiohomematic/model/custom/capabilities/__init__.py
  aiohomematic/model/custom/capabilities/cover.py
  aiohomematic/model/custom/cover.py
  changelog.md
  tests/test_model_cover.py
Due: Model Module

Update docs
  docs/developer/consumer_api.md
  docs/developer/homematicip_local_api_usage.md
  docs/user/device_support.md
Due: none

Add data point quantity metadata
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/model/data_point.py
  aiohomematic/model/data_point_metadata.py
  aiohomematic/model/week_profile.py
  aiohomematic/property_decorators.py
  changelog.md
  docs/user/device_support.md
  tests/contract/test_property_decorator_contract.py
Due: Model Module

Add data point quantity metadata (#3027)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/model/data_point.py
  aiohomematic/model/data_point_metadata.py
  aiohomematic/model/week_profile.py
  aiohomematic/property_decorators.py
  changelog.md
  docs/user/device_support.md
  tests/contract/test_property_decorator_contract.py
Due: Model Module

Property `alt_name` support
  .github/SNIPPETS.md
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/device.py
  aiohomematic/property_decorators.py
  aiohomematic/support/mixins.py
  changelog.md
  tests/test_property_decorators.py
Due: Model Module

Add more alt_names
  aiohomematic/model/custom/climate.py
  aiohomematic/model/device.py
  changelog.md
Due: Model Module

Property `alt_name` support (#3028)
  .github/SNIPPETS.md
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/device.py
  aiohomematic/property_decorators.py
  aiohomematic/support/mixins.py
  changelog.md
  tests/test_property_decorators.py
Due: Model Module

from __future__ import annotations
  aiohomematic_test_support/__init__.py
  aiohomematic_test_support/const.py
  aiohomematic_test_support/event_capture.py
  aiohomematic_test_support/event_mock.py
  aiohomematic_test_support/factory.py
  aiohomematic_test_support/helper.py
  aiohomematic_test_support/mock.py
Due: none

Fix tests
  aiohomematic/central/connection_state.py
  aiohomematic/central/events/bus.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/interfaces/client.py
Due: Central Module, Client Module

Exact contract tests for payload key stability
  changelog.md
  tests/contract/test_property_decorator_contract.py
Due: none

Exact contract tests for payload key stability (#3030)
  changelog.md
  tests/contract/test_property_decorator_contract.py
Due: none

Add PayloadProtocol
  aiohomematic/_payload_protocol.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/support/mixins.py
  changelog.md
Due: none

Update central_unit.py
  aiohomematic/central/central_unit.py
Due: Central Module
