Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Coordinator migration pt9
  aiohomematic/central/__init__.py
  aiohomematic/central/health.py
  aiohomematic/central/scheduler.py
  aiohomematic/central/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
  tests/test_central_background_scheduler.py
Due: Central Module

Fix not ending test run
  aiohomematic/central/__init__.py
Due: Central Module

Fix not ending test run (#2572)
  aiohomematic/central/__init__.py
Due: Central Module

Replace 9 legacy events with 4 focused integration events
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/central/scheduler.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/store/dynamic.py
  aiohomematic_test_support/factory.py
  changelog.md
  docs/homematicip_local_api_usage.md
  docs/migrations/event_migration_2025_12.md
  script/scan_aiohomematic_calls.py
  tests/conftest.py
  tests/test_central.py
  tests/test_central_background_scheduler.py
  tests/test_central_event_bus.py
  tests/test_central_event_coordinator.py
  tests/test_central_state_machine.py
  tests/test_client.py
  tests/test_integration_reconnection.py
  tests/test_integration_scenarios.py
  tests/test_model_entity.py
  tests/test_model_event.py
  tests/test_store_dynamic_caches.py
Due: Central Module, Client Module, Model Module, Store Module

Update translations
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
Due: none

Replace 9 legacy events with 4 focused integration events (#2573)
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/central/scheduler.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/store/dynamic.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  aiohomematic_test_support/factory.py
  changelog.md
  docs/homematicip_local_api_usage.md
  docs/migrations/event_migration_2025_12.md
  script/scan_aiohomematic_calls.py
  tests/conftest.py
  tests/test_central.py
  tests/test_central_background_scheduler.py
  tests/test_central_event_bus.py
  tests/test_central_event_coordinator.py
  tests/test_central_state_machine.py
  tests/test_client.py
  tests/test_integration_reconnection.py
  tests/test_integration_scenarios.py
  tests/test_model_entity.py
  tests/test_model_event.py
  tests/test_store_dynamic_caches.py
Due: Central Module, Client Module, Model Module, Store Module

Update docstring
  aiohomematic/central/integration_events.py
Due: Central Module

Fix firmware data not updating after refresh
  aiohomematic/central/device_coordinator.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Fix firmware data not updating after refresh (#2574)
  aiohomematic/central/device_coordinator.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Fix central state
  aiohomematic/central/__init__.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Improve state machine
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/client/state_machine.py
  changelog.md
Due: Central Module, Client Module

Fix health tracker issue
  aiohomematic/central/__init__.py
  changelog.md
  tests/test_central_state_machine.py
Due: Central Module

Integrate health tracker
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/health.py
  aiohomematic/client/__init__.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
  tests/test_central.py
  tests/test_central_client_coordinator.py
  tests/test_central_event_coordinator.py
Due: Central Module, Client Module

Fix central state (#2575)
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/health.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
  tests/test_central.py
  tests/test_central_client_coordinator.py
  tests/test_central_event_coordinator.py
  tests/test_central_state_machine.py
Due: Central Module, Client Module

Rename
  CLAUDE.md
  aiohomematic/central/decorators.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/central/rpc_server.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/__init__.py
  changelog.md
  example.py
  example_state_machine_test.py
  tests/test_central_event_coordinator.py
  tests/test_client.py
  tests/test_model_hub_update.py
Due: Central Module, Model Module

Fix event creation
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
Due: Central Module

Update version
  aiohomematic/const.py
  changelog.md
Due: none

Update changelog.md
  changelog.md
Due: none

Fix event publication (#2577)
  CLAUDE.md
  aiohomematic/central/decorators.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/central/rpc_server.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/__init__.py
  changelog.md
  example.py
  example_state_machine_test.py
  tests/test_central_event_coordinator.py
  tests/test_client.py
  tests/test_model_hub_update.py
Due: Central Module, Model Module

Refactoring plan
  REFACTORING_PLAN.md
Due: none

Update docs
  CLAUDE.md
  docs/adr/0003-explicit-over-composite-protocol-injection.md
Due: none

Update AI manifests
  AGENTS.md
  CLAUDE.md
Due: none

Update AI manifests (#2581)
  AGENTS.md
  CLAUDE.md
Due: none

Rename Protocol classes to follow `-Protocol` suffix convention
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/client/__init__.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/calculated/climate.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/calculated/operating_voltage_level.py
  changelog.md
  docs/extension_points.md
  docs/migrations/central_state_machine_2025_12.md
  docs/sequence_diagrams.md
Due: Central Module, Client Module, Model Module

Rename Protocol classes to follow `-Protocol` suffix convention (#2582)
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/client/__init__.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/calculated/climate.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/calculated/operating_voltage_level.py
  changelog.md
  docs/extension_points.md
  docs/migrations/central_state_machine_2025_12.md
  docs/sequence_diagrams.md
Due: Central Module, Client Module, Model Module

Update CLAUDE.md
  CLAUDE.md
Due: none

Improve type safety by replacing `*args` and `**kwargs` with TypedDict
  aiohomematic/central/event_coordinator.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Central Module, Model Module

Improve type safety by replacing *args and **kwargs with TypedDict (#2583)
  CLAUDE.md
  aiohomematic/central/event_coordinator.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Central Module, Model Module

Add STATUS parameter support for data points
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/interfaces/operations.py
  aiohomematic/model/data_point.py
  aiohomematic/store/persistent.py
  changelog.md
Due: Central Module, Model Module, Store Module

Fix Event trigger
  aiohomematic/model/data_point.py
  changelog.md
Due: Model Module

Refactor `is_valid` property on data points
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Model Module

Fix tests
  aiohomematic/central/event_coordinator.py
  tests/test_model_calculated.py
Due: Central Module

Dev add status parameter (#2584)
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/interfaces/operations.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/store/persistent.py
  changelog.md
  tests/test_model_calculated.py
Due: Central Module, Model Module, Store Module

Improvement aiohomematic_test_support
  aiohomematic/const.py
  aiohomematic_test_support/const.py
  aiohomematic_test_support/data/device_translation.json
  aiohomematic_test_support/factory.py
  aiohomematic_test_support/mock.py
  changelog.md
Due: none

Improvement aiohomematic_test_support (#2585)
  aiohomematic/const.py
  aiohomematic_test_support/const.py
  aiohomematic_test_support/data/device_translation.json
  aiohomematic_test_support/factory.py
  aiohomematic_test_support/mock.py
  changelog.md
Due: none

Fix DataPointUpdatedCallbackEvent
  aiohomematic/central/event_bus.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  tests/test_model_entity.py
Due: Central Module, Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
