Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Delete docstring_audit.md
  docs/docstring_audit.md
Due: none

Switch from legacy wrapper to event bus naming
  CLAUDE.md
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/update.py
  changelog.md
  docs/event_bus_migration_guide.md
  tests/test_central.py
  tests/test_client.py
  tests/test_model_calculated.py
  tests/test_model_climate.py
  tests/test_model_device.py
  tests/test_model_entity.py
  tests/test_model_link_peers.py
  tests/test_model_update.py
Due: Client Module, Model Module

Update test_model_calculated.py
  tests/test_model_calculated.py
Due: none

Update test_model_update.py
  tests/test_model_update.py
Due: none

Fix tests
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/device.py
  tests/test_model_calculated.py
Due: Model Module

add emitter
  aiohomematic/central/__init__.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/update.py
Due: Central Module, Model Module

Fix tests
  aiohomematic/model/hub/__init__.py
  tests/test_central_device_coordinator.py
  tests/test_model_calculated.py
  tests/test_model_update.py
Due: Model Module

Update __init__.py
  aiohomematic/central/__init__.py
Due: Central Module

Fixes
  aiohomematic/interfaces.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  changelog.md
Due: Model Module

Fixes
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/type_aliases.py
  docs/event_bus_migration_guide.md
  docs/homeassistant_lifecycle.md
  tests/conftest.py
  tests/test_central_hub_coordinator.py
  tests/test_model_calculated.py
  tests/test_model_update.py
Due: Model Module

Fixes
  aiohomematic/model/device.py
  aiohomematic/model/week_profile.py
  aiohomematic/type_aliases.py
  aiohomematic_test_support/factory.py
  tests/test_async_support.py
  tests/test_model_entity.py
  tests/test_model_link_peers.py
  tests/test_model_update.py
Due: Model Module

Fixes
  CLAUDE.md
  docs/api/interfaces.rst
  docs/architecture.md
  docs/event_bus_migration_guide.md
  docs/homeassistant_lifecycle.md
Due: none

Update docs
  CLAUDE.md
  docs/architecture.md
  docs/data_flow.md
  docs/extension_points.md
  docs/homeassistant_lifecycle.md
Due: none

Update doc strings
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/device.py
Due: Model Module

update module docs
  aiohomematic/model/data_point.py
  aiohomematic/model/event.py
Due: Model Module

Update docs (#2497)
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
Due: Model Module

Improve event processing
  README.md
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic_test_support/factory.py
  changelog.md
  tests/test_central_event_bus.py
  tests/test_model_calculated.py
  tests/test_model_entity.py
  tests/test_model_update.py
Due: Central Module, Model Module

Update event_bus.py
  aiohomematic/central/event_bus.py
Due: Central Module

Dev improve event handling (#2498)
  README.md
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic_test_support/factory.py
  changelog.md
  tests/test_central_event_bus.py
  tests/test_model_calculated.py
  tests/test_model_entity.py
  tests/test_model_update.py
Due: Central Module, Model Module

Update version
  changelog.md
Due: none

Add backend detection
  aiohomematic/backend_detection.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/backend_detection.md
  tests/test_backend_detection.py
Due: Client Module

Use CentralConnectionState in AioJsonRpcAioHttpClient
  aiohomematic/backend_detection.py
  aiohomematic/client/json_rpc.py
  changelog.md
Due: Client Module

Add backend detection (#2499)
  aiohomematic/backend_detection.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/backend_detection.md
  tests/test_backend_detection.py
Due: Client Module

Delete codeql.yml
  .github/workflows/codeql.yml
Due: none

Delete codeql.yml (#2500)
  .github/workflows/codeql.yml
Due: none

Update example.py
  example.py
Due: none

Update example.py (#2501)
  example.py
Due: none

Avoid potential memory leaks
  aiohomematic/central/__init__.py
  aiohomematic/central/decorators.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/const.py
  aiohomematic/store/dynamic.py
  changelog.md
Due: Central Module, Store Module

Clear in-memory caches on stop
  aiohomematic/central/__init__.py
  aiohomematic/central/cache_coordinator.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/visibility.py
  changelog.md
Due: Central Module, Store Module

Avoid potential memory leaks (#2502)
  aiohomematic/central/__init__.py
  aiohomematic/central/cache_coordinator.py
  aiohomematic/central/decorators.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/const.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/visibility.py
  changelog.md
Due: Central Module, Store Module

Extend backend detection
  aiohomematic/backend_detection.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/support.py
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_backend_detection.py
Due: none

fix tests
  aiohomematic/central/__init__.py
  aiohomematic/support.py
  aiohomematic/validator.py
  tests/test_support.py
Due: Central Module

Extend backend detection (#2503)
  aiohomematic/backend_detection.py
  aiohomematic/central/__init__.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/support.py
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  aiohomematic/validator.py
  changelog.md
  tests/test_backend_detection.py
  tests/test_support.py
Due: Central Module

Use AioXmlRpcProxy for backend detection
  aiohomematic/backend_detection.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/support.py
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_backend_detection.py
Due: none

Use AioXmlRpcProxy for backend detection (#2504)
  aiohomematic/backend_detection.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/support.py
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_backend_detection.py
Due: none

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
