Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

ci: make the godevccu test job blocking
  .github/workflows/test-run.yaml
  changelog.md
  docs/plans/godevccu_test_backend_2026_10.md
Due: none

ci: make the godevccu test job blocking (#3431)
  .github/workflows/test-run.yaml
  changelog.md
  docs/plans/godevccu_test_backend_2026_10.md
Due: none

Update req
  .pre-commit-config.yaml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

chore: drop suppressions pylint 4.1.1 reports as useless
  aiohomematic/client/backends/protocol.py
  aiohomematic/model/custom/data_point.py
Due: Client Module, Model Module

release: 2026.10.1
  aiohomematic/const.py
  changelog.md
  docs/migrations/godevccu_migration_2026_10.md
  docs/migrations/index.md
Due: none

release: 2026.10.1 (#3433)
  aiohomematic/const.py
  changelog.md
  docs/migrations/godevccu_migration_2026_10.md
  docs/migrations/index.md
Due: none

fix: ship device descriptions in the aiohomematic_test_support wheel
  aiohomematic/const.py
  aiohomematic_test_support/pyproject.toml
  changelog.md
  tests/test_test_support_packaging.py
Due: none

fix: ship device descriptions in the aiohomematic_test_support wheel (#3434)
  aiohomematic/const.py
  aiohomematic_test_support/pyproject.toml
  changelog.md
  tests/test_test_support_packaging.py
Due: none

docs: use the session recorder settings that exist, metrics need none
  CLAUDE.md
  docs/contributor/dev-environment.md
  docs/plans/godevccu_leading_2026_10.md
Due: none

docs: use the session recorder settings that exist, metrics need none (#3435)
  CLAUDE.md
  docs/contributor/dev-environment.md
  docs/plans/godevccu_leading_2026_10.md
Due: none

feat: CCUType.OPENCCU_LITE names an openccu-lite system
  aiohomematic/const.py
  changelog.md
  tests/test_backend_openccu.py
Due: none

fix: a backend answer without a product is reported as unknown, not as a CCU
  aiohomematic/client/json_rpc.py
  changelog.md
  tests/test_backend_openccu.py
Due: Client Module

feat: CCUType.OPENCCU_LITE; fix: a backend answer without a product is unknown (2026.10.3) (#3436)
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
  tests/test_backend_openccu.py
Due: Client Module

docs(user): add backend feature matrix and OpenCCU-only backup note
  docs/user/features/backup.de.md
  docs/user/features/backup.md
  docs/user/homeassistant_integration.de.md
  docs/user/homeassistant_integration.md
Due: none

docs(user): add backend feature matrix and OpenCCU-only backup note (#3442)
  docs/user/features/backup.de.md
  docs/user/features/backup.md
  docs/user/homeassistant_integration.de.md
  docs/user/homeassistant_integration.md
Due: none

fix(client): initialize BidCos diagnostics and stop throttle workers
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/sensor.py
  changelog.md
  tests/test_interface_client_lifecycle.py
  tests/test_model_data_point.py
  tests/test_model_sensor.py
Due: Client Module, Model Module

refactor(model): route BidCos diagnostic fallback through value cache
  aiohomematic/interfaces/client.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  tests/test_model_data_point.py
Due: Model Module

fix(client): address review feedback
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/generic/sensor.py
  changelog.md
  tests/test_model_data_point.py
  tests/test_model_sensor.py
Due: Model Module

fix(client): propagate caller cancellation in CommandThrottle.stop_and_wait
  aiohomematic/client/command_throttle.py
  tests/test_command_throttle.py
Due: Client Module

fix(client): stop the command throttle worker when a client stops (2026.10.4) (#3443)
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  changelog.md
  tests/test_command_throttle.py
  tests/test_interface_client_lifecycle.py
Due: Client Module

fix(model): read LOWBAT for DeviceAvailability.low_battery
  aiohomematic/model/availability.py
  aiohomematic/model/device.py
  changelog.md
  docs/developer/consumer_api.md
  tests/test_model_device.py
Due: Model Module

docs(user): signal quality table shows RSSI Device and RSSI Peer
  docs/user/features/config_panel.de.md
  docs/user/features/config_panel.md
Due: none

fix(model): read LOWBAT for DeviceAvailability.low_battery (2026.10.4) (#3444)
  aiohomematic/model/availability.py
  aiohomematic/model/device.py
  changelog.md
  docs/developer/consumer_api.md
  docs/user/features/config_panel.de.md
  docs/user/features/config_panel.md
  tests/test_model_device.py
Due: Model Module

Update requirements
  requirements.txt
  requirements_test.txt
Due: none

fix(model): a dimmer's last level no longer drifts down with every off/on cycle (2026.10.5)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  changelog.md
  docs/architecture/value_resolution.md
  tests/test_model_light.py
Due: Model Module

fix(model): a dimmer's last level no longer drifts down with every off/on cycle (2026.10.5) (#3446)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  changelog.md
  docs/architecture/value_resolution.md
  tests/test_model_light.py
Due: Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
