Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Add PayloadProtocol (#3031)
  aiohomematic/_payload_protocol.py
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/support/mixins.py
  changelog.md
Due: Central Module

Connection recovery heartbeat not starting after startup failure
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
  tests/test_connection_recovery.py
Due: Central Module

Update mkdocs.yml
  mkdocs.yml
Due: none

Connection recovery heartbeat not starting after startup failure (#3036)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
  mkdocs.yml
  tests/test_connection_recovery.py
Due: Central Module

Update docs with user features
  docs/index.md
  docs/user/features/optimistic_updates.md
Due: none

Update requirements
  .pre-commit-config.yaml
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Use certifi CA bundle when available
  aiohomematic/const.py
  aiohomematic/support/__init__.py
  changelog.md
  docs/user/features/optimistic_updates.md
  tests/test_support.py
Due: none

Use certifi CA bundle when available (#3043)
  aiohomematic/const.py
  aiohomematic/support/__init__.py
  changelog.md
  docs/user/features/optimistic_updates.md
  tests/test_support.py
Due: none

Skip optimistic updates for action data points
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  changelog.md
  tests/contract/test_optimistic_updates_contract.py
Due: Model Module

Skip optimistic updates for action data points (#3045)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  changelog.md
  tests/contract/test_optimistic_updates_contract.py
Due: Model Module

Include hidden and device-level channels with MASTER paramset in configuration
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/const.py
  changelog.md
  tests/test_configuration_coordinator.py
Due: Central Module

Show read-only MASTER parameters in device configuration
  aiohomematic/central/coordinators/configuration.py
  changelog.md
  requirements_test.txt
  tests/test_configuration_coordinator.py
Due: Central Module

Include hidden and device-level channels with MASTER paramset in configuration (#3046)
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/const.py
  changelog.md
  requirements_test.txt
  tests/test_configuration_coordinator.py
Due: Central Module

Add `resolve_channel_type` for HmIP translation lookups
  .pre-commit-config.yaml
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  changelog.md
  tests/test_ccu_translations.py
Due: none

Add `resolve_channel_type` for HmIP translation lookups (#3048)
  .pre-commit-config.yaml
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  changelog.md
  tests/test_ccu_translations.py
Due: none

Skip duplicate optimistic sends for identical values
  aiohomematic/const.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_optimistic_updates.py
Due: Model Module, Store Module

Skip duplicate optimistic sends for identical values (#3050)
  aiohomematic/const.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_optimistic_updates.py
Due: Model Module, Store Module

Add custom translations for `sample_interval` parameters
  aiohomematic/const.py
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  changelog.md
Due: none

Extract additional parameter translations
  .pre-commit-config.yaml
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  aiohomematic/translations/ccu_extract/device_models_de.json
  aiohomematic/translations/ccu_extract/device_models_en.json
  aiohomematic/translations/ccu_extract/parameter_help_de.json
  aiohomematic/translations/ccu_extract/parameter_help_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  script/extract_ccu_translations.py
Due: none

Add custom parameter translations
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  changelog.md
Due: none

Extract additional parameter translations (#3051)
  .pre-commit-config.yaml
  aiohomematic/const.py
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  aiohomematic/translations/ccu_extract/device_models_de.json
  aiohomematic/translations/ccu_extract/device_models_en.json
  aiohomematic/translations/ccu_extract/parameter_help_de.json
  aiohomematic/translations/ccu_extract/parameter_help_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  script/extract_ccu_translations.py
Due: none

Update test_configuration_coordinator.py
  tests/test_configuration_coordinator.py
Due: none

Fix extraction
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  script/extract_ccu_translations.py
Due: none

Extract easymode TCL inline option value translations
  aiohomematic/ccu_translations.py
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  changelog.md
  script/extract_ccu_translations.py
Due: none

Update requirements_test.txt
  requirements_test.txt
Due: none

Fix extract
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  script/extract_ccu_translations.py
Due: none

Fix unescape
  script/extract_ccu_translations.py
Due: none

Fix extract
  aiohomematic/translations/ccu_custom/parameter_values_de.json
  aiohomematic/translations/ccu_custom/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameter_help_de.json
  aiohomematic/translations/ccu_extract/parameter_help_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  script/extract_ccu_translations.py
Due: none

Extract ccu_data
  aiohomematic/ccu_data/easymode_extract.json.gz
  aiohomematic/ccu_data/translation_extract.json.gz
  script/extract_ccu_easymodes.py
Due: none

Update version
  aiohomematic/const.py
  changelog.md
Due: none

Improve *Messages
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/capabilities.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/alarm_messages.py
  aiohomematic/model/hub/hub.py
  aiohomematic/model/hub/service_messages.py
  aiohomematic/rega_scripts/get_alarm_messages.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_central_hub_coordinator.py
Due: Central Module, Client Module, Model Module

Add tests
  tests/test_hub_messages.py
  tests/test_interface_client_backends.py
Due: none

Improve *Messages (#3055)
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/capabilities.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/alarm_messages.py
  aiohomematic/model/hub/hub.py
  aiohomematic/model/hub/service_messages.py
  aiohomematic/rega_scripts/get_alarm_messages.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_central_hub_coordinator.py
  tests/test_hub_messages.py
  tests/test_interface_client_backends.py
Due: Central Module, Client Module, Model Module

Acknowledge messages
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/acknowledge_message.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module

Acknowledge messages (#3056)
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/acknowledge_message.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module

Add tests
  tests/test_central.py
  tests/test_client_json_rpc_client.py
  tests/test_connection_recovery.py
  tests/test_interface_client_lifecycle.py
  tests/test_model_device.py
Due: none
