Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Update lint_delegated_property.py
  script/lint_delegated_property.py
Due: none

Add DP004 path validation to lint-delegated-property
  changelog.md
  release_summary.md
Due: none

Replace `IN_SERVICE_VAR` with `RequestContext
  aiohomematic/context.py
  aiohomematic/decorators.py
  aiohomematic/model/data_point.py
  changelog.md
  tests/test_decorators.py
Due: Model Module

Added DP005 linter check (script/lint_delegated_property.py)
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/device.py
  aiohomematic/property_decorators.py
  changelog.md
  script/lint_delegated_property.py
Due: Model Module

Fixes
  aiohomematic/property_decorators.py
  changelog.md
  tests/test_property_decorators.py
Due: none

Replace IN_SERVICE_VAR with RequestContext (#2620)
  aiohomematic/context.py
  aiohomematic/decorators.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/property_decorators.py
  changelog.md
  script/lint_delegated_property.py
  tests/test_decorators.py
  tests/test_property_decorators.py
Due: Model Module

Enhance `sort_class_members.py` for property assignments
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/dummy.py
  changelog.md
  script/sort_class_members.py
Due: Model Module

Enhance `sort_class_members.py` for property assignments (#2621)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/dummy.py
  changelog.md
  script/sort_class_members.py
Due: Model Module

Refactor ParameterVisibilityCache for improved clarity and maintainability
  aiohomematic/const.py
  aiohomematic/store/visibility.py
  aiohomematic/store/visibility/__init__.py
  aiohomematic/store/visibility/cache.py
  aiohomematic/store/visibility/parser.py
  aiohomematic/store/visibility/rules.py
  changelog.md
Due: Store Module

Restructure store package into organized sub-packages
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/store/__init__.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/dynamic/__init__.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/store/dynamic/details.py
  aiohomematic/store/dynamic/ping_pong.py
  aiohomematic/store/persistent.py
  aiohomematic/store/persistent/__init__.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  aiohomematic/store/persistent/session.py
  aiohomematic/store/serialization.py
  aiohomematic/store/types.py
  aiohomematic_test_support/mock.py
  changelog.md
  docs/architecture_analysis.md
  release_summary.md
  tests/test_central.py
  tests/test_store_dynamic_caches.py
  tests/test_store_persistent.py
Due: Store Module

Restructure store package into organized sub-packages (#2623)
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/store/__init__.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/dynamic/__init__.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/store/dynamic/details.py
  aiohomematic/store/dynamic/ping_pong.py
  aiohomematic/store/persistent.py
  aiohomematic/store/persistent/__init__.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  aiohomematic/store/persistent/session.py
  aiohomematic/store/serialization.py
  aiohomematic/store/types.py
  aiohomematic/store/visibility.py
  aiohomematic/store/visibility/__init__.py
  aiohomematic/store/visibility/cache.py
  aiohomematic/store/visibility/parser.py
  aiohomematic/store/visibility/rules.py
  aiohomematic_test_support/mock.py
  changelog.md
  docs/architecture_analysis.md
  release_summary.md
  tests/test_central.py
  tests/test_store_dynamic_caches.py
  tests/test_store_persistent.py
Due: Store Module

Update docs
  docs/architecture.md
  docs/architecture_analysis.md
  docs/homematicip_local_api_usage.md
Due: none

Fix version
  aiohomematic/const.py
  changelog.md
  docs/architecture_analysis.md
  docs/homematicip_local_api_usage.md
Due: none

Add missing license header #2
  LICENSE
  README.md
  aiohomematic/store/visibility/rules.py
  aiohomematic_test_support/pyproject.toml
  script/check_i18n.py
  script/check_i18n_catalogs.py
  script/lint_delegated_property.py
  script/lint_kwonly.py
  script/lint_rega_scripts.py
  script/normalize_changelog.py
  script/sort_class_members.py
  script/test_profile.py
Due: Store Module

Add custom HmIP-WRCD (Wall-mount Remote Control with Display) support
  .pre-commit-config.yaml
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/store/visibility/rules.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
  tests/test_model_text_display.py
Due: Model Module, Store Module

Update release_summary.md
  release_summary.md
Due: none

Add custom HmIP-WRCD (Wall-mount Remote Control with Display) support (#2624)
  .pre-commit-config.yaml
  LICENSE
  README.md
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/store/visibility/rules.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  aiohomematic_test_support/pyproject.toml
  changelog.md
  release_summary.md
  script/check_i18n.py
  script/check_i18n_catalogs.py
  script/lint_delegated_property.py
  script/lint_kwonly.py
  script/lint_rega_scripts.py
  script/normalize_changelog.py
  script/sort_class_members.py
  script/test_profile.py
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
  tests/test_model_text_display.py
Due: Model Module, Store Module

Add HmIP-MP3P (Combined signal generator) support
  .pre-commit-config.yaml
  aiohomematic/const.py
  aiohomematic/model/__init__.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/siren.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  release_summary.md
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
  tests/test_model_sound_player.py
Due: Model Module

Fixes
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/siren.py
  tests/test_model_sound_player.py
Due: Model Module

Add HmIP-MP3P (Combined signal generator) support (#2626)
  .pre-commit-config.yaml
  aiohomematic/const.py
  aiohomematic/model/__init__.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/siren.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  release_summary.md
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
  tests/test_model_sound_player.py
Due: Model Module

Fix HmIP-WRCD
  aiohomematic/model/custom/text_display.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  tests/test_model_text_display.py
Due: Model Module

Fix HmIP-WRCD (#2627)
  aiohomematic/model/custom/text_display.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  tests/test_model_text_display.py
Due: Model Module

Hide fields for text display
  aiohomematic/model/custom/profile.py
Due: Model Module

Add `fixed_channel_fields` / `visible_fixed_channel_fields` to `ChannelGroupConfig`
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/text_display.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
Due: Model Module

Expose `burst_limit_warning` property
  aiohomematic/model/custom/text_display.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Model Module

Add `fixed_channel_fields` / `visible_fixed_channel_fields` to `ChannelGroupConfig` (#2629)
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
Due: Model Module

Fix test_display
  aiohomematic/model/custom/text_display.py
Due: Model Module

Fix test_display (#2631)
  aiohomematic/model/custom/text_display.py
Due: Model Module

Fix conversion error for empty numeric values
  aiohomematic/model/custom/cover.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Model Module

Fix conversion error for empty numeric values (#2632)
  aiohomematic/model/custom/cover.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Model Module

**HmIP-WRCD**: Rewrite `send_text()` to use individual data points instead of COMBINED_PARAMETER
  aiohomematic/const.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
  tests/test_model_text_display.py
Due: Model Module, Store Module

Cleanup Unignore List
  aiohomematic/store/visibility/rules.py
Due: Store Module

HmIP-WRCD: Rewrite `send_text()` to use individual data points instead of COMBINED_PARAMETER (#2633)
  aiohomematic/const.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
  tests/test_model_text_display.py
Due: Model Module, Store Module

Fix cover/dimmer `is_valid` returning False after restart
  aiohomematic/model/data_point.py
  changelog.md
Due: Model Module

Fix cover/dimmer `is_valid` returning False after restart (#2634)
  aiohomematic/model/data_point.py
  changelog.md
Due: Model Module

Update docs
  docs/adr/0001-circuit-breaker-and-connection-state.md
  docs/adr/0004-thread-based-xml-rpc-server.md
  docs/adr/0007-device-slots-reduction-rejected.md
  docs/adr/0010-protocol-combination-analysis.md
  docs/architecture.md
  docs/architecture_review_2025_12.md
Due: none

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
