Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

#2
  aiohomematic/client/json_rpc.py
  aiohomematic/store/persistent.py
  aiohomematic/support.py
  aiohomematic_test_support/mock.py
Due: Client Module, Store Module

Update full_session_randomized_ccu.zip
  aiohomematic_test_support/data/full_session_randomized_ccu.zip
Due: none

Update version
  aiohomematic/const.py
  changelog.md
Due: none

Improve backend detection
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/get_backend_info.fn
Due: Client Module

Update changelog.md
  changelog.md
Due: none

Add basic rega script linter to ensure support for session recorder
  .pre-commit-config.yaml
  aiohomematic/rega_scripts/accept_device_in_inbox.fn
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  aiohomematic/rega_scripts/set_program_state.fn
  aiohomematic/rega_scripts/set_system_variable.fn
  changelog.md
  script/lint_rega_scripts.py
  tests/test_lint_rega_scripts.py
Due: none

Cleanup scripts for recorder (#2548)
  .pre-commit-config.yaml
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/accept_device_in_inbox.fn
  aiohomematic/rega_scripts/create_backup_start.fn
  aiohomematic/rega_scripts/create_backup_status.fn
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  aiohomematic/rega_scripts/get_backend_info.fn
  aiohomematic/rega_scripts/get_inbox_devices.fn
  aiohomematic/rega_scripts/get_program_descriptions.fn
  aiohomematic/rega_scripts/get_serial.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/get_system_variable_descriptions.fn
  aiohomematic/rega_scripts/set_program_state.fn
  aiohomematic/rega_scripts/set_system_variable.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  aiohomematic/store/persistent.py
  aiohomematic/support.py
  aiohomematic_test_support/data/full_session_randomized_ccu.zip
  aiohomematic_test_support/mock.py
  changelog.md
  script/lint_rega_scripts.py
  tests/test_lint_rega_scripts.py
Due: Client Module, Store Module

Various architectural improvements
  aiohomematic/api.py
  aiohomematic/async_support.py
  aiohomematic/central/__init__.py
  aiohomematic/central/decorators.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/device_registry.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/rpc_server.py
  aiohomematic/central/scheduler.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/hub/install_mode.py
  aiohomematic/model/update.py
  aiohomematic/type_aliases.py
  aiohomematic_test_support/factory.py
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_central_device_coordinator.py
  tests/test_central_device_registry.py
  tests/test_error_scenarios.py
  tests/test_model_calculated.py
  tests/test_model_update.py
Due: Central Module, Model Module

Various architectural improvements (#2549)
  aiohomematic/api.py
  aiohomematic/async_support.py
  aiohomematic/central/__init__.py
  aiohomematic/central/decorators.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/device_registry.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/rpc_server.py
  aiohomematic/central/scheduler.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/hub/install_mode.py
  aiohomematic/model/update.py
  aiohomematic/type_aliases.py
  aiohomematic_test_support/factory.py
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_central_device_coordinator.py
  tests/test_central_device_registry.py
  tests/test_error_scenarios.py
  tests/test_model_calculated.py
  tests/test_model_update.py
Due: Central Module, Model Module

Add ClientDependencies composite protocol for decoupled client architecture
  aiohomematic/central/__init__.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/persistent.py
  changelog.md
Due: Central Module, Client Module, Store Module

update device docs
  aiohomematic/model/device.py
Due: Model Module

Create architecture_analysis.md
  docs/architecture_analysis.md
Due: none

Add ClientDependencies composite protocol for decoupled client architecture (#2550)
  aiohomematic/central/__init__.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/device.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/persistent.py
  changelog.md
  docs/architecture_analysis.md
Due: Central Module, Client Module, Model Module, Store Module

Document interfaces
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/operations.py
Due: none

Document interfaces (#2551)
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/operations.py
Due: none

Fix return types
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  changelog.md
Due: Central Module, Client Module

Fix return types (#2552)
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  changelog.md
Due: Central Module, Client Module

Refactor ClientCCU into specialized handler classes
  aiohomematic/central/client_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/__init__.py
  aiohomematic/client/handlers/backup.py
  aiohomematic/client/handlers/base.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/handlers/firmware.py
  aiohomematic/client/handlers/link_mgmt.py
  aiohomematic/client/handlers/metadata.py
  aiohomematic/client/handlers/programs.py
  aiohomematic/client/handlers/sysvars.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic_test_support/mock.py
  changelog.md
  docs/architecture.md
  tests/test_central.py
  tests/test_client.py
Due: Central Module, Client Module, Model Module

Update docs
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/event_bus.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/handlers/firmware.py
  aiohomematic/client/handlers/link_mgmt.py
  aiohomematic/client/handlers/metadata.py
  aiohomematic/client/handlers/programs.py
  aiohomematic/client/handlers/sysvars.py
  aiohomematic/client/state_machine.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/data_point.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/persistent.py
  aiohomematic_test_support/mock.py
  changelog.md
  docs/sequence_diagrams.md
Due: Central Module, Client Module, Model Module, Store Module

Refactor ClientCCU into specialized handler classes (#2554)
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/event_bus.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/__init__.py
  aiohomematic/client/handlers/backup.py
  aiohomematic/client/handlers/base.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/handlers/firmware.py
  aiohomematic/client/handlers/link_mgmt.py
  aiohomematic/client/handlers/metadata.py
  aiohomematic/client/handlers/programs.py
  aiohomematic/client/handlers/sysvars.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/data_point.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/persistent.py
  aiohomematic_test_support/mock.py
  changelog.md
  docs/architecture.md
  docs/sequence_diagrams.md
  tests/test_central.py
  tests/test_client.py
Due: Central Module, Client Module, Model Module, Store Module

Various architectural improvements
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/client/__init__.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0001-circuit-breaker-and-connection-state.md
  docs/adr/0002-protocol-based-dependency-injection.md
  docs/adr/0003-explicit-over-composite-protocol-injection.md
  docs/adr/0004-thread-based-xml-rpc-server.md
  docs/adr/0005-unbounded-parameter-visibility-cache.md
  docs/adr/0006-event-system-priorities-and-batching.md
  docs/adr/0007-device-slots-reduction-rejected.md
  docs/adr/0008-taskgroup-migration-deferred.md
  docs/architecture.md
  docs/migrations/protocol_subprotocols_2025_12.md
  docs/sequence_diagrams.md
  script/check_i18n.py
Due: Central Module, Client Module, Model Module

Various architectural improvements (#2555)
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/client/__init__.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0001-circuit-breaker-and-connection-state.md
  docs/adr/0002-protocol-based-dependency-injection.md
  docs/adr/0003-explicit-over-composite-protocol-injection.md
  docs/adr/0004-thread-based-xml-rpc-server.md
  docs/adr/0005-unbounded-parameter-visibility-cache.md
  docs/adr/0006-event-system-priorities-and-batching.md
  docs/adr/0007-device-slots-reduction-rejected.md
  docs/adr/0008-taskgroup-migration-deferred.md
  docs/architecture.md
  docs/migrations/protocol_subprotocols_2025_12.md
  docs/sequence_diagrams.md
  script/check_i18n.py
Due: Central Module, Client Module, Model Module

Update architecture analysis
  docs/architecture_analysis.md
Due: none

Update architecture_analysis.md
  docs/architecture_analysis.md
Due: none

Update architecture_analysis.md (#2556)
  docs/architecture_analysis.md
Due: none

Add CircuitBreaker integration to JSON-RPC client
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

Add RequestCoalescer for get_device_description in DeviceOperationsHandler
  aiohomematic/client/handlers/device_ops.py
  changelog.md
Due: Client Module

Split ClientProtocol (85 members) into 14 focused sub-protocols
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/backup.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/handlers/firmware.py
  aiohomematic/client/handlers/link_mgmt.py
  aiohomematic/client/handlers/metadata.py
  aiohomematic/client/handlers/programs.py
  aiohomematic/client/handlers/sysvars.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  changelog.md
  tests/test_client.py
Due: Client Module

Add CentralProtocol composite protocol combining 29 sub-protocols
  aiohomematic/central/__init__.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/test_central_hub_coordinator.py
Due: Central Module

Add CircuitBreaker integration to JSON-RPC client (#2557)
  aiohomematic/central/__init__.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/backup.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/handlers/firmware.py
  aiohomematic/client/handlers/link_mgmt.py
  aiohomematic/client/handlers/metadata.py
  aiohomematic/client/handlers/programs.py
  aiohomematic/client/handlers/sysvars.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/test_central_hub_coordinator.py
  tests/test_client.py
  tests/test_client_json_rpc_client.py
Due: Central Module, Client Module

Refactor components to use combined sub-protocols
  aiohomematic/central/cache_coordinator.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/persistent.py
  changelog.md
Due: Central Module, Model Module, Store Module

Update homeassistant_troubleshooting.md
  docs/homeassistant_troubleshooting.md
Due: none

Refactor components to use combined sub-protocols (#2558)
  aiohomematic/central/cache_coordinator.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/store/dynamic.py
  aiohomematic/store/persistent.py
  changelog.md
  docs/homeassistant_troubleshooting.md
Due: Central Module, Model Module, Store Module

Add BackupData dataclass with filename and content for backup downloads
  aiohomematic/central/__init__.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/backup.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
Due: Central Module, Client Module

Add firmware update support for OpenCCU/RaspberryMatic
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module, Model Module

Fix script usage
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
Due: none

Fix script usage
  aiohomematic/client/json_rpc.py
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
Due: Client Module

Improve backup & firmware update (#2559)
  aiohomematic/central/__init__.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/backup.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Central Module, Client Module, Model Module

Fix excessive ERROR logging during CCU restart/reconnect
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  changelog.md
Due: Client Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
