Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Fix excessive ERROR logging during CCU restart/reconnect (#2560)
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  changelog.md
Due: Client Module

Improve connection loss related behaviour
  aiohomematic/api.py
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/store/dynamic.py
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_client.py
  tests/test_integration_scenarios.py
Due: Central Module, Client Module, Model Module, Store Module

Improve connection loss related behaviour (#2561)
  aiohomematic/api.py
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/store/dynamic.py
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_client.py
  tests/test_integration_scenarios.py
Due: Central Module, Client Module, Model Module, Store Module

Add glossary
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .pre-commit-config.yaml
  README.md
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/rega_scripts/create_backup_start.fn
  aiohomematic/rega_scripts/get_backend_info.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  changelog.md
  docs/README.md
  docs/architecture.md
  docs/common_operations.md
  docs/data_flow.md
  docs/getting_started.md
  docs/glossary.md
  docs/homeassistant_lifecycle.md
  docs/homeassistant_troubleshooting.md
  docs/naming.md
  docs/unignore.md
  requirements_test.txt
Due: Client Module, Model Module

Add glossary (#2562)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .pre-commit-config.yaml
  README.md
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/rega_scripts/create_backup_start.fn
  aiohomematic/rega_scripts/get_backend_info.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  changelog.md
  docs/README.md
  docs/architecture.md
  docs/common_operations.md
  docs/data_flow.md
  docs/getting_started.md
  docs/glossary.md
  docs/homeassistant_lifecycle.md
  docs/homeassistant_troubleshooting.md
  docs/naming.md
  docs/unignore.md
  requirements_test.txt
Due: Client Module, Model Module

Reduce INFO-level log noise during reconnection
  aiohomematic/client/circuit_breaker.py
  aiohomematic/const.py
  changelog.md
  docs/i18n_management.md
  script/check_i18n_catalogs.py
  tests/test_support.py
Due: Client Module

Add progress tracking for hub firmware updates
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/model/hub/update.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_model_hub_update.py
Due: Model Module

Reduce INFO-level log noise during reconnection (#2563)
  CLAUDE.md
  aiohomematic/client/circuit_breaker.py
  aiohomematic/const.py
  aiohomematic/model/hub/update.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/i18n_management.md
  script/check_i18n_catalogs.py
  tests/test_model_hub_update.py
  tests/test_support.py
Due: Client Module, Model Module

Fix entities remaining unavailable after CCU reconnect
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/hub/update.py
  changelog.md
  tests/test_model_hub_update.py
Due: Client Module, Model Module

Fix entities remaining unavailable after CCU reconnect (#2564)
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/hub/update.py
  changelog.md
  tests/test_model_hub_update.py
Due: Client Module, Model Module

Fix changelog
  changelog.md
Due: none

Improve re-connect
  aiohomematic/central/__init__.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/exceptions.py
  aiohomematic/interfaces/client.py
  aiohomematic/retry.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  aiohomematic_test_support/mock.py
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_client.py
  tests/test_client_xml_rpc_proxy.py
Due: Central Module, Client Module

Update changelog.md
  changelog.md
Due: none

Improve re-connect (#2565)
  aiohomematic/central/__init__.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/exceptions.py
  aiohomematic/interfaces/client.py
  aiohomematic/retry.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  aiohomematic_test_support/mock.py
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_client.py
  tests/test_client_xml_rpc_proxy.py
Due: Central Module, Client Module

Add integration tests
  tests/benchmarks/test_device_scaling.py
  tests/test_integration_reconnection.py
Due: none

Update test_model_text.py
  tests/test_model_text.py
Due: none

Add re-connect tests (#2566)
  tests/benchmarks/test_device_scaling.py
  tests/test_integration_reconnection.py
  tests/test_model_text.py
Due: none

New Central State Machine architecture for improved reconnection reliability
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/health.py
  aiohomematic/central/recovery.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/__init__.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
  docs/architecture.md
  docs/sequence_diagrams.md
  tests/test_central_state_machine.py
  tests/test_client.py
Due: Central Module, Client Module

State Machine Test Example for aiohomematic
  .github/scripts/analyze_issue.py
  .gitignore
  aiohomematic/central/event_bus.py
  example_state_machine_test.py
  script/set_ccu_env.sh
Due: Central Module

Update example_state_machine_test.py
  example_state_machine_test.py
Due: none

Update device.py
  aiohomematic/model/device.py
Due: Model Module

New Central State Machine architecture for improved reconnection reliability (#2567)
  .github/scripts/analyze_issue.py
  .gitignore
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/health.py
  aiohomematic/central/recovery.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/__init__.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/device.py
  changelog.md
  docs/architecture.md
  docs/sequence_diagrams.md
  example_state_machine_test.py
  script/set_ccu_env.sh
  tests/test_central_state_machine.py
  tests/test_client.py
Due: Central Module, Client Module, Model Module

Fix re-connect
  aiohomematic/central/__init__.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/common_operations.md
  docs/getting_started.md
  docs/migrations/central_state_machine_2025_12.md
  tests/test_client_xml_rpc_proxy.py
Due: Central Module, Client Module

Fix flaky test: use robust assertion for i18n-dependent message
  tests/test_client_xml_rpc_proxy.py
Due: none

Fix re-connect (#2568)
  aiohomematic/central/__init__.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/common_operations.md
  docs/getting_started.md
  docs/migrations/central_state_machine_2025_12.md
  tests/test_client_xml_rpc_proxy.py
Due: Central Module, Client Module

Update version
  aiohomematic/const.py
  changelog.md
Due: none

Implement staged reconnection for faster CCU recovery
  aiohomematic/central/scheduler.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Central Module

Replace fixed cool-down with staged reconnection for faster recovery after CCU restart:
  aiohomematic/central/scheduler.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Central Module

Replace fixed cool-down with staged reconnection for faster recovery after CCU restart (#2569)
  aiohomematic/central/scheduler.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Central Module

Cleanup Events
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/schemas.py
  aiohomematic/store/dynamic.py
  aiohomematic_test_support/factory.py
  changelog.md
  docs/adr/0009-interface-event-consolidation.md
  docs/event_bus.md
  docs/event_reference.md
  docs/migrations/event_system_migration_2025_12.md
  tests/test_central.py
  tests/test_central_event_bus.py
  tests/test_central_event_coordinator.py
  tests/test_client.py
  tests/test_store_dynamic_caches.py
Due: Central Module, Client Module, Model Module, Store Module

Event emission via EventCoordinator (publish_backend_system_event, publish_homematic_event)
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/central/decorators.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  docs/architecture.md
  tests/test_client.py
Due: Central Module

Cleanup Events (#2570)
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/decorators.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/schemas.py
  aiohomematic/store/dynamic.py
  aiohomematic_test_support/factory.py
  changelog.md
  docs/adr/0009-interface-event-consolidation.md
  docs/architecture.md
  docs/event_bus.md
  docs/event_reference.md
  docs/migrations/event_system_migration_2025_12.md
  tests/test_central.py
  tests/test_central_event_bus.py
  tests/test_central_event_coordinator.py
  tests/test_client.py
  tests/test_store_dynamic_caches.py
Due: Central Module, Client Module, Model Module, Store Module

Migrate to direct central coordinator access
  aiohomematic/central/__init__.py
  aiohomematic/central/decorators.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/device.py
  tests/test_central_background_scheduler.py
  tests/test_client.py
Due: Central Module, Client Module, Model Module

Coordinator migration pt2
  aiohomematic/api.py
  aiohomematic/central/__init__.py
  aiohomematic/central/rpc_server.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  tests/test_api.py
  tests/test_central.py
  tests/test_central_background_scheduler.py
  tests/test_client.py
Due: Central Module, Client Module

Coordinator migration pt3
  aiohomematic/central/__init__.py
  aiohomematic/central/decorators.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/rpc_server.py
  aiohomematic/client/__init__.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  tests/test_central.py
  tests/test_central_event_coordinator.py
  tests/test_model_entity.py
Due: Central Module, Client Module

Coordinator migration pt4
  aiohomematic/central/__init__.py
  aiohomematic_test_support/mock.py
  tests/test_central.py
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_binary_sensor.py
  tests/test_model_climate.py
  tests/test_model_cover.py
  tests/test_model_device.py
  tests/test_model_entity.py
  tests/test_model_event.py
  tests/test_model_light.py
  tests/test_model_lock.py
  tests/test_model_number.py
  tests/test_model_select.py
  tests/test_model_sensor.py
  tests/test_model_siren.py
Due: Central Module

Coordinator migration pt5
  aiohomematic/central/__init__.py
  aiohomematic/central/cache_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/handlers/metadata.py
  aiohomematic/interfaces/client.py
  aiohomematic_test_support/factory.py
  aiohomematic_test_support/mock.py
  tests/conftest.py
  tests/test_central.py
  tests/test_central_device_coordinator.py
  tests/test_central_full_session.py
  tests/test_central_hub_coordinator.py
  tests/test_central_pydevccu.py
  tests/test_client.py
  tests/test_error_scenarios.py
  tests/test_model_device.py
  tests/test_store_edge_cases.py
  tests/test_support.py
Due: Central Module, Client Module

Coordinator migration pt6
  aiohomematic/central/__init__.py
  aiohomematic/interfaces/central.py
  tests/test_central.py
  tests/test_central_background_scheduler.py
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_error_scenarios.py
  tests/test_model_binary_sensor.py
  tests/test_model_button.py
  tests/test_model_number.py
  tests/test_model_select.py
  tests/test_model_sensor.py
  tests/test_model_switch.py
  tests/test_model_text.py
Due: Central Module

Coordinator migration pt7
  aiohomematic/__init__.py
  aiohomematic/api.py
  aiohomematic/central/__init__.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/handlers/firmware.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic_test_support/__init__.py
  tests/test_api.py
  tests/test_central.py
  tests/test_central_device_coordinator.py
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_client.py
  tests/test_error_scenarios.py
  tests/test_integration_reconnection.py
  tests/test_integration_scenarios.py
  tests/test_model_climate.py
  tests/test_model_device.py
  tests/test_model_link_peers.py
  tests/test_model_switch.py
  tests/test_scan_aiohomematic_calls.py
  tests/test_store_persistent.py
  tests/test_support.py
Due: Central Module, Client Module, Model Module

Coordinator migration pt8
  aiohomematic/central/__init__.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/interfaces/central.py
  tests/test_central.py
  tests/test_central_background_scheduler.py
  tests/test_error_scenarios.py
  tests/test_model_climate.py
Due: Central Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
