Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Update install_mode.py
  aiohomematic/model/hub/install_mode.py
Due: Model Module

Rename SysvarType to HubValueType
  aiohomematic/central/hub_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/install_mode.py
  aiohomematic/model/hub/sensor.py
  aiohomematic/support.py
  aiohomematic_test_support/const.py
  tests/test_central_hub_coordinator.py
  tests/test_client_json_rpc_client.py
  tests/test_client_xml_rpc_proxy.py
  tests/test_support.py
Due: Central Module, Client Module, Model Module

Allow multiple install_mode dpd
  aiohomematic/central/__init__.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/__init__.py
  tests/test_central_hub_coordinator.py
  tests/test_client.py
Due: Central Module, Client Module, Model Module

Extend ClientCoordinator.get_client to accept optional interface parameter
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/client/json_rpc.py
  aiohomematic/interfaces.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_central_hub_coordinator.py
Due: Central Module, Client Module, Model Module

Update requirements_docs.txt
  requirements_docs.txt
Due: none

Fix install mode data point creation to check for client availability per interface
  aiohomematic/model/hub/__init__.py
  changelog.md
Due: Model Module

Fix install mode unique_id generation to avoid duplicate prefix
  aiohomematic/client/json_rpc.py
  changelog.md
Due: Client Module

Update json_rpc.py
  aiohomematic/client/json_rpc.py
Due: Client Module

Fix setInstallModeHMIP
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
Due: Client Module

Fix unique id
  aiohomematic/model/hub/install_mode.py
  aiohomematic/model/support.py
Due: Model Module

Add get_install_mode/set_install_mode to DeviceManagement/CentralUnit (#2525)
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/install_mode.py
  aiohomematic/model/hub/sensor.py
  aiohomematic/model/support.py
  aiohomematic/strings.json
  aiohomematic/support.py
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  aiohomematic_test_support/const.py
  changelog.md
  requirements_test.txt
  tests/test_central_hub_coordinator.py
  tests/test_client.py
  tests/test_client_json_rpc_client.py
  tests/test_client_xml_rpc_proxy.py
  tests/test_support.py
Due: Central Module, Client Module, Model Module

Fix install mode for HmIP
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/custom/definition.py
  changelog.md
  requirements_test.txt
  tests/conftest.py
  tests/test_central_pydevccu.py
  tests/test_model_entity.py
Due: Client Module, Model Module

Fix backend detection
  aiohomematic/backend_detection.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_backend_detection.py
Due: none

Fix install mode for HmIP / backend detection (#2528)
  aiohomematic/backend_detection.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/custom/definition.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  requirements_test.txt
  tests/conftest.py
  tests/test_backend_detection.py
  tests/test_central_pydevccu.py
  tests/test_model_entity.py
Due: Client Module, Model Module

Refactor add_new_devices_manually to address names
  aiohomematic/central/__init__.py
  aiohomematic/central/device_coordinator.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Improved delayed device handling
  aiohomematic/central/device_coordinator.py
  changelog.md
Due: Central Module

Update test_central_device_coordinator.py
  tests/test_central_device_coordinator.py
Due: none

Refactor add_new_devices_manually to address names (#2529)
  aiohomematic/central/__init__.py
  aiohomematic/central/device_coordinator.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Add helper for config support
  aiohomematic/const.py
  changelog.md
Due: none

Add helper for config support (#2530)
  aiohomematic/const.py
  changelog.md
Due: none

WP3.1
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/coordinators.py
  aiohomematic/interfaces/model.py
  aiohomematic/interfaces/operations.py
  docs/Breaking_change.md
  docs/improvement_plan.md
Due: none

WP3.3 + WP3.4
  aiohomematic/central/__init__.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/const.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/schemas.py
  aiohomematic/store/dynamic.py
  changelog.md
  docs/Breaking_change.md
Due: Central Module, Model Module, Store Module

WP1.1
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/Breaking_change.md
Due: Client Module

WP1.2
  aiohomematic/client/_rpc_errors.py
  changelog.md
  docs/Breaking_change.md
Due: Client Module

WP3.2
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/switch.py
  changelog.md
  docs/improvement_plan.md
Due: Model Module

WP2
  aiohomematic/central/__init__.py
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/retry.py
  aiohomematic/store/dynamic.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/improvement_plan.md
  tests/test_retry.py
Due: Central Module, Client Module, Store Module

WP4
  aiohomematic/api.py
  aiohomematic/central/__init__.py
  docs/common_operations.md
  docs/getting_started.md
  docs/improvement_plan.md
  tests/test_central.py
Due: Central Module

WP5
  docs/improvement_plan.md
  tests/benchmarks/__init__.py
  tests/benchmarks/test_device_scaling.py
  tests/test_central_event_bus.py
  tests/test_hmcli.py
  tests/test_integration_scenarios.py
Due: none

Async Context Manager
  aiohomematic/api.py
  docs/getting_started.md
  tests/test_api.py
Due: none

Use @with_retry
  aiohomematic/api.py
  aiohomematic/retry.py
  tests/test_api.py
  tests/test_retry.py
Due: none

Improve cli
  aiohomematic/hmcli.py
  changelog.md
  tests/test_hmcli.py
Due: none

Add @with_retry
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/retry.py
Due: Client Module

Various improvements (#2532)
  aiohomematic/api.py
  aiohomematic/central/__init__.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/_rpc_errors.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/hmcli.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/coordinators.py
  aiohomematic/interfaces/model.py
  aiohomematic/interfaces/operations.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/retry.py
  aiohomematic/schemas.py
  aiohomematic/store/dynamic.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/Breaking_change.md
  docs/common_operations.md
  docs/getting_started.md
  docs/improvement_plan.md
  tests/benchmarks/__init__.py
  tests/benchmarks/test_device_scaling.py
  tests/test_api.py
  tests/test_central.py
  tests/test_central_event_bus.py
  tests/test_hmcli.py
  tests/test_integration_scenarios.py
  tests/test_retry.py
Due: Central Module, Client Module, Model Module, Store Module

Cleanup Mixins
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/valve.py
  changelog.md
  docs/Breaking_change.md
  tests/test_model_light.py
Due: Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
