Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Improve documentation pt3 (#2880)
  .github/workflows/ISSUE_ANALYZER_README.md
  .github/workflows/docs.yml
  docs/architecture.md
  docs/architecture/events/index.md
  docs/changelog.md
  docs/contributor/coding/naming.md
  docs/contributor/dev-environment.md
  docs/contributor/git-workflow.md
  docs/developer/homeassistant_lifecycle.md
  docs/faq.md
  docs/index.md
  docs/migrations/index.md
  docs/quickstart.md
  docs/reference/api/api.md
  docs/reference/api/central.md
  docs/reference/api/config.md
  docs/reference/api/const.md
  docs/reference/api/exceptions.md
  docs/reference/api/index.md
  docs/troubleshooting/index.md
  docs/user/advanced/security.md
  mkdocs.yml
Due: none

Improve documentation pt4
  CLAUDE.md
  aiohomematic/const.py
  changelog.md
  docs/adr/0013-implementation-status.md
  docs/architecture.md
  docs/architecture/data_flow.md
  docs/architecture/events/event_reference.md
  docs/architecture/sequence_diagrams.md
  docs/developer/incident_system.md
  docs/faq.md
  docs/user/advanced/optional_settings.md
  docs/user/features/homeassistant_actions.md
  docs/user/features/week_profile.md
  docs/user/troubleshooting/homeassistant_troubleshooting.md
Due: none

Improve documentation pt4 (#2881)
  CLAUDE.md
  aiohomematic/const.py
  changelog.md
  docs/adr/0013-implementation-status.md
  docs/architecture.md
  docs/architecture/data_flow.md
  docs/architecture/events/event_reference.md
  docs/architecture/sequence_diagrams.md
  docs/developer/incident_system.md
  docs/faq.md
  docs/user/advanced/optional_settings.md
  docs/user/features/homeassistant_actions.md
  docs/user/features/week_profile.md
  docs/user/troubleshooting/homeassistant_troubleshooting.md
Due: none

Use user-configured `LOW_BAT_LIMIT` value instead of default for battery percentage calculation
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/calculated/support.py
  changelog.md
  tests/test_model_calculated.py
Due: Model Module

Use user-configured `LOW_BAT_LIMIT` value instead of default for battery percentage calculation (#2882)
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/calculated/support.py
  changelog.md
  tests/test_model_calculated.py
Due: Model Module

Added comprehensive test fixtures for VirtualCCU with BackendMode.OPENCCU support
  aiohomematic/client/backends/json_ccu.py
  aiohomematic_test_support/const.py
  changelog.md
  requirements_test.txt
  tests/conftest.py
  tests/contract/test_cuxd_ccu_jack_contract.py
  tests/test_backend_openccu.py
  tests/test_central_pydev_openccu.py
Due: Client Module

Added comprehensive test fixtures for VirtualCCU with BackendMode.OPENCCU support (#2885)
  aiohomematic/client/backends/json_ccu.py
  aiohomematic_test_support/const.py
  changelog.md
  requirements_test.txt
  tests/conftest.py
  tests/contract/test_cuxd_ccu_jack_contract.py
  tests/test_backend_openccu.py
  tests/test_central_pydev_openccu.py
Due: Client Module

Fix data not updating after startup for polled interfaces
  aiohomematic/const.py
  aiohomematic/store/dynamic/data.py
  changelog.md
  tests/test_central.py
Due: Store Module

Fix data not updating after startup for polled interfaces (#2888)
  aiohomematic/const.py
  aiohomematic/store/dynamic/data.py
  changelog.md
  tests/test_central.py
Due: Store Module

Fix interface registration for CUxD/CCU-Jack devices
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  changelog.md
  tests/test_cuxd_polling.py
Due: Central Module, Client Module

Fix interface registration for CUxD/CCU-Jack devices (#2891)
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  changelog.md
  tests/test_cuxd_polling.py
Due: Central Module, Client Module

Fix subscription leak for `DeviceLifecycleEvent` when stopping CentralUnit
  aiohomematic/central/events/bus.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix subscription leak for `DeviceLifecycleEvent` when stopping CentralUnit (#2892)
  aiohomematic/central/events/bus.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix devices not appearing after factory reset
  aiohomematic/central/coordinators/device.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Fix devices not appearing after factory reset (#2895)
  aiohomematic/central/coordinators/device.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Update minimum required version.
  README.md
Due: none

Refactored schedule cache to use human-readable Pydantic models
  aiohomematic/central/config_builder.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  pyproject.toml
  tests/test_model_switch.py
  tests/test_model_week_profile.py
Due: Central Module, Model Module

Fix typo in README.md
  README.md
Due: none

Simple schedule format now uses Pydantic models for automatic validation
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  requirements_test.txt
  tests/conftest.py
Due: Model Module

Fixes
  aiohomematic/model/custom/climate.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Model Module

Update week_profile.py
  aiohomematic/model/week_profile.py
Due: Model Module

Simple schedule format now uses Pydantic models for automatic validation (#2902)
  aiohomematic/central/config_builder.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  pyproject.toml
  requirements_test.txt
  tests/conftest.py
  tests/test_model_climate.py
  tests/test_model_switch.py
  tests/test_model_week_profile.py
Due: Central Module, Model Module

Fixed `put_paramset` with `check_against_pd=True` for LINK paramsets
  aiohomematic/client/interface_client.py
  changelog.md
  tests/test_interface_client_comparison.py
Due: Client Module

Fixed `put_paramset` with `check_against_pd=True` for LINK paramsets (#2904)
  aiohomematic/client/interface_client.py
  changelog.md
  tests/test_interface_client_comparison.py
Due: Client Module

Cleanup climate week_profile
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Model Module

Extend trouble shouting
  docs/user/troubleshooting/homeassistant_troubleshooting.md
Due: none

Cleanup
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/week_profile.py
  tests/test_model_climate.py
Due: Model Module

Fixes
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  script/check_i18n_catalogs.py
Due: none

JsonSerializableMixin
  aiohomematic/model/schedule_models.py
  changelog.md
Due: Model Module

Update homeassistant_troubleshooting.md
  docs/user/troubleshooting/homeassistant_troubleshooting.md
Due: none

Use ScheduleDict
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/week_profile.py
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Model Module

Add tests
  tests/contract/test_backend_week_profile_contract.py
Due: none

Update week_profile.md
  docs/user/features/week_profile.md
Due: none

Cleanup climate week_profile (#2905)
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/user/features/week_profile.md
  docs/user/troubleshooting/homeassistant_troubleshooting.md
  script/check_i18n_catalogs.py
  tests/contract/test_backend_week_profile_contract.py
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Model Module

JSON control character sanitization
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
  docs/user/features/week_profile.md
Due: Client Module

JSON control character sanitization (#2906)
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
  docs/user/features/week_profile.md
Due: Client Module

CustomDataPoint schedule conversion
  aiohomematic/client/json_rpc.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/week_profile.py
  changelog.md
  docs/user/features/week_profile.md
Due: Client Module, Model Module

Fixes
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  changelog.md
Due: Model Module

CustomDataPoint schedule conversion (#2907)
  aiohomematic/client/json_rpc.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/week_profile.py
  changelog.md
  docs/user/features/week_profile.md
Due: Client Module, Model Module
