Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Add Paramset description patching system (#2815)
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/device.py
  aiohomematic/store/__init__.py
  aiohomematic/store/patches/__init__.py
  aiohomematic/store/patches/matcher.py
  aiohomematic/store/patches/paramset_patches.py
  aiohomematic/store/persistent/paramset.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0016-paramset-description-patching.md
  tests/test_central_full_session.py
  tests/test_client.py
  tests/test_interface_client_comparison.py
  tests/test_model_climate.py
  tests/test_model_device.py
  tests/test_store_persistent.py
Due: Client Module, Model Module, Store Module

Improve issue analyser
  .github/scripts/analyze_issue.py
  .github/workflows/issue-analyzer.yml
Due: none

Improve issue analyser (#2817)
  .github/scripts/analyze_issue.py
  .github/workflows/issue-analyzer.yml
Due: none

Fix legacy cache migration for climate schedules
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Add ChannelEventGroup as virtual data point
  aiohomematic/central/central_unit.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/migrations/channel_event_group_migration_2026_01.md
Due: Central Module, Model Module

Add translation_key to BaseParameterDataPointProtocol
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
Due: Model Module

Add translation_key for data points
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/hub/connectivity.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/install_mode.py
  aiohomematic/model/hub/metrics.py
  aiohomematic/model/hub/update.py
  aiohomematic/model/update.py
  changelog.md
Due: Model Module

Add and use generate_translation_key
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/hub/metrics.py
  aiohomematic/model/support.py
Due: Model Module

Add ChannelEventGroup as virtual data point (#2818)
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/connectivity.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/install_mode.py
  aiohomematic/model/hub/metrics.py
  aiohomematic/model/hub/update.py
  aiohomematic/model/support.py
  aiohomematic/model/update.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/migrations/channel_event_group_migration_2026_01.md
  tests/test_model_week_profile.py
Due: Central Module, Model Module

Coordinated cache clearing on version mismatch
  aiohomematic/central/coordinators/cache.py
  aiohomematic/const.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
  tests/test_store_persistent.py
Due: Central Module, Store Module

Coordinated cache clearing on version mismatch (#2820)
  aiohomematic/central/coordinators/cache.py
  aiohomematic/const.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
  tests/test_store_persistent.py
Due: Central Module, Store Module

Coordinated cache clearing on version mismatch pt2
  aiohomematic/central/coordinators/cache.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
Due: Central Module, Store Module

Coordinated cache clearing on version mismatch pt2 (#2821)
  aiohomematic/central/coordinators/cache.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
Due: Central Module, Store Module

Update changelog
  changelog.md
Due: none

Sound player soundfile default handling
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/siren.py
  changelog.md
Due: Model Module

Fix tests
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
Due: none

Sound player soundfile default handling (#2822)
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/siren.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
Due: Model Module

Slow marker
  pyproject.toml
Due: none

Parallel test execution with pytest-xdist
  .github/workflows/test-run.yaml
  changelog.md
  requirements_test.txt
  tests/conftest.py
  tests/test_central.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update conftest.py
  tests/conftest.py
Due: none

Parallel test execution with pytest-xdist (#2823)
  .github/workflows/test-run.yaml
  changelog.md
  pyproject.toml
  requirements_test.txt
  tests/conftest.py
  tests/test_central.py
Due: none

Create ChannelEventGroups per event_type
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/migrations/channel_event_group_migration_2026_01.md
Due: Central Module, Model Module

Update test cfg
  pyproject.toml
  test.sh
Due: none

Create ChannelEventGroups per event_type (#2825)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/migrations/channel_event_group_migration_2026_01.md
  pyproject.toml
  test.sh
Due: Central Module, Model Module

Fi Backend detection timeout support
  aiohomematic/client/rpc_proxy.py
  changelog.md
Due: Client Module

Fix Backend detection timeout support (#2826)
  aiohomematic/client/rpc_proxy.py
  changelog.md
Due: Client Module

Fix project setup/enable local parallel test execution
  pyproject.toml
Due: none

Cleanup
  CLAUDE.md
  pyproject.toml
Due: none

Cleanup pyproject.toml
  aiohomematic/backend_detection.py
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/central/events/bus.py
  aiohomematic/client/__init__.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/context.py
  aiohomematic/metrics/dataclasses.py
  aiohomematic/model/calculated/support.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/connectivity.py
  aiohomematic/model/hub/hub.py
  aiohomematic/store/visibility/registry.py
  aiohomematic/tracing.py
  aiohomematic_test_support/event_mock.py
  example_state_machine_test.py
  pyproject.toml
  script/lint_kwonly.py
  script/scan_aiohomematic_calls.py
  tests/conftest.py
  tests/test_api.py
  tests/test_async_support.py
  tests/test_central.py
  tests/test_central_config_conn_state.py
  tests/test_central_event_bus.py
  tests/test_central_hub_coordinator.py
  tests/test_client.py
  tests/test_client_json_rpc_client.py
  tests/test_connection_recovery.py
  tests/test_event_driven_verification.py
  tests/test_health.py
  tests/test_hmcli.py
  tests/test_interface_client_comparison.py
  tests/test_model_calculated.py
  tests/test_model_device.py
  tests/test_model_event_and_generic.py
  tests/test_model_link_peers.py
  tests/test_model_update.py
  tests/test_store_dynamic_caches.py
  tests/test_store_visibility.py
Due: Central Module, Client Module, Model Module, Store Module

Startup resilience for authentication errors
  aiohomematic/central/coordinators/client.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0017-startup-auth-error-handling.md
  tests/test_central_client_coordinator.py
Due: Central Module

Review docs
  docs/adr/0009-interface-event-consolidation.md
  docs/adr/0011-storage-abstraction.md
  docs/adr/0013-interface-client-backend-strategy.md
  docs/adr/0015-description-normalization-concept.md
  docs/adr/0016-paramset-description-patching.md
  docs/adr/0017-startup-auth-error-handling.md
  docs/sequence_diagrams.md
Due: none

Update factory.py
  aiohomematic_test_support/factory.py
Due: none

Mark tests
  tests/test_central_pydevccu.py
  tests/test_model_climate.py
Due: none

Startup resilience for authentication errors (#2831)
  aiohomematic/central/coordinators/client.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  aiohomematic_test_support/factory.py
  changelog.md
  docs/adr/0009-interface-event-consolidation.md
  docs/adr/0011-storage-abstraction.md
  docs/adr/0013-interface-client-backend-strategy.md
  docs/adr/0015-description-normalization-concept.md
  docs/adr/0016-paramset-description-patching.md
  docs/adr/0017-startup-auth-error-handling.md
  docs/sequence_diagrams.md
  tests/test_central_client_coordinator.py
  tests/test_central_pydevccu.py
  tests/test_model_climate.py
Due: Central Module

Automatic reconnection after startup failures
  .pre-commit-config.yaml
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic_test_support/const.py
  changelog.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/conftest.py
Due: Central Module

Update requirements_test_pre_commit.txt
  requirements_test_pre_commit.txt
Due: none

Automatic reconnection after startup failures (#2832)
  .pre-commit-config.yaml
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic_test_support/const.py
  changelog.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/conftest.py
Due: Central Module

HmIP-WRC6-230
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/switch.py
Due: Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
