Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Dynamic Version Detection in Issue Analyzer
  .github/scripts/analyze_issue.py
  aiohomematic/const.py
  changelog.md
Due: none

Dynamic Version Detection in Issue Analyzer (#2698)
  .github/scripts/analyze_issue.py
  aiohomematic/const.py
  changelog.md
Due: none

Improve issue templates and diagnostics requirements
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
Due: none

Add section explaining relationship to Homematic(IP) Local
  README.md
Due: none

Fix template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
Due: none

Fix CUxD/CCU-Jack JSON-RPC Method Overrides
  README.md
  aiohomematic/backend_detection.py
  aiohomematic/client/ccu.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_backend_detection.py
  tests/test_client.py
Due: Client Module

Fix CUxD/CCU-Jack JSON-RPC Method Overrides (#2703)
  README.md
  aiohomematic/backend_detection.py
  aiohomematic/client/ccu.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_backend_detection.py
  tests/test_client.py
Due: Client Module

Fix CUxD/CCU-Jack Recovery for JSON-RPC-only Interfaces
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix CUxD/CCU-Jack Recovery for JSON-RPC-only Interfaces (#2705)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix HmIP-MP3P LED Auto-Off After 10 Seconds*
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
Due: Model Module

Fix on_time and reset
  aiohomematic/model/custom/light.py
Due: Model Module

Update test_model_sound_player.py
  tests/test_model_sound_player.py
Due: none

Fix HmIP-MP3P LED Auto-Off After 10 Seconds (#2707)
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_sound_player.py
Due: Model Module

Fix VirtualDevices Init Timeout Causing Client Failure
  aiohomematic/client/rpc_proxy.py
  changelog.md
Due: Client Module

Fix VirtualDevices Init Timeout Causing Client Failure (#2712)
  aiohomematic/client/rpc_proxy.py
  changelog.md
Due: Client Module

Fix Device Availability Not Updating in Home Assistant
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/generic/data_point.py
  changelog.md
Due: Model Module

Update test_model_device.py
  tests/test_model_device.py
Due: none

Fix Device Availability Not Updating in Home Assistant (#2713)
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/generic/data_point.py
  changelog.md
  tests/test_model_device.py
Due: Model Module

Add new InterfaceClient with Backend Strategy Pattern
  .github/workflows/test-run.yaml
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/__init__.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/capabilities.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/factory.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic_test_support/factory.py
  aiohomematic_test_support/mock.py
  changelog.md
  docs/adr/0013-implementation-status.md
  docs/adr/0013-interface-client-backend-strategy.md
  pyproject.toml
  tests/test_central.py
  tests/test_interface_client_comparison.py
Due: Client Module

Add new InterfaceClient with Backend Strategy Pattern (#2714)
  .github/workflows/test-run.yaml
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/__init__.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/capabilities.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/factory.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic_test_support/factory.py
  aiohomematic_test_support/mock.py
  changelog.md
  docs/adr/0013-implementation-status.md
  docs/adr/0013-interface-client-backend-strategy.md
  pyproject.toml
  tests/test_central.py
  tests/test_interface_client_comparison.py
Due: Client Module

Fix InterfaceClient Ping-Pong Token Handling
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  changelog.md
Due: Client Module

Update changelog.md
  changelog.md
Due: none

Fix InterfaceClient Ping-Pong Token Handling (#2715)
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  changelog.md
Due: Client Module

Fix missing circuit_breaker code
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
Due: Client Module

Add incident recording
  aiohomematic/client/interface_client.py
  docs/adr/0013-implementation-status.md
Due: Client Module

Add missing debug logging
  aiohomematic/client/interface_client.py
Due: Client Module

Update 0013-implementation-status.md
  docs/adr/0013-implementation-status.md
Due: none

Closing the gaps between the clients (#2716)
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  docs/adr/0013-implementation-status.md
Due: Client Module

Use capabilities for InterfaceClient
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/factory.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/interface_client.py
Due: Client Module

Use capabilities for legacy client
  aiohomematic/client/ccu.py
  aiohomematic/interfaces/client.py
  tests/test_client.py
Due: Client Module

Do not use client.supports
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/model/data_point.py
  aiohomematic/model/hub/install_mode.py
  tests/test_central.py
  tests/test_central_client_coordinator.py
  tests/test_central_event_coordinator.py
  tests/test_error_scenarios.py
  tests/test_interface_client_comparison.py
Due: Central Module, Model Module

Remove supports_* for client
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
Due: Client Module

Fis tests
  aiohomematic/model/hub/hub.py
  tests/test_client.py
Due: Model Module

Use capabilities (#2717)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/factory.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/data_point.py
  aiohomematic/model/hub/hub.py
  aiohomematic/model/hub/install_mode.py
  changelog.md
  tests/test_central.py
  tests/test_central_client_coordinator.py
  tests/test_central_event_coordinator.py
  tests/test_client.py
  tests/test_error_scenarios.py
  tests/test_interface_client_comparison.py
Due: Central Module, Client Module, Model Module

Fix Connection Recovery Port Detection for InterfaceClient
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix Connection Recovery Port Detection for InterfaceClient (#2719)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix Hub Entities Not Created When Secondary Clients Fail
  aiohomematic/central/scheduler.py
  aiohomematic/model/hub/hub.py
  changelog.md
Due: Central Module, Model Module

Fix Hub Entities Not Created When Secondary Clients Fail (#2721)
  aiohomematic/central/scheduler.py
  aiohomematic/model/hub/hub.py
  changelog.md
Due: Central Module, Model Module

Fix Device Cache Not Reloading After Firmware Update
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/rpc_server.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  changelog.md
Due: Central Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
