Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Fix publish_data_point_updated_event event handling
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  tests/test_model_entity.py
Due: Model Module

Fix DataPointUpdatedCallbackEvent (#2586)
  aiohomematic/central/event_bus.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
Due: Central Module, Model Module

Refactor Simple Schedule Format
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/week_profile.py
  changelog.md
  docs/migrations/simple_schedule_migration_2025_12.md
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Model Module

Refactor Simple Schedule Format (#2587)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/week_profile.py
  changelog.md
  docs/migrations/simple_schedule_migration_2025_12.md
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Model Module

Add `ScheduleSlot` TypedDict
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Rename schedule type aliases
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Update simple_schedule_migration_2025_12.md
  docs/migrations/simple_schedule_migration_2025_12.md
Due: none

Add ScheduleSlot TypedDict (#2588)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/week_profile.py
  changelog.md
  docs/migrations/simple_schedule_migration_2025_12.md
Due: Model Module

Refactor script get_system_update_info.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
Due: none

Update version
  aiohomematic/const.py
  changelog.md
Due: none

Update schedule
  aiohomematic/const.py
Due: none

Refactor `get_system_update_info.fn` script**: Simplified and optimized firmware update check script (#2589)
  aiohomematic/const.py
  aiohomematic/rega_scripts/get_system_update_info.fn
  changelog.md
Due: none

Consolidate scheduler intervals in `ScheduleTimerConfig
  aiohomematic/central/__init__.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/model/hub/update.py
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_model_hub_update.py
Due: Central Module, Client Module, Model Module

Update changelog.md
  changelog.md
Due: none

Consolidate scheduler intervals in ScheduleTimerConfig (#2590)
  aiohomematic/central/__init__.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/model/hub/update.py
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_model_hub_update.py
Due: Central Module, Client Module, Model Module

Update analyser script
  .github/scripts/analyze_issue.py
Due: none

Update project files
  pyproject.toml
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Add FailureReason support for state machines
  aiohomematic/central/integration_events.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/__init__.py
  aiohomematic/client/_rpc_errors.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  changelog.md
  docs/migrations/failure_reason_migration_2025_12.md
  tests/test_failure_reason.py
Due: Central Module, Client Module

Add FailureReason support for state machines (#2593)
  aiohomematic/central/integration_events.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/__init__.py
  aiohomematic/client/_rpc_errors.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  changelog.md
  docs/migrations/failure_reason_migration_2025_12.md
  tests/test_failure_reason.py
Due: Central Module, Client Module

Fix failure reason not being propagated when client creation fails
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  changelog.md
  docs/migrations/failure_reason_migration_2025_12.md
Due: Central Module, Client Module

Fix failure reason not being propagated when client creation fails (#2594)
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  changelog.md
  docs/migrations/failure_reason_migration_2025_12.md
Due: Central Module, Client Module

Add degraded_interfaces tracking for DEGRADED state
  aiohomematic/central/__init__.py
  aiohomematic/central/integration_events.py
  aiohomematic/central/recovery.py
  aiohomematic/central/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  changelog.md
  docs/migrations/failure_reason_migration_2025_12.md
  tests/test_failure_reason.py
Due: Central Module

Add degraded_interfaces tracking for DEGRADED state (#2595)
  aiohomematic/central/__init__.py
  aiohomematic/central/integration_events.py
  aiohomematic/central/recovery.py
  aiohomematic/central/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  changelog.md
  docs/migrations/failure_reason_migration_2025_12.md
  tests/test_failure_reason.py
Due: Central Module

Recovery now uses actual client failure reasons
  aiohomematic/central/__init__.py
  aiohomematic/central/recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Add tests
  tests/test_circuit_breaker.py
  tests/test_health.py
  tests/test_recovery.py
  tests/test_request_coalescer.py
Due: none

Add more tests
  tests/test_health.py
  tests/test_recovery.py
Due: none

Recovery now uses actual client failure reasons (#2596)
  aiohomematic/central/__init__.py
  aiohomematic/central/recovery.py
  aiohomematic/const.py
  changelog.md
  tests/test_circuit_breaker.py
  tests/test_health.py
  tests/test_recovery.py
  tests/test_request_coalescer.py
Due: Central Module

Fix HmIP-RGBW/LSC auto-off bug when using transition times
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Update const.py
  aiohomematic/const.py
Due: none

Properly detect and handle string-based ENUMs vs index-based ENUMs
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/action.py
  aiohomematic/model/generic/select.py
  changelog.md
  tests/test_model_action.py
  tests/test_model_cover.py
  tests/test_model_light.py
  tests/test_model_lock.py
  tests/test_model_select.py
  tests/test_model_siren.py
Due: Model Module

Fix HmIP-RGBW/LSC auto-off bug when using transition times (#2599)
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/action.py
  aiohomematic/model/generic/select.py
  changelog.md
  tests/test_model_action.py
  tests/test_model_cover.py
  tests/test_model_light.py
  tests/test_model_lock.py
  tests/test_model_select.py
  tests/test_model_siren.py
Due: Model Module

Change ParameterStatus from IntEnum to StrEnum
  aiohomematic/central/event_bus.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Central Module, Model Module

Change ParameterStatus from IntEnum to StrEnum (#2600)
  aiohomematic/central/event_bus.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Central Module, Model Module

Fix update_status to accept integer values from backend: Backend sends integer indices for STATUS parameters
  CLAUDE.md
  aiohomematic/central/event_bus.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  changelog.md
  example.py
Due: Central Module, Model Module

Update CLAUDE.md
  CLAUDE.md
Due: none

Fix update_status to accept integer values from backend: Backend sends integer indices for STATUS parameters (#2601)
  CLAUDE.md
  aiohomematic/central/event_bus.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  changelog.md
  example.py
Due: Central Module, Model Module

Rename EventType to DeviceTriggerEventType
  aiohomematic/central/__init__.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  changelog.md
  docs/event_reference.md
  docs/migrations/event_system_migration_2025_12.md
  tests/test_central_event_coordinator.py
  tests/test_model_device.py
  tests/test_model_event.py
Due: Central Module, Model Module

Add model to DeviceTriggerEvent
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/model/event.py
  tests/test_central_event_bus.py
Due: Central Module, Model Module

Fix channel_address
  aiohomematic/central/event_coordinator.py
Due: Central Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
