Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Rename `_temporary_value` to `_unconfirmed_value` (#2925)
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/model/hub/data_point.py
  changelog.md
  docs/adr/0020-command-throttling-priority-and-optimistic-updates.md
  docs/architecture/data_flow.md
  docs/architecture/value_resolution.md
  docs/contributor/contributing.md
  docs/contributor/dev-environment.md
  docs/contributor/git-workflow.md
  docs/contributor/release_process.md
  mkdocs.yml
  tests/test_interface_client_comparison.py
Due: Client Module, Model Module

Paramset consistency checker
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/events/integration.py
  aiohomematic/const.py
  aiohomematic/store/types.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0023-paramset-consistency-checker.md
  docs/troubleshooting/index.md
  docs/troubleshooting/paramset_inconsistency.md
  tests/test_paramset_consistency.py
Due: Central Module, Store Module

Paramset consistency checker (#2929)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/events/integration.py
  aiohomematic/const.py
  aiohomematic/store/types.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0023-paramset-consistency-checker.md
  docs/troubleshooting/index.md
  docs/troubleshooting/paramset_inconsistency.md
  tests/test_paramset_consistency.py
Due: Central Module, Store Module

XML-RPC server race condition on multi-hub startup
  aiohomematic/central/rpc_server.py
  changelog.md
Due: Central Module

Update requirements_test.txt
  requirements_test.txt
Due: none

Update test_rpc_server.py
  tests/test_rpc_server.py
Due: none

XML-RPC server race condition on multi-hub startup (#2930)
  aiohomematic/central/rpc_server.py
  changelog.md
  requirements_test.txt
  tests/test_rpc_server.py
Due: Central Module

Fix benchmark
  tests/benchmarks/test_bench_cache.py
Due: none

Update Glossary
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  aiohomematic/rega_scripts/get_backend_info.fn
  docs/architecture.md
  docs/reference/glossary.md
  docs/user/advanced/cuxd_ccu_jack.md
  docs/user/homeassistant_integration.md
  docs/user/troubleshooting/homeassistant_troubleshooting.md
Due: none

Panel support
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/__init__.py
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/parameter_tools.py
  changelog.md
  requirements_test.txt
  tests/test_configuration_coordinator.py
  tests/test_parameter_tools.py
Due: Central Module

Panel support (#2932)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/__init__.py
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/parameter_tools.py
  changelog.md
  requirements_test.txt
  tests/test_configuration_coordinator.py
  tests/test_parameter_tools.py
Due: Central Module

CCU translations
  .gitignore
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/i18n.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/translations/ccu_custom/channel_types_de.json
  aiohomematic/translations/ccu_custom/channel_types_en.json
  aiohomematic/translations/ccu_custom/device_models_de.json
  aiohomematic/translations/ccu_custom/device_models_en.json
  aiohomematic/translations/ccu_custom/parameter_values_de.json
  aiohomematic/translations/ccu_custom/parameter_values_en.json
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  aiohomematic/translations/ccu_extract/channel_types_de.json
  aiohomematic/translations/ccu_extract/channel_types_en.json
  aiohomematic/translations/ccu_extract/device_models_de.json
  aiohomematic/translations/ccu_extract/device_models_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  docs/adr/0024-ccu-translation-extraction.md
  docs/adr/index.md
  script/extract_ccu_translations.py
  tests/conftest.py
  tests/test_i18n.py
  tests/test_model_calculated.py
  tests/test_model_calculated_derived_binary_sensor.py
  tests/test_model_week_profile.py
Due: Model Module

CCU translations (#2933)
  .gitignore
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/i18n.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/translations/ccu_custom/channel_types_de.json
  aiohomematic/translations/ccu_custom/channel_types_en.json
  aiohomematic/translations/ccu_custom/device_models_de.json
  aiohomematic/translations/ccu_custom/device_models_en.json
  aiohomematic/translations/ccu_custom/parameter_values_de.json
  aiohomematic/translations/ccu_custom/parameter_values_en.json
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  aiohomematic/translations/ccu_extract/channel_types_de.json
  aiohomematic/translations/ccu_extract/channel_types_en.json
  aiohomematic/translations/ccu_extract/device_models_de.json
  aiohomematic/translations/ccu_extract/device_models_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  docs/adr/0024-ccu-translation-extraction.md
  docs/adr/index.md
  script/extract_ccu_translations.py
  tests/conftest.py
  tests/test_i18n.py
  tests/test_model_calculated.py
  tests/test_model_calculated_derived_binary_sensor.py
  tests/test_model_week_profile.py
Due: Model Module

Robust JSON parsing with stdlib fallback
  aiohomematic/client/json_rpc.py
  aiohomematic/compat.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module

Robust JSON parsing with stdlib fallback (#2936)
  aiohomematic/client/json_rpc.py
  aiohomematic/compat.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module

Renamed translation functions and properties for semantic accuracy
  aiohomematic/ccu_translations.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  changelog.md
  docs/adr/0024-ccu-translation-extraction.md
Due: Model Module

Renamed translation functions and properties for semantic accuracy (#2937)
  aiohomematic/ccu_translations.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  changelog.md
  docs/adr/0024-ccu-translation-extraction.md
Due: Model Module

Fix translation, remove unit from translation
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
Due: none

Translated data point name variants
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/event.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/model/support.py
  changelog.md
  tests/test_naming_and_unique_id.py
Due: Model Module

Translated data point name variants (#2938)
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/event.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/model/support.py
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  changelog.md
  tests/test_naming_and_unique_id.py
Due: Model Module

CCU translation loading via pkgutil
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  changelog.md
Due: none

CCU translation loading via pkgutil (#2939)
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  changelog.md
Due: none

Translation cleanup
  aiohomematic/const.py
  aiohomematic/translations/ccu_custom/parameter_values_de.json
  aiohomematic/translations/ccu_custom/parameter_values_en.json
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  script/extract_ccu_translations.py
Due: none

Translation cleanup (#2940)
  aiohomematic/const.py
  aiohomematic/translations/ccu_custom/parameter_values_de.json
  aiohomematic/translations/ccu_custom/parameter_values_en.json
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  script/extract_ccu_translations.py
Due: none

Configurable channel filtering
  aiohomematic/central/coordinators/configuration.py
  changelog.md
Due: Central Module

Update test_configuration_coordinator.py
  tests/test_configuration_coordinator.py
Due: none

Configurable channel filtering (#2941)
  aiohomematic/central/coordinators/configuration.py
  changelog.md
  tests/test_configuration_coordinator.py
Due: Central Module

Extraction script: PNAME and easymode TCL parsing
  aiohomematic/translations/ccu_extract/device_models_de.json
  aiohomematic/translations/ccu_extract/device_models_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  script/extract_ccu_translations.py
Due: none

Extraction script: PNAME and easymode TCL parsing (#2942)
  aiohomematic/translations/ccu_extract/device_models_de.json
  aiohomematic/translations/ccu_extract/device_models_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  script/extract_ccu_translations.py
Due: none

Value-only translation fallback
  aiohomematic/ccu_translations.py
  aiohomematic/translations/ccu_custom/parameter_values_de.json
  aiohomematic/translations/ccu_custom/parameter_values_en.json
  changelog.md
Due: none

Value-only translation fallback (#2943)
  aiohomematic/ccu_translations.py
  aiohomematic/translations/ccu_custom/parameter_values_de.json
  aiohomematic/translations/ccu_custom/parameter_values_en.json
  changelog.md
Due: none

Empty parameter translation suppresses parameter name
  aiohomematic/const.py
  aiohomematic/model/support.py
  changelog.md
  tests/test_naming_and_unique_id.py
Due: Model Module

Empty parameter translation suppresses parameter name (#2944)
  aiohomematic/const.py
  aiohomematic/model/support.py
  changelog.md
  tests/test_naming_and_unique_id.py
Due: Model Module

i18n: Allow multiple CentralUnit instances
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  aiohomematic/i18n.py
  changelog.md
  tests/test_i18n.py
Due: Central Module

i18n: Allow multiple CentralUnit instances (#2945)
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  aiohomematic/i18n.py
  changelog.md
  tests/test_i18n.py
Due: Central Module

Update requirements
  .pre-commit-config.yaml
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Translate custom data point postfix
  aiohomematic/const.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/support.py
  changelog.md
Due: Model Module

Translate custom data point postfix (#2949)
  aiohomematic/const.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/support.py
  changelog.md
Due: Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
