Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

revert(rega): restore pre-#3229 fetch_all_device_data (Option 3)
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  tests/contract/test_fetch_all_device_data_script_contract.py
Due: none

fix(rega): bulk-load script v2.5 — VirtualDevices gate + typed empty detection (#3228)
  aiohomematic/const.py
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  changelog.md
  tests/contract/test_fetch_all_device_data_script_contract.py
Due: none

fix(rega): bulk-load script v2.5 — fix post-restart 0 placeholder at the source (#3228) (#3236)
  aiohomematic/const.py
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  changelog.md
  tests/contract/test_fetch_all_device_data_script_contract.py
Due: none

chore(repo): switch default branch from devel to main
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/workflows/ISSUE_ANALYZER_README.md
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  docs/README.md
  docs/adr/0019-derived-binary-sensors.md
  docs/architecture.md
  docs/contributor/coding/docstring_standards.md
  docs/contributor/git-workflow.md
  docs/contributor/release_process.md
  docs/contributor/testing/coverage.md
  docs/developer/homematicip_local_api_usage.md
  docs/developer/incident_system.md
  docs/getting_started.md
  docs/user/troubleshooting/homeassistant_troubleshooting.de.md
  docs/user/troubleshooting/homeassistant_troubleshooting.md
  mkdocs.yml
  pyproject.toml
Due: none

chore(repo): switch default branch from devel to main (#3237)
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/workflows/ISSUE_ANALYZER_README.md
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  docs/README.md
  docs/adr/0019-derived-binary-sensors.md
  docs/architecture.md
  docs/contributor/coding/docstring_standards.md
  docs/contributor/git-workflow.md
  docs/contributor/release_process.md
  docs/contributor/testing/coverage.md
  docs/developer/homematicip_local_api_usage.md
  docs/developer/incident_system.md
  docs/getting_started.md
  docs/user/troubleshooting/homeassistant_troubleshooting.de.md
  docs/user/troubleshooting/homeassistant_troubleshooting.md
  mkdocs.yml
  pyproject.toml
Due: none

chore(ci): pin third-party actions to SHA and refresh dependabot groups
  .github/dependabot.yml
  .github/workflows/lock.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-on-tag.yml
  .github/workflows/test-run.yaml
Due: none

chore(ci): pin third-party actions to SHA and refresh dependabot groups (#3239)
  .github/dependabot.yml
  .github/workflows/lock.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-on-tag.yml
  .github/workflows/test-run.yaml
Due: none

chore(ci): add Dependabot auto-merge (patch/minor) and 7-day cooldown
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(ci): add Dependabot auto-merge (patch/minor) and 7-day cooldown (#3242)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix(model): skip VALUES getValue fallback for VirtualDevices (#3228)
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  tests/test_model_device.py
Due: Model Module

Update requirements_test.txt
  requirements_test.txt
Due: none

fix(model): skip VALUES getValue fallback for VirtualDevices (#3228) (#3244)
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  requirements_test.txt
  tests/test_model_device.py
Due: Model Module

fix(model): roll back optimistic values immediately on collector send error (#3238)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  changelog.md
  tests/contract/test_optimistic_updates_contract.py
  tests/test_optimistic_updates.py
Due: Model Module

fix(model): roll back optimistic values immediately on collector send error (#3238) (#3245)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  changelog.md
  tests/contract/test_optimistic_updates_contract.py
  tests/test_optimistic_updates.py
Due: Model Module

fix(model): widen HmIP-FWI CODE_ID MAX to 31 so idle value reaches HA (#3238)
  aiohomematic/const.py
  aiohomematic/store/patches/paramset_patches.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
  tests/test_paramset_patches.py
Due: Store Module

fix(model): widen HmIP-FWI CODE_ID MAX to 31 so idle value reaches HA (#3238) (#3247)
  aiohomematic/const.py
  aiohomematic/store/patches/paramset_patches.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
  tests/test_paramset_patches.py
Due: Store Module

Update requirements
  .pre-commit-config.yaml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

fix(model): exclude actuator data points from climate validity (#3255)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/test_model_climate.py
Due: Model Module

fix(model): exclude actuator data points from climate validity (#3255) (#3257)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/test_model_climate.py
Due: Model Module

docs(readme): note agentic AI-assisted development
  README.md
Due: none

docs(readme): note agentic AI-assisted development (#3258)
  README.md
Due: none

fix(model): disable getValue fallback for BidCos-RF (#3260)
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  tests/test_model_device.py
Due: Model Module

test: align getValue-fallback tests with BidCos-RF skip (#3260)
  tests/test_central.py
  tests/test_model_data_point.py
Due: none

fix(model): disable getValue fallback for BidCos-RF (#3260) (#3263)
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  tests/test_central.py
  tests/test_model_data_point.py
  tests/test_model_device.py
Due: Model Module

feat(model): add user access permission switches for HmIP-DLD and HmIP-FWI (#3262)
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/access_permission.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/switch.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_access_permission.py
Due: Model Module, Store Module

feat(model): add user access permission switches for HmIP-DLD and HmIP-FWI (#3262) (#3265)
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/access_permission.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/switch.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_access_permission.py
Due: Model Module, Store Module

fix(model): don't let CUxD/CCU-Jack init drown in the JSON-RPC session storm
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  tests/contract/test_cuxd_ccu_jack_contract.py
  tests/test_client_json_rpc_client.py
  tests/test_model_data_point.py
Due: Client Module, Model Module

fix(model): don't let CUxD/CCU-Jack init drown in the JSON-RPC session storm (#3274)
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  tests/contract/test_cuxd_ccu_jack_contract.py
  tests/test_client_json_rpc_client.py
  tests/test_model_data_point.py
Due: Client Module, Model Module

feat(model): expose color temperature for HmIP-LSC (#3277)
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

feat(model): expose color temperature for HmIP-LSC (#3277) (#3278)
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

fix(model): keep valve-only HmIP heating group climate valid (#3279)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/test_model_climate.py
Due: Model Module

fix(model): keep valve-only HmIP heating group climate valid (#3279) (#3280)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/test_model_climate.py
Due: Model Module

fix(model): keep climate entity loadable when SETPOINT paramset has no MAX (#3281)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/contract/test_climate_temperature_bounds_contract.py
  tests/test_model_climate.py
Due: Model Module

refactor(interfaces)!: flatten zero-use ISP slice protocols into composites
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  docs/adr/0007-device-slots-reduction-rejected.md
  docs/adr/0020-command-throttling-priority-and-optimistic-updates.md
  docs/adr/0024-ccu-translation-extraction.md
  docs/architecture/protocol_selection_guide.md
  tests/contract/test_client_protocol_contract.py
  tests/contract/test_command_priority_contract.py
  tests/contract/test_device_channel_protocol_contract.py
Due: Model Module

refactor(core): remove unused tracing and logging_context modules
  aiohomematic/logging_context.py
  aiohomematic/tracing.py
  tests/test_context_variables.py
Due: none

refactor!: drop standalone hmcli CLI tool
  CLAUDE.md
  aiohomematic/hmcli.py
  docs/contributor/testing/coverage.md
  docs/developer/cli_tool.md
  mkdocs.yml
  pyproject.toml
  tests/test_hmcli.py
Due: none

refactor(events): remove dead SysvarStateChangedEvent
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/events/__init__.py
  aiohomematic/central/events/bus.py
  docs/architecture/events/event_bus.md
  docs/architecture/events/event_reference.md
  docs/architecture/sequence_diagrams.md
  tests/test_central_event_bus.py
  tests/test_central_event_types.py
  tests/test_central_hub_coordinator.py
Due: Central Module

refactor(api)!: remove HomematicAPI facade
  aiohomematic/api.py
  docs/developer/consumer_api.md
  docs/faq.de.md
  docs/faq.md
  docs/getting_started.de.md
  docs/getting_started.md
  docs/quickstart.de.md
  docs/quickstart.md
  docs/reference/api/api.md
  docs/reference/api/index.md
  docs/reference/common_operations.de.md
  docs/reference/common_operations.md
  docs/user/advanced/security.de.md
  docs/user/advanced/security.md
  tests/test_api.py
Due: none

docs: changelog, version 2026.7.6 and migration guide for the simplification audit
  changelog.md
  docs/migrations/simplification_migration_2026_07.md
Due: none
