Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Reorg translations
  .pre-commit-config.yaml
  docs/de/faq.md
  docs/de/user/advanced/cuxd_ccu_jack.md
  docs/de/user/advanced/optional_settings.md
  docs/de/user/advanced/unignore.md
  docs/de/user/device_support.md
  docs/de/user/features/config_panel.md
  docs/de/user/homeassistant_integration.md
  docs/de/user/troubleshooting/homeassistant_troubleshooting.md
  docs/de/user/troubleshooting/troubleshooting_flowchart.md
  docs/faq.de.md
  docs/getting_started.de.md
  docs/glossary_terms.yml
  docs/index.de.md
  docs/quickstart.de.md
  docs/reference/common_operations.de.md
  docs/reference/glossary.de.md
  docs/reference/glossary.md
  docs/troubleshooting/index.de.md
  docs/troubleshooting/paramset_inconsistency.de.md
  docs/user/advanced/cuxd_ccu_jack.de.md
  docs/user/advanced/homeassistant_naming.de.md
  docs/user/advanced/optional_settings.de.md
  docs/user/advanced/security.de.md
  docs/user/advanced/unignore.de.md
  docs/user/device_support.de.md
  docs/user/features/backup.de.md
  docs/user/features/calculated_climate_sensors.de.md
  docs/user/features/climate_schedule_card.de.md
  docs/user/features/config_panel.de.md
  docs/user/features/homeassistant_actions.de.md
  docs/user/features/optimistic_updates.de.md
  docs/user/features/schedule_card.de.md
  docs/user/features/week_profile.de.md
  docs/user/homeassistant_integration.de.md
  docs/user/troubleshooting/homeassistant_troubleshooting.de.md
  docs/user/troubleshooting/rssi_fix.de.md
  docs/user/troubleshooting/troubleshooting_flowchart.de.md
  mkdocs.yml
  script/translate_docs.py
Due: none

Reorg translations (#3084)
  .pre-commit-config.yaml
  docs/de/faq.md
  docs/de/user/advanced/cuxd_ccu_jack.md
  docs/de/user/advanced/optional_settings.md
  docs/de/user/advanced/unignore.md
  docs/de/user/device_support.md
  docs/de/user/features/config_panel.md
  docs/de/user/homeassistant_integration.md
  docs/de/user/troubleshooting/homeassistant_troubleshooting.md
  docs/de/user/troubleshooting/troubleshooting_flowchart.md
  docs/faq.de.md
  docs/getting_started.de.md
  docs/glossary_terms.yml
  docs/index.de.md
  docs/quickstart.de.md
  docs/reference/common_operations.de.md
  docs/reference/glossary.de.md
  docs/reference/glossary.md
  docs/troubleshooting/index.de.md
  docs/troubleshooting/paramset_inconsistency.de.md
  docs/user/advanced/cuxd_ccu_jack.de.md
  docs/user/advanced/homeassistant_naming.de.md
  docs/user/advanced/optional_settings.de.md
  docs/user/advanced/security.de.md
  docs/user/advanced/unignore.de.md
  docs/user/device_support.de.md
  docs/user/features/backup.de.md
  docs/user/features/calculated_climate_sensors.de.md
  docs/user/features/climate_schedule_card.de.md
  docs/user/features/config_panel.de.md
  docs/user/features/homeassistant_actions.de.md
  docs/user/features/optimistic_updates.de.md
  docs/user/features/schedule_card.de.md
  docs/user/features/week_profile.de.md
  docs/user/homeassistant_integration.de.md
  docs/user/troubleshooting/homeassistant_troubleshooting.de.md
  docs/user/troubleshooting/rssi_fix.de.md
  docs/user/troubleshooting/troubleshooting_flowchart.de.md
  mkdocs.yml
  script/translate_docs.py
Due: none

Fix language selection in docs
  docs/hooks/i18n_alternate_filter.py
  mkdocs.yml
Due: none

Add doc fallback to en
  docs/hooks/i18n_alternate_filter.py
  mkdocs.yml
Due: none

Use public unique_id for events and subscriptions
  aiohomematic/model/data_point.py
  tests/test_model_data_point.py
Due: Model Module

update version
  aiohomematic/const.py
  changelog.md
Due: none

Update changelog.md
  changelog.md
Due: none

Fixes
  docs/hooks/__init__.py
  docs/hooks/i18n_alternate_filter.py
Due: none

Update const.py
  aiohomematic/const.py
Due: none

Use public unique_id for events and subscriptions (#3088)
  aiohomematic/model/data_point.py
  changelog.md
  docs/hooks/__init__.py
  docs/hooks/i18n_alternate_filter.py
  tests/test_model_data_point.py
Due: Model Module

Always populate unconfirmed value on set
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/hub/data_point.py
  changelog.md
  tests/test_model_number.py
Due: Model Module

Always populate unconfirmed value on set (#3091)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/hub/data_point.py
  changelog.md
  tests/test_model_number.py
Due: Model Module

Clamp schedule level_2 to [0.0, 1.0]
  aiohomematic/model/schedule_models.py
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Clamp schedule level_2 to [0.0, 1.0] (#3093)
  aiohomematic/model/schedule_models.py
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Update requirements
  .pre-commit-config.yaml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Fix doc
  docs/user/device_support.de.md
  docs/user/device_support.md
Due: none

Update pydevccu
  requirements_test.txt
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
Due: none

Added additional data points for HmIP-DLP
  aiohomematic/ccu_data/easymode_extract.json.gz
  aiohomematic/ccu_data/translation_extract.json.gz
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/custom/lock.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
Due: Client Module, Model Module, Store Module

Added additional data points for HmIP-DLP (#3099)
  aiohomematic/ccu_data/easymode_extract.json.gz
  aiohomematic/ccu_data/translation_extract.json.gz
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/custom/lock.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  requirements_test.txt
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
Due: Client Module, Model Module, Store Module

Registered additional data points in multi-channel detection cache
  aiohomematic/interfaces/operations.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
Due: Model Module, Store Module

Registered additional data points in multi-channel detection cache (#3100)
  aiohomematic/interfaces/operations.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
Due: Model Module, Store Module

Fixed multi-channel postfix for data point names
  aiohomematic/model/support.py
  changelog.md
  tests/conftest.py
  tests/test_central_pydev_openccu.py
Due: Model Module

Fixed multi-channel postfix for data point names (#3101)
  aiohomematic/model/support.py
  changelog.md
  tests/conftest.py
  tests/test_central_pydev_openccu.py
Due: Model Module

Ignore HmIP-WRC6-230 in visibility rules
  aiohomematic/store/visibility/rules.py
  changelog.md
Due: Store Module

Ignore HmIP-WRC6-230 in visibility rules (#3102)
  aiohomematic/store/visibility/rules.py
  changelog.md
Due: Store Module

Synthesize missing parameter name translations from value entries
  aiohomematic/ccu_data/translation_extract.json.gz
  changelog.md
  script/extract_ccu_translations.py
Due: none

Synthesize missing parameter name translations from value entries (#3104)
  aiohomematic/ccu_data/translation_extract.json.gz
  changelog.md
  script/extract_ccu_translations.py
Due: none

Fixed spurious optimistic rollbacks for CUxD/CCU-Jack devices
  aiohomematic/model/data_point.py
  changelog.md
  tests/test_optimistic_updates.py
Due: Model Module

Fixed spurious optimistic rollbacks for CUxD/CCU-Jack devices (#3105)
  aiohomematic/model/data_point.py
  changelog.md
  tests/test_optimistic_updates.py
Due: Model Module

Added channel name to device link and linkable channel data
  aiohomematic/central/coordinators/link.py
  aiohomematic/const.py
  changelog.md
  docs/user/features/climate_schedule_card.de.md
  docs/user/features/climate_schedule_card.md
  docs/user/features/config_panel.de.md
  docs/user/features/config_panel.md
  docs/user/features/schedule_card.de.md
  docs/user/features/schedule_card.md
  tests/contract/test_link_coordinator_contract.py
  tests/test_link_coordinator.py
Due: Central Module

Added channel name to device link and linkable channel data (#3106)
  aiohomematic/central/coordinators/link.py
  aiohomematic/const.py
  changelog.md
  docs/user/features/climate_schedule_card.de.md
  docs/user/features/climate_schedule_card.md
  docs/user/features/config_panel.de.md
  docs/user/features/config_panel.md
  docs/user/features/schedule_card.de.md
  docs/user/features/schedule_card.md
  tests/contract/test_link_coordinator_contract.py
  tests/test_link_coordinator.py
Due: Central Module

Added channel name to configurable device channel data
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/const.py
  changelog.md
  tests/test_configuration_coordinator.py
Due: Central Module

Added channel name to configurable device channel data (#3107)
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/const.py
  changelog.md
  tests/test_configuration_coordinator.py
Due: Central Module

Update frontend cards
  docs/user/features/climate_schedule_card.de.md
  docs/user/features/climate_schedule_card.md
  docs/user/features/config_panel.de.md
  docs/user/features/config_panel.md
  docs/user/features/schedule_card.de.md
  docs/user/features/schedule_card.md
  docs/user/features/status_cards.de.md
  docs/user/features/status_cards.md
  docs/user/homeassistant_integration.de.md
  docs/user/homeassistant_integration.md
Due: none

Added `determine_parameter` support
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Fixes
  .pre-commit-config.yaml
  docs/user/features/climate_schedule_card.de.md
  docs/user/features/climate_schedule_card.md
  docs/user/features/schedule_card.de.md
  docs/user/features/schedule_card.md
  docs/user/features/status_cards.de.md
  docs/user/features/status_cards.md
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Added `determine_parameter` support (#3108)
  .pre-commit-config.yaml
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
  docs/user/features/climate_schedule_card.de.md
  docs/user/features/climate_schedule_card.md
  docs/user/features/schedule_card.de.md
  docs/user/features/schedule_card.md
  docs/user/features/status_cards.de.md
  docs/user/features/status_cards.md
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: Client Module

Added `determine_parameter` to `ValueOperationsProtocol
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  changelog.md
Due: none

Added `determine_parameter` to `ValueOperationsProtocol (#3109)
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  changelog.md
Due: none

Update codeql workflow
  .github/workflows/codeql.yml
  docs/user/features/config_panel.de.md
  docs/user/features/config_panel.md
Due: none
