Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Fix Central stuck in `FAILED` after a startup-failure recovery succeeds
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
  tests/test_connection_recovery.py
Due: Central Module

Fix Central stuck in `FAILED` after a startup-failure recovery succeeds (#3185)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
  tests/test_connection_recovery.py
Due: Central Module

Update requirements
  .pre-commit-config.yaml
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Fix Switch/cover/valve schedule round-trip fails when the CCU paramset includes fields the device category doesn't support
  aiohomematic/const.py
  aiohomematic/model/schedule_models.py
  changelog.md
  tests/contract/test_schedule_round_trip_contract.py
Due: Model Module

Fix Switch/cover/valve schedule round-trip fails when the CCU paramset includes fields the device category doesn't support (#3198)
  aiohomematic/const.py
  aiohomematic/model/schedule_models.py
  changelog.md
  tests/contract/test_schedule_round_trip_contract.py
Due: Model Module

Blocking file I/O in the event loop on first easymode access.
  aiohomematic/const.py
  aiohomematic/easymode_data.py
  changelog.md
  tests/test_easymode_data.py
Due: none

Blocking file I/O in the event loop on first easymode access. (#3205)
  aiohomematic/const.py
  aiohomematic/easymode_data.py
  changelog.md
  tests/test_easymode_data.py
Due: none

Fix HmIP-RGBW / HmIP-DRG-DALI cannot be switched on
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Fix HmIP-RGBW / HmIP-DRG-DALI cannot be switched on (#3211)
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Create drop-in-optimizations.md
  docs/drop-in-optimizations.md
Due: none

test(contract): add drop-in contract foundation
  docs/drop-in-optimizations.md
  script/lint_package_imports.py
  tests/contract/test_consumed_surface_contract.py
  tests/fixtures/unique_id_golden.json
  tests/test_unique_id_golden.py
Due: none

test(contract): add loom wire enum drift guard
  tests/contract/loom_wire_enums.json
  tests/contract/refresh_loom_wire_enums.py
  tests/contract/test_loom_wire_enum_drift_contract.py
Due: none

docs(drop-in): record #2 done, defer #3 extraction
  docs/drop-in-optimizations.md
Due: none

test(contract): enforce model + event_types stay backend-agnostic (Phase 4+5)
  script/lint_package_imports.py
  tests/contract/test_model_backend_agnostic_contract.py
Due: none

refactor(contract): relocate CommandPriority to aiohomematic-contract (Step 0a)
  aiohomematic/client/__init__.py
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  docs/drop-in-optimizations.md
  pyproject.toml
  tests/contract/test_command_priority_contract.py
  tests/test_command_retry.py
  tests/test_command_throttle.py
  tests/test_model_action.py
  tests/test_model_action_boolean.py
  tests/test_model_action_number.py
  tests/test_model_action_string.py
  tests/test_model_button.py
  tests/test_model_climate.py
  tests/test_model_cover.py
  tests/test_model_light.py
  tests/test_model_lock.py
  tests/test_model_number.py
  tests/test_model_select.py
  tests/test_model_siren.py
  tests/test_model_switch.py
  tests/test_model_text_display.py
  tests/test_model_valve.py
  tests/test_optimistic_updates.py
  tests/test_priority_detection.py
  tests/test_priority_integration.py
  tests/test_unique_id_golden.py
Due: Client Module, Model Module

docs+test(contract): record contract-gaps closure; assert enums sourced from contract (P2)
  docs/contract-gaps.md
  tests/contract/test_contract_enum_sourcing_contract.py
Due: none

docs(contributor): add contract-first release process note
  docs/contributor/contract_release_process.md
Due: none

Update project
  pyproject.toml
  requirements.txt
Due: none

Update test_model_hub_update.py
  tests/test_model_hub_update.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Create settings.json
  .claude/settings.json
Due: none

update requirements
  .pre-commit-config.yaml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Warn when device creation is interrupted
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Warn when device creation is interrupted (#3216)
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Update req
  requirements.txt
  requirements_test.txt
Due: none

Update changelog
  changelog.md
Due: none

fix(rega): skip empty values in fetch_all_device_data instead of coercing to 0 (#3228)
  aiohomematic/const.py
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  changelog.md
  tests/contract/test_fetch_all_device_data_script_contract.py
Due: none

fix(rega): skip empty values in fetch_all_device_data instead of coercing to 0 (#3228) (#3229)
  aiohomematic/const.py
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  changelog.md
  tests/contract/test_fetch_all_device_data_script_contract.py
Due: none

Update requirements
  .claude/settings.json
  .pre-commit-config.yaml
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

fix(support): strip CCU type prefix from values before conversion
  aiohomematic/model/support.py
  tests/test_support.py
Due: Model Module

feat(issues): steer reporters to raw data over pasted AI analyses
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .pre-commit-config.yaml
  aiohomematic/const.py
  changelog.md
  tests/github_scripts/__init__.py
  tests/github_scripts/test_analyze_issue.py
Due: none

fix(test): stub requests so analyze_issue tests load without it on CI
  tests/github_scripts/test_analyze_issue.py
Due: none

feat(issues): steer reporters to raw data over pasted AI analyses (#3232)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .pre-commit-config.yaml
  aiohomematic/const.py
  changelog.md
  tests/github_scripts/__init__.py
  tests/github_scripts/test_analyze_issue.py
Due: none

fix(model): load *_STATUS on init, keep last value on UNKNOWN (#3228)
  aiohomematic/model/data_point.py
  changelog.md
  tests/test_central.py
  tests/test_model_data_point.py
  tests/test_model_data_point_validity.py
Due: Model Module

fix(model): load *_STATUS on init, keep last value on UNKNOWN (#3228) (#3233)
  aiohomematic/model/data_point.py
  changelog.md
  tests/test_central.py
  tests/test_model_data_point.py
  tests/test_model_data_point_validity.py
Due: Model Module
