Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Preserve channel postfix when translation suppresses parameter name
  aiohomematic/const.py
  aiohomematic/model/support.py
  changelog.md
  example.py
Due: Model Module

Preserve channel postfix when translation suppresses parameter name (#2950)
  aiohomematic/const.py
  aiohomematic/model/support.py
  changelog.md
  example.py
Due: Model Module

Fix delayed device creation failing on multi-interface devices
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Fix delayed device creation failing on multi-interface devices (#2952)
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Add translations for LINK paramset parameters
  aiohomematic/ccu_translations.py
  changelog.md
  tests/test_ccu_translations.py
Due: none

Add link parameters to translations
  aiohomematic/ccu_translations.py
  aiohomematic/translations/ccu_custom/parameter_values_de.json
  aiohomematic/translations/ccu_custom/parameter_values_en.json
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  changelog.md
  tests/test_ccu_translations.py
Due: none

Add translations for LINK paramset parameters (#2953)
  aiohomematic/ccu_translations.py
  aiohomematic/translations/ccu_custom/parameter_values_de.json
  aiohomematic/translations/ccu_custom/parameter_values_en.json
  aiohomematic/translations/ccu_custom/parameters_de.json
  aiohomematic/translations/ccu_custom/parameters_en.json
  changelog.md
  tests/test_ccu_translations.py
Due: none

On-demand LINK paramset description fetching
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
  tests/contract/test_client_protocol_contract.py
  tests/test_configuration_coordinator.py
Due: Central Module, Client Module

On-demand LINK paramset description fetching (#2954)
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
  tests/contract/test_client_protocol_contract.py
  tests/test_configuration_coordinator.py
Due: Central Module, Client Module

LinkCoordinator for device direct link management
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/__init__.py
  aiohomematic/central/coordinators/link.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/contract/test_link_coordinator_contract.py
  tests/test_link_coordinator.py
Due: Central Module, Model Module

LinkCoordinator for device direct link management (#2955)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/__init__.py
  aiohomematic/central/coordinators/link.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/contract/test_link_coordinator_contract.py
  tests/test_link_coordinator.py
Due: Central Module, Model Module

Paramset copy operation
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/__init__.py
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/interfaces/central.py
  changelog.md
  tests/test_configuration_coordinator.py
  uv.lock
Due: Central Module

Paramset copy operation (#2956)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/__init__.py
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/interfaces/central.py
  changelog.md
  tests/test_configuration_coordinator.py
  uv.lock
Due: Central Module

Architecture docs updated
  CLAUDE.md
  changelog.md
  docs/architecture.md
  docs/reference/api/central.md
Due: none

Architecture docs updated (#2957)
  CLAUDE.md
  changelog.md
  docs/architecture.md
  docs/reference/api/central.md
Due: none

adcc concept
  docs/concept/hcu_integration_concept.md
Due: none

Documentation audit and corrections
  AGENTS.md
  README.md
  aiohomematic/const.py
  changelog.md
  docs/adr/0012-async-xml-rpc-server-poc.md
  docs/architecture.md
  docs/architecture/caching.md
  docs/architecture/data_flow.md
  docs/architecture/event_driven_metrics.md
  docs/architecture/events/event_bus.md
  docs/architecture/events/event_reference.md
  docs/architecture/sequence_diagrams.md
  docs/developer/consumer_api.md
  docs/developer/extension_points.md
  docs/faq.md
  docs/reference/api/central.md
  docs/reference/api/exceptions.md
  docs/reference/common_operations.md
Due: none

Documentation audit and corrections (#2959)
  AGENTS.md
  README.md
  aiohomematic/const.py
  changelog.md
  docs/adr/0012-async-xml-rpc-server-poc.md
  docs/architecture.md
  docs/architecture/caching.md
  docs/architecture/data_flow.md
  docs/architecture/event_driven_metrics.md
  docs/architecture/events/event_bus.md
  docs/architecture/events/event_reference.md
  docs/architecture/sequence_diagrams.md
  docs/developer/consumer_api.md
  docs/developer/extension_points.md
  docs/faq.md
  docs/reference/api/central.md
  docs/reference/api/exceptions.md
  docs/reference/common_operations.md
Due: none

Schedule domain property for week profiles
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
Due: Model Module

Schedule domain property for week profiles (#2963)
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
Due: Model Module

Clear deleted schedule entries on CCU
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Clear deleted schedule entries on CCU (#2964)
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Handle empty XML-RPC responses for void CCU methods
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  changelog.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  setup
Due: Client Module

Handle empty XML-RPC responses for void CCU methods (#2970)
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  changelog.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  setup
Due: Client Module

Delete setup
  setup
Due: none

Delete setup (#2971)
  setup
Due: none

Add card docs
  docs/user/features/climate_schedule_card.md
  docs/user/features/config_panel.md
  docs/user/features/schedule_card.md
  mkdocs.yml
Due: none

Add card docs (#2972)
  docs/user/features/climate_schedule_card.md
  docs/user/features/config_panel.md
  docs/user/features/schedule_card.md
  mkdocs.yml
Due: none

Use JSON-RPC for HmIP-RF install mode
  aiohomematic/client/backends/ccu.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Use JSON-RPC for HmIP-RF install mode (#2973)
  aiohomematic/client/backends/ccu.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Improve empty XML-RPC response handling
  aiohomematic/client/rpc_proxy.py
  changelog.md
Due: Client Module

Improve empty XML-RPC response handling (#2974)
  aiohomematic/client/rpc_proxy.py
  changelog.md
Due: Client Module

Fix HmIP-HDM2 cover showing "unknown" state
  aiohomematic/model/custom/cover.py
  changelog.md
Due: Model Module

Fix HmIP-HDM2 cover showing "unknown" state (#2975)
  aiohomematic/model/custom/cover.py
  changelog.md
Due: Model Module

Update docs
  docs/user/features/homeassistant_actions.md
  docs/user/features/week_profile.md
Due: none

Update docs (#2976)
  docs/user/features/homeassistant_actions.md
  docs/user/features/week_profile.md
Due: none

Add KoFi to funding
  .github/FUNDING.yml
Due: none

Update requirements
  .gitignore
  .pre-commit-config.yaml
  requirements_test.txt
  requirements_test_pre_commit.txt
  uv.lock
Due: none

Add option value translations
  aiohomematic/const.py
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  changelog.md
  script/extract_ccu_translations.py
  tests/test_ccu_translations.py
Due: none
