Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Added validation for schedule data based on device category
  aiohomematic/const.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Update week_profile.md
  docs/user/features/week_profile.md
Due: none

Added validation for schedule data based on device category (#2908)
  aiohomematic/const.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/user/features/week_profile.md
  tests/test_model_week_profile.py
Due: Model Module

Command throttle
  aiohomematic/client/__init__.py
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
  tests/test_command_throttle.py
Due: Client Module

Update test_capability_contract.py
  tests/contract/test_capability_contract.py
Due: none

Command throttle (#2909)
  aiohomematic/client/__init__.py
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
  tests/contract/test_capability_contract.py
  tests/test_command_throttle.py
Due: Client Module

Burst detection
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0020-command-throttling-priority-and-optimistic-updates.md
  tests/contract/test_capability_contract.py
  tests/contract/test_command_priority_contract.py
  tests/test_command_throttle.py
  tests/test_priority_detection.py
  tests/test_priority_integration.py
Due: Client Module, Model Module

Burst detection (#2912)
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0020-command-throttling-priority-and-optimistic-updates.md
  tests/contract/test_capability_contract.py
  tests/contract/test_command_priority_contract.py
  tests/test_command_throttle.py
  tests/test_priority_detection.py
  tests/test_priority_integration.py
Due: Client Module, Model Module

Add ADRs to docs
  mkdocs.yml
Due: none

Update adr status
  docs/adr/0016-paramset-description-patching.md
  docs/adr/0019-derived-binary-sensors.md
  docs/adr/index.md
Due: none

Update ADR status (#2913)
  docs/adr/0016-paramset-description-patching.md
  docs/adr/0019-derived-binary-sensors.md
  docs/adr/index.md
  mkdocs.yml
Due: none

Test burst detection
  CLAUDE.md
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/command_throttle.py
  aiohomematic/client/state_machine.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/calculated/climate.py
  aiohomematic/model/calculated/derived_binary_sensor.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/siren.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/store/dynamic/ping_pong.py
  aiohomematic/store/storage.py
  tests/test_command_throttle.py
Due: Central Module, Client Module, Model Module, Store Module

Test burst detection (#2914)
  CLAUDE.md
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/command_throttle.py
  aiohomematic/client/state_machine.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/calculated/climate.py
  aiohomematic/model/calculated/derived_binary_sensor.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/siren.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/store/dynamic/ping_pong.py
  aiohomematic/store/storage.py
  tests/test_command_throttle.py
Due: Central Module, Client Module, Model Module, Store Module

CRITICAL queue purge
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/exceptions.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0020-command-throttling-priority-and-optimistic-updates.md
  requirements_test.txt
  tests/test_command_throttle.py
  tests/test_model_cover.py
  tests/test_model_lock.py
  tests/test_model_siren.py
Due: Client Module, Model Module

Update homeassistant_integration.md
  docs/user/homeassistant_integration.md
Due: none

CRITICAL queue purge (#2915)
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/exceptions.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/adr/0020-command-throttling-priority-and-optimistic-updates.md
  docs/user/homeassistant_integration.md
  requirements_test.txt
  tests/test_command_throttle.py
  tests/test_model_cover.py
  tests/test_model_lock.py
  tests/test_model_siren.py
Due: Client Module, Model Module

No Optimistic burst false rollbacks
  aiohomematic/const.py
  aiohomematic/i18n.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  changelog.md
Due: Model Module

Optimistic mismatch no longer fires rollback events
  aiohomematic/model/generic/data_point.py
  changelog.md
Due: Model Module

No Optimistic burst false rollbacks (#2917)
  aiohomematic/const.py
  aiohomematic/i18n.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  changelog.md
Due: Model Module

Update changelog
  changelog.md
  docs/user/homeassistant_integration.md
Due: none

WeekProfileSensor
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_sensor.py
  changelog.md
  tests/test_central.py
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
Due: Central Module, Model Module

Schedule access removed from non-climate CDPs
  aiohomematic/interfaces/model.py
  aiohomematic/model/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/week_profile_sensor.py
  changelog.md
  tests/test_model_switch.py
  tests/test_week_profile_sensor.py
Due: Model Module

Rename wp sensor to data_point
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/__init__.py
  aiohomematic/model/device.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
  tests/test_central.py
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_week_profile_data_point.py
Due: Central Module, Model Module

Added device-level data points that serve as the central interface for schedule data
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  docs/migrations/index.md
  docs/migrations/week_profile_data_point_migration_2026_02.md
  tests/contract/test_backend_week_profile_contract.py
  tests/test_central.py
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_climate.py
  tests/test_model_week_profile.py
  tests/test_week_profile_data_point.py
Due: Model Module

Update docs
  docs/adr/0020-command-throttling-priority-and-optimistic-updates.md
  docs/adr/0022-week-profile-data-point.md
  docs/adr/index.md
Due: none

Added device-level data points that serve as the central interface for schedule data (#2920)
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  docs/adr/0020-command-throttling-priority-and-optimistic-updates.md
  docs/adr/0022-week-profile-data-point.md
  docs/adr/index.md
  docs/migrations/index.md
  docs/migrations/week_profile_data_point_migration_2026_02.md
  tests/contract/test_backend_week_profile_contract.py
  tests/test_central.py
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_climate.py
  tests/test_model_switch.py
  tests/test_model_week_profile.py
  tests/test_week_profile_data_point.py
Due: Central Module, Model Module

HA-Addon renamed to HA-App
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  aiohomematic/client/command_throttle.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/hub.py
  aiohomematic/model/week_profile_data_point.py
  aiohomematic/rega_scripts/get_backend_info.fn
  changelog.md
Due: Client Module, Model Module

Update hub.py
  aiohomematic/model/hub/hub.py
Due: Model Module

HA-Addon renamed to HA-App (#2921)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  aiohomematic/client/command_throttle.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/hub.py
  aiohomematic/model/week_profile_data_point.py
  aiohomematic/rega_scripts/get_backend_info.fn
  changelog.md
Due: Client Module, Model Module

CallbackDataPoint ownership reset on unsubscribe
  aiohomematic/model/data_point.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
Due: Model Module

CallbackDataPoint ownership reset on unsubscribe (#2922)
  aiohomematic/model/data_point.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
Due: Model Module

DelegatedProperty expansion
  CLAUDE.md
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/rpc_server.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/connectivity.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/store/dynamic/ping_pong.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/incident.py
  aiohomematic/store/storage.py
  aiohomematic/store/visibility/registry.py
  changelog.md
  docs/user/features/homeassistant_actions.md
  docs/user/features/week_profile.md
  docs/user/homeassistant_integration.md
Due: Central Module, Client Module, Model Module, Store Module

docs
  docs/user/features/homeassistant_actions.md
  docs/user/features/week_profile.md
Due: none

Fixes
  aiohomematic/interfaces/model.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
Due: Model Module

Climate CDP notification on schedule change
  aiohomematic/interfaces/model.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  docs/adr/0022-week-profile-data-point.md
  docs/developer/homematicip_local_api_usage.md
  docs/migrations/index.md
  docs/migrations/week_profile_data_point_migration_2026_02.md
  docs/user/features/homeassistant_actions.md
  docs/user/features/week_profile.md
  tests/contract/test_backend_week_profile_contract.py
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Model Module

Update test_async_support.py
  tests/test_async_support.py
Due: none

DelegatedProperty expansion (#2923)
  CLAUDE.md
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/rpc_server.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/command_throttle.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/connectivity.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/week_profile.py
  aiohomematic/model/week_profile_data_point.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/store/dynamic/ping_pong.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/incident.py
  aiohomematic/store/storage.py
  aiohomematic/store/visibility/registry.py
  changelog.md
  docs/adr/0022-week-profile-data-point.md
  docs/developer/homematicip_local_api_usage.md
  docs/migrations/index.md
  docs/migrations/week_profile_data_point_migration_2026_02.md
  docs/user/features/homeassistant_actions.md
  docs/user/features/week_profile.md
  docs/user/homeassistant_integration.md
  tests/contract/test_backend_week_profile_contract.py
  tests/test_async_support.py
  tests/test_model_climate.py
  tests/test_model_week_profile.py
Due: Central Module, Client Module, Model Module, Store Module

Rename `_temporary_value` to `_unconfirmed_value`
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/model/hub/data_point.py
  changelog.md
  docs/adr/0020-command-throttling-priority-and-optimistic-updates.md
  docs/architecture/data_flow.md
  docs/architecture/value_resolution.md
  docs/contributor/contributing.md
  docs/contributor/dev-environment.md
  docs/contributor/git-workflow.md
  docs/contributor/release_process.md
  mkdocs.yml
  tests/test_interface_client_comparison.py
Due: Client Module, Model Module
