Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

feat(const): let an inbox entry say it is awaiting release (#3366)
  aiohomematic/const.py
  changelog.md
Due: none

feat(model): lift capabilities onto a category-specific protocol
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/custom.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  changelog.md
  docs/developer/consumer_api.md
  docs/reference/api/public_api.md
  tests/contract/test_capability_protocol_contract.py
Due: Model Module

feat(model): lift capabilities onto a category-specific protocol (#3368)
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/custom.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  changelog.md
  docs/developer/consumer_api.md
  docs/reference/api/public_api.md
  tests/contract/test_capability_protocol_contract.py
Due: Model Module

fix(model): scope CUxD addresses by central in generate_unique_id
  aiohomematic/model/support.py
  changelog.md
  docs/migrations/cuxd_unique_id_scoping_migration_2026_08.md
  docs/migrations/index.md
  tests/contract/test_unique_id_routing_key_contract.py
  tests/test_naming_and_unique_id.py
Due: Model Module

fix(model): scope CUxD addresses by central in generate_unique_id (#3370)
  aiohomematic/model/support.py
  changelog.md
  docs/migrations/cuxd_unique_id_scoping_migration_2026_08.md
  docs/migrations/index.md
  tests/contract/test_unique_id_routing_key_contract.py
  tests/test_naming_and_unique_id.py
Due: Model Module

fix(hub): key system variables and programs on their id, not their name
  aiohomematic/model/hub/data_point.py
  tests/test_naming_and_unique_id.py
Due: Model Module

release: 2026.8.8 — key hub data points on their id
  .pre-commit-config.yaml
  aiohomematic/const.py
  changelog.md
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Key system variables and programs on their id, not their name (2026.8.8) (#3372)
  .pre-commit-config.yaml
  aiohomematic/const.py
  aiohomematic/model/hub/data_point.py
  changelog.md
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/test_naming_and_unique_id.py
Due: Model Module

chore(tooling): guard prek revisions against the pinned tool versions
  .pre-commit-config.yaml
  CLAUDE.md
  aiohomematic/const.py
  changelog.md
  docs/contributor/dev-environment.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  script/check_pre_commit_pins.py
  tests/test_check_pre_commit_pins.py
Due: none

chore(tooling): guard prek revisions against the pinned tool versions (#3375)
  .pre-commit-config.yaml
  CLAUDE.md
  aiohomematic/const.py
  changelog.md
  docs/contributor/dev-environment.md
  requirements_test.txt
  requirements_test_pre_commit.txt
  script/check_pre_commit_pins.py
  tests/test_check_pre_commit_pins.py
Due: none

fix(climate): don't let a rarely reported SET_POINT_MODE invalidate IP heating groups (#3376)
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/contract/test_cdp_validity_contract.py
  tests/test_model_climate.py
Due: Model Module

fix(climate): don't let a rarely reported SET_POINT_MODE invalidate IP heating groups (#3376) (#3378)
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/contract/test_cdp_validity_contract.py
  tests/test_model_climate.py
Due: Model Module

fix(sysvar): keep a type-mismatched system variable as text (#3377)
  aiohomematic/client/json_rpc.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

fix(sysvar): describe the confirmed LIST constellation from #3377
  changelog.md
  tests/test_client_json_rpc_client.py
Due: none

fix(sysvar): keep a type-mismatched system variable as text (#3377) (#3379)
  aiohomematic/client/json_rpc.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

chore(issue-template): ask which AI tool was used to write a report
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
Due: none

chore(issue-template): ask which AI tool was used to write a report (#3383)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
Due: none

fix(client): log how many values the bulk device-data fetch returned
  aiohomematic/client/json_rpc.py
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

fix(client): log how many values the bulk device-data fetch returned (#3384)
  aiohomematic/client/json_rpc.py
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

chore(issue-triage): enforce the issue form and the raw-data precondition
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .github/scripts/check_issue_template.py
  .github/scripts/issue_form.py
  .github/workflows/close-insufficient-info.yml
  .github/workflows/validate-issue-template.yml
  .pre-commit-config.yaml
  AI_POLICY.md
  requirements_test.txt
  tests/github_scripts/test_analyze_issue.py
  tests/github_scripts/test_check_issue_template.py
Due: none

docs(issue-triage): describe the tightened raw-data rule and the template check
  .github/workflows/ISSUE_ANALYZER_README.md
Due: none

chore(issue-triage): enforce the issue form and the raw-data precondition (#3388)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .github/scripts/check_issue_template.py
  .github/scripts/issue_form.py
  .github/workflows/ISSUE_ANALYZER_README.md
  .github/workflows/close-insufficient-info.yml
  .github/workflows/validate-issue-template.yml
  .pre-commit-config.yaml
  AI_POLICY.md
  requirements_test.txt
  tests/github_scripts/test_analyze_issue.py
  tests/github_scripts/test_check_issue_template.py
Due: none

fix(cover): send commands issued while the cover is moving
  aiohomematic/const.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/data_point.py
  changelog.md
  tests/test_model_cover.py
Due: Model Module

chore(issue-triage): describe the motivating report without citing its number
  .github/scripts/analyze_issue.py
  .github/scripts/check_issue_template.py
  tests/github_scripts/test_analyze_issue.py
  tests/github_scripts/test_check_issue_template.py
Due: none

fix(cover): send commands issued while the cover is moving (#3389)
  aiohomematic/const.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/data_point.py
  changelog.md
  tests/test_model_cover.py
Due: Model Module

chore(issue-triage): describe the motivating report without citing its number (#3390)
  .github/scripts/analyze_issue.py
  .github/scripts/check_issue_template.py
  tests/github_scripts/test_analyze_issue.py
  tests/github_scripts/test_check_issue_template.py
Due: none

fix(availability): re-measure device availability after a reconnect
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  changelog.md
  tests/contract/test_availability_resync_contract.py
Due: Central Module, Model Module

fix(availability): re-measure device availability after a reconnect (#3397)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  changelog.md
  tests/contract/test_availability_resync_contract.py
Due: Central Module, Model Module

Update requirements
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

fix(store): refresh the expired bulk snapshot before giving up
  aiohomematic/central/coordinators/client.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/model/device.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/support/__init__.py
  changelog.md
  docs/architecture/caching.md
  tests/contract/test_bulk_snapshot_contract.py
  tests/test_model_device.py
  tests/test_store_dynamic_caches.py
  tests/test_support.py
Due: Central Module, Model Module, Store Module

fix(store): back off when the bulk snapshot refetch comes back empty
  aiohomematic/store/dynamic/data.py
  changelog.md
  tests/test_store_dynamic_caches.py
Due: Store Module

fix(store): refresh the expired bulk snapshot before giving up (#3399)
  aiohomematic/central/coordinators/client.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/model/device.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/support/__init__.py
  changelog.md
  docs/architecture/caching.md
  tests/contract/test_bulk_snapshot_contract.py
  tests/test_model_device.py
  tests/test_store_dynamic_caches.py
  tests/test_support.py
Due: Central Module, Model Module, Store Module

fix(model): refresh the expired bulk snapshot for ignored init parameters
  aiohomematic/model/data_point.py
  changelog.md
  tests/test_model_data_point.py
Due: Model Module

fix(model): refresh the expired bulk snapshot for ignored init parameters (#3401)
  aiohomematic/model/data_point.py
  changelog.md
  tests/test_model_data_point.py
Due: Model Module

fix(central): keep the channel descriptions when a device is re-fetched
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  aiohomematic/store/persistent/device.py
  aiohomematic_test_support/mock.py
  changelog.md
  tests/contract/test_device_description_completeness_contract.py
  tests/test_central_device_coordinator.py
Due: Central Module, Store Module

fix(central): keep the channel descriptions when a device is re-fetched (#3408)
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  aiohomematic/store/persistent/device.py
  aiohomematic_test_support/mock.py
  changelog.md
  tests/contract/test_device_description_completeness_contract.py
  tests/test_central_device_coordinator.py
Due: Central Module, Store Module

test: run simulator-backed tests against godevccu
  .github/workflows/test-run.yaml
  changelog.md
  docs/contributor/dev-environment.md
  docs/plans/godevccu_test_backend_2026_10.md
  tests/conftest.py
  tests/helpers/godevccu_process.py
  tests/test_godevccu_process.py
Due: none

test: run simulator-backed tests against godevccu (#3429)
  .github/workflows/test-run.yaml
  changelog.md
  docs/contributor/dev-environment.md
  docs/plans/godevccu_test_backend_2026_10.md
  tests/conftest.py
  tests/helpers/godevccu_process.py
  tests/test_godevccu_process.py
Due: none

test: fix stale pydevccu thread filter and leaked coroutine warning
  changelog.md
  pyproject.toml
  tests/test_model_hub_update.py
  tests/test_warning_filters.py
Due: none

test: fix stale pydevccu thread filter and leaked coroutine warning (#3430)
  changelog.md
  pyproject.toml
  tests/test_model_hub_update.py
  tests/test_warning_filters.py
Due: none
