Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Add MetricsAggregator for unified observability
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/metrics.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/const.py
  aiohomematic/decorators.py
  aiohomematic/store/dynamic/data.py
  changelog.md
  docs/architecture_review_2025_12.md
  release_summary.md
  tests/test_metrics.py
Due: Central Module, Client Module, Store Module

Add MetricsAggregator for unified observability (#2635)
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/metrics.py
  aiohomematic/client/__init__.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/const.py
  aiohomematic/decorators.py
  aiohomematic/store/dynamic/data.py
  changelog.md
  docs/adr/0001-circuit-breaker-and-connection-state.md
  docs/adr/0004-thread-based-xml-rpc-server.md
  docs/adr/0007-device-slots-reduction-rejected.md
  docs/adr/0010-protocol-combination-analysis.md
  docs/architecture.md
  docs/architecture_review_2025_12.md
  release_summary.md
  tests/test_metrics.py
Due: Central Module, Client Module, Store Module

Update validator.py
  aiohomematic/validator.py
Due: none

Add metrics hub sensors for Home Assistant
  aiohomematic/central/__init__.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/metrics.py
  changelog.md
  release_summary.md
  tests/test_central_hub_coordinator.py
Due: Central Module, Model Module

Move const
  aiohomematic/const.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/metrics.py
  tests/test_central_background_scheduler.py
Due: Model Module

Update mock.py
  aiohomematic_test_support/mock.py
Due: none

Add metrics hub sensors for Home Assistant (#2638)
  aiohomematic/central/__init__.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/metrics.py
  aiohomematic_test_support/mock.py
  changelog.md
  release_summary.md
  tests/test_central_background_scheduler.py
  tests/test_central_hub_coordinator.py
Due: Central Module, Model Module

Remove wrong prefix from issue translation_key
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/store/dynamic/ping_pong.py
  tests/test_central.py
Due: Client Module, Store Module

Remove wrong prefix from issue translation_key (#2639)
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/store/dynamic/ping_pong.py
  tests/test_central.py
Due: Client Module, Store Module

Fix health score not reaching 100%*
  aiohomematic/central/__init__.py
  aiohomematic/central/metrics.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/store/dynamic/ping_pong.py
  changelog.md
  release_summary.md
Due: Central Module, Client Module, Store Module

Fix health score not reaching 100%* (#2640)
  aiohomematic/central/__init__.py
  aiohomematic/central/metrics.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/store/dynamic/ping_pong.py
  changelog.md
  release_summary.md
Due: Central Module, Client Module, Store Module

Allow pos-only
  aiohomematic/validator.py
  script/lint_kwonly.py
Due: none

Add new events for connection, cache, and circuit breaker monitoring
  aiohomematic/central/cache_coordinator.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_cache_coordinator.py
Due: Central Module, Client Module

New events for comprehensive system observability
  aiohomematic/central/event_bus.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/client/state_machine.py
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_central_state_machine.py
  tests/test_failure_reason.py
Due: Central Module, Client Module

Use new events
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/dataclasses.py
  aiohomematic_test_support/__init__.py
  aiohomematic_test_support/event_capture.py
  docs/event_reference.md
  docs/testing_with_events.md
  tests/conftest.py
  tests/test_event_capture.py
  tests/test_metrics.py
Due: none

Emit Health Record Events events
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/event_bus.py
  aiohomematic/client/__init__.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/interfaces/client.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/dataclasses.py
  changelog.md
  tests/test_central_client_coordinator.py
  tests/test_circuit_breaker.py
Due: Central Module, Client Module

Remove legacy events
  aiohomematic/central/state_machine.py
  aiohomematic/client/__init__.py
  aiohomematic/client/state_machine.py
  changelog.md
  docs/adr/0009-interface-event-consolidation.md
  docs/common_operations.md
  docs/event_reference.md
  docs/migrations/central_state_machine_2025_12.md
  docs/migrations/event_migration_2025_12.md
  docs/migrations/event_system_migration_2025_12.md
  docs/migrations/failure_reason_migration_2025_12.md
  docs/migrations/protocol_subprotocols_2025_12.md
  docs/migrations/simple_schedule_migration_2025_12.md
  tests/test_central.py
Due: Central Module, Client Module

add SelfHealingCoordinator
  aiohomematic/central/cache_coordinator.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/self_healing.py
  aiohomematic/metrics/events.py
  aiohomematic/metrics/keys.py
  aiohomematic_test_support/__init__.py
  aiohomematic_test_support/event_mock.py
  changelog.md
  tests/test_central_device_coordinator.py
  tests/test_event_capture.py
  tests/test_self_healing.py
Due: Central Module

Update changelog.md
  changelog.md
Due: none

Use publish in async context
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/self_healing.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/model/generic/data_point.py
Due: Central Module, Client Module, Model Module

Fix
  tests/test_central_hub_coordinator.py
  tests/test_client.py
Due: none

Add Tests
  changelog.md
  tests/test_event_driven_verification.py
Due: none

Migrate tests to event driven
  changelog.md
  tests/test_central_background_scheduler.py
  tests/test_central_cache_coordinator.py
  tests/test_central_client_coordinator.py
  tests/test_central_event_coordinator.py
  tests/test_circuit_breaker.py
  tests/test_event_driven_verification.py
  tests/test_model_cover.py
  tests/test_request_coalescer.py
  tests/test_self_healing.py
Due: none

Update release_summary.md
  release_summary.md
Due: none

Migrate tests to event driven (#2643)
  changelog.md
  release_summary.md
  tests/test_central_background_scheduler.py
  tests/test_central_cache_coordinator.py
  tests/test_central_client_coordinator.py
  tests/test_central_event_coordinator.py
  tests/test_circuit_breaker.py
  tests/test_event_driven_verification.py
  tests/test_model_cover.py
  tests/test_request_coalescer.py
  tests/test_self_healing.py
Due: none

Update release summary
  release_summary.md
Due: none

Docs überarbeitet
  docs/adr/0010-protocol-combination-analysis.md
  docs/architecture.md
  docs/architecture_analysis.md
  docs/architecture_review_2025_12.md
  docs/metrics_responsibility_concept.md
Due: none

Add Unified Connection Recovery Coordinator
  aiohomematic/central/__init__.py
  aiohomematic/central/connection_recovery.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/recovery.py
  aiohomematic/central/self_healing.py
  aiohomematic/const.py
  aiohomematic/metrics/aggregator.py
  changelog.md
  tests/test_central_state_machine.py
  tests/test_recovery.py
  tests/test_self_healing.py
Due: Central Module

Remove legacy code
  CLAUDE.md
  aiohomematic/metrics/__init__.py
  aiohomematic/metrics/service.py
  changelog.md
  tests/test_metrics.py
Due: none

Remove recovery logic from scheduler
  aiohomematic/central/__init__.py
  aiohomematic/central/scheduler.py
  changelog.md
  tests/test_central_background_scheduler.py
Due: Central Module

Fixed `DEVICES_DELAYED` event not being forwarded to integrations
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/integration_events.py
  changelog.md
  tests/test_central_hub_coordinator.py
Due: Central Module

Rename previous_value to last_active_value
  aiohomematic/central/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/metrics.py
  tests/test_central_state_machine.py
Due: Central Module, Model Module

Update data_point.py
  aiohomematic/model/data_point.py
Due: Model Module

Rename to last_non_default_value
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
Due: Model Module

Clear session on reconnect
  aiohomematic/central/connection_recovery.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/data_point.py
Due: Central Module, Client Module, Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
