Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Add tests (#3057)
  tests/test_central.py
  tests/test_client_json_rpc_client.py
  tests/test_connection_recovery.py
  tests/test_interface_client_lifecycle.py
  tests/test_model_device.py
Due: none

Improve *Messages
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/capabilities.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/alarm_messages.py
  aiohomematic/model/hub/hub.py
  aiohomematic/model/hub/service_messages.py
  aiohomematic/rega_scripts/acknowledge_message.fn
  aiohomematic/rega_scripts/get_alarm_messages.fn
  aiohomematic/rega_scripts/get_inbox_devices.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_central.py
  tests/test_central_hub_coordinator.py
  tests/test_client_json_rpc_client.py
  tests/test_connection_recovery.py
  tests/test_hub_messages.py
  tests/test_interface_client_backends.py
  tests/test_interface_client_lifecycle.py
  tests/test_model_device.py
Due: Central Module, Client Module, Model Module

Improve Messages pt2 (#3058)
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/get_alarm_messages.fn
  aiohomematic/rega_scripts/get_inbox_devices.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  changelog.md
Due: Client Module

New device HmIP-DLP
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/lock.py
  changelog.md
Due: Model Module

New device HmIP-DLP (#3061)
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/lock.py
  changelog.md
Due: Model Module

SysvarDpSwitch turn_on/turn_off
  aiohomematic/const.py
  aiohomematic/model/hub/switch.py
  changelog.md
Due: Model Module

SysvarDpSwitch turn_on/turn_off (#3064)
  aiohomematic/const.py
  aiohomematic/model/hub/switch.py
  changelog.md
Due: Model Module

Update requirements
  .claude/skills/update-release-summary/SKILL.md
  .pre-commit-config.yaml
  CLAUDE.md
  release_summary.md
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Add device names to events and SubscriptionGroup
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/central/events/__init__.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/events/integration.py
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/generic/data_point.py
  changelog.md
  tests/test_central_event_coordinator.py
Due: Central Module, Model Module

Add DataPointType and query APIs
  aiohomematic/central/central_unit.py
  aiohomematic/central/query_facade.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Central Module, Model Module

Add sysvar, link info, and service message APIs
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Add ScheduleInfo & easymode conditional metadata
  aiohomematic/central/query_facade.py
  aiohomematic/const.py
  aiohomematic/easymode_data.py
  changelog.md
Due: Central Module

Add system variable, link and service APIs
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/coordinators/link.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
Due: Central Module, Client Module

Cross-project optimizations (#3065)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/coordinators/link.py
  aiohomematic/central/events/__init__.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/events/integration.py
  aiohomematic/central/query_facade.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/easymode_data.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/generic/data_point.py
  changelog.md
  tests/test_central_event_coordinator.py
Due: Central Module, Client Module, Model Module

Alarm messages not returned
  aiohomematic/const.py
  aiohomematic/rega_scripts/get_alarm_messages.fn
  changelog.md
Due: none

Message enrichment in aiohomematic
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/alarm_messages.py
  aiohomematic/model/hub/service_messages.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  script/check_i18n_catalogs.py
Due: Client Module, Model Module

Fixes
  aiohomematic/model/hub/alarm_messages.py
  aiohomematic/model/hub/service_messages.py
  changelog.md
Due: Model Module

Message enrichment in aiohomematic (#3070)
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/alarm_messages.py
  aiohomematic/model/hub/service_messages.py
  aiohomematic/rega_scripts/get_alarm_messages.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  script/check_i18n_catalogs.py
Due: Client Module, Model Module

Use monotonic timestamps for event health checks
  aiohomematic/central/coordinators/event.py
  aiohomematic/central/health.py
  aiohomematic/client/interface_client.py
  aiohomematic/interfaces/client.py
  changelog.md
  tests/contract/test_capability_contract.py
  tests/test_central.py
  tests/test_central_state_machine.py
  tests/test_command_throttle.py
  tests/test_health.py
  tests/test_interface_client_backends.py
  tests/test_interface_client_comparison.py
  tests/test_interface_client_lifecycle.py
Due: Central Module, Client Module

Use monotonic timestamps for event health checks (#3071)
  aiohomematic/central/coordinators/event.py
  aiohomematic/central/health.py
  aiohomematic/client/interface_client.py
  aiohomematic/interfaces/client.py
  changelog.md
  tests/contract/test_capability_contract.py
  tests/test_central.py
  tests/test_central_state_machine.py
  tests/test_command_throttle.py
  tests/test_health.py
  tests/test_interface_client_backends.py
  tests/test_interface_client_comparison.py
  tests/test_interface_client_lifecycle.py
Due: Central Module, Client Module

Update panel docs
  docs/user/features/config_panel.md
Due: none

Quittable flag based on trigger datapoint
  aiohomematic/const.py
  aiohomematic/rega_scripts/acknowledge_message.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  changelog.md
Due: none

Update config_panel.md
  docs/user/features/config_panel.md
Due: none

Quittable flag based on trigger datapoint (#3075)
  aiohomematic/const.py
  aiohomematic/rega_scripts/acknowledge_message.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  changelog.md
  docs/user/features/config_panel.md
Due: none

Removed auto-enable of alarm/service SysVars
  aiohomematic/central/coordinators/hub.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
Due: Central Module, Client Module

Removed auto-enable of alarm/service SysVars (#3076)
  aiohomematic/central/coordinators/hub.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
Due: Central Module, Client Module

Fixed false channel identification for hub data points
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/capabilities.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/factory.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/support.py
  aiohomematic/store/dynamic/details.py
  changelog.md
  tests/contract/test_backend_week_profile_contract.py
  tests/contract/test_capability_contract.py
  tests/contract/test_client_protocol_contract.py
  tests/contract/test_cuxd_ccu_jack_contract.py
  tests/contract/test_device_channel_protocol_contract.py
  tests/test_client.py
  tests/test_client_json_rpc_client.py
  tests/test_command_throttle.py
  tests/test_interface_client_backends.py
  tests/test_interface_client_comparison.py
  tests/test_interface_client_lifecycle.py
  tests/test_model_device.py
Due: Central Module, Client Module, Model Module, Store Module

Fixed false channel identification for hub data points (#3078)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/capabilities.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/factory.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/model/support.py
  aiohomematic/store/dynamic/details.py
  changelog.md
  tests/contract/test_backend_week_profile_contract.py
  tests/contract/test_capability_contract.py
  tests/contract/test_client_protocol_contract.py
  tests/contract/test_cuxd_ccu_jack_contract.py
  tests/contract/test_device_channel_protocol_contract.py
  tests/test_client.py
  tests/test_client_json_rpc_client.py
  tests/test_command_throttle.py
  tests/test_interface_client_backends.py
  tests/test_interface_client_comparison.py
  tests/test_interface_client_lifecycle.py
  tests/test_model_device.py
Due: Central Module, Client Module, Model Module, Store Module

Fixed acknowledge for alarm messages
  aiohomematic/rega_scripts/acknowledge_message.fn
  changelog.md
Due: none

Fixed acknowledge for alarm messages (#3079)
  aiohomematic/rega_scripts/acknowledge_message.fn
  changelog.md
Due: none

Event tier enforcement
  aiohomematic/api.py
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/events/__init__.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/events/internal.py
  aiohomematic/central/query_facade.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/model/device.py
  changelog.md
  docs/architecture.md
  docs/contributor/testing/session_playback.md
  docs/reference/api/public_api.md
  script/lint_event_tiers.py
  tests/test_central_event_bus.py
Due: Central Module, Client Module, Model Module

Event tier enforcement (#3080)
  aiohomematic/api.py
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/events/__init__.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/events/internal.py
  aiohomematic/central/query_facade.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/model/device.py
  changelog.md
  docs/architecture.md
  docs/contributor/testing/session_playback.md
  docs/reference/api/public_api.md
  script/lint_event_tiers.py
  tests/test_central_event_bus.py
Due: Central Module, Client Module, Model Module

Unified subscription architecture
  aiohomematic/central/central_unit.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/query_facade.py
  aiohomematic/client/state_change.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/combined/data_point.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/event.py
  aiohomematic/model/update.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  tests/test_central.py
  tests/test_central_event_bus.py
  tests/test_central_event_types.py
  tests/test_client.py
  tests/test_model_action.py
  tests/test_model_calculated.py
  tests/test_model_calculated_derived_binary_sensor.py
  tests/test_model_combined.py
  tests/test_model_data_point.py
  tests/test_model_device.py
  tests/test_model_hub_update.py
  tests/test_model_update.py
  tests/test_week_profile_data_point.py
Due: Central Module, Client Module, Model Module

Unified subscription architecture (#3081)
  aiohomematic/central/central_unit.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/query_facade.py
  aiohomematic/client/state_change.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/combined/data_point.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/event.py
  aiohomematic/model/update.py
  aiohomematic/model/week_profile_data_point.py
  changelog.md
  tests/test_central.py
  tests/test_central_event_bus.py
  tests/test_central_event_types.py
  tests/test_client.py
  tests/test_model_action.py
  tests/test_model_calculated.py
  tests/test_model_calculated_derived_binary_sensor.py
  tests/test_model_combined.py
  tests/test_model_data_point.py
  tests/test_model_device.py
  tests/test_model_hub_update.py
  tests/test_model_update.py
  tests/test_week_profile_data_point.py
Due: Central Module, Client Module, Model Module

Improve documentation
  CLAUDE.md
  README.md
  aiohomematic/const.py
  changelog.md
  docs/architecture/data_flow.md
  docs/architecture/events/event_bus.md
  docs/architecture/events/event_reference.md
  docs/architecture/events/index.md
  docs/contributor/contributing.md
  docs/contributor/dev-environment.md
  docs/developer/cli_tool.md
  docs/developer/consumer_api.md
  docs/developer/homeassistant_lifecycle.md
  docs/developer/homematicip_local_api_usage.md
  docs/faq.md
  docs/includes/abbreviations.md
  docs/user/features/backup.md
  docs/user/homeassistant_integration.md
Due: none

Improve documentation (#3082)
  CLAUDE.md
  README.md
  aiohomematic/const.py
  changelog.md
  docs/architecture/data_flow.md
  docs/architecture/events/event_bus.md
  docs/architecture/events/event_reference.md
  docs/architecture/events/index.md
  docs/contributor/contributing.md
  docs/contributor/dev-environment.md
  docs/developer/cli_tool.md
  docs/developer/consumer_api.md
  docs/developer/homeassistant_lifecycle.md
  docs/developer/homematicip_local_api_usage.md
  docs/faq.md
  docs/includes/abbreviations.md
  docs/user/features/backup.md
  docs/user/homeassistant_integration.md
Due: none

German documentation
  .pre-commit-config.yaml
  changelog.md
  docs/de/faq.md
  docs/de/glossary_terms.yml
  docs/de/index.md
  docs/de/quickstart.md
  docs/de/troubleshooting/index.md
  docs/de/troubleshooting/paramset_inconsistency.md
  docs/de/user/advanced/cuxd_ccu_jack.md
  docs/de/user/advanced/optional_settings.md
  docs/de/user/advanced/security.md
  docs/de/user/advanced/unignore.md
  docs/de/user/device_support.md
  docs/de/user/features/backup.md
  docs/de/user/features/config_panel.md
  docs/de/user/features/homeassistant_actions.md
  docs/de/user/features/optimistic_updates.md
  docs/de/user/features/week_profile.md
  docs/de/user/homeassistant_integration.md
  docs/de/user/troubleshooting/homeassistant_troubleshooting.md
  docs/de/user/troubleshooting/troubleshooting_flowchart.md
  mkdocs.yml
  requirements_docs.txt
  script/translate_docs.py
Due: none

Fixes
  changelog.md
  docs/contributor/contributing.md
  docs/de/troubleshooting/index.md
  docs/de/user/features/week_profile.md
  mkdocs.yml
Due: none

Update docs.yml
  .github/workflows/docs.yml
Due: none

German documentation (#3083)
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  changelog.md
  docs/contributor/contributing.md
  docs/de/faq.md
  docs/de/glossary_terms.yml
  docs/de/index.md
  docs/de/quickstart.md
  docs/de/troubleshooting/index.md
  docs/de/troubleshooting/paramset_inconsistency.md
  docs/de/user/advanced/cuxd_ccu_jack.md
  docs/de/user/advanced/optional_settings.md
  docs/de/user/advanced/security.md
  docs/de/user/advanced/unignore.md
  docs/de/user/device_support.md
  docs/de/user/features/backup.md
  docs/de/user/features/config_panel.md
  docs/de/user/features/homeassistant_actions.md
  docs/de/user/features/optimistic_updates.md
  docs/de/user/features/week_profile.md
  docs/de/user/homeassistant_integration.md
  docs/de/user/troubleshooting/homeassistant_troubleshooting.md
  docs/de/user/troubleshooting/troubleshooting_flowchart.md
  mkdocs.yml
  requirements_docs.txt
  script/translate_docs.py
Due: none

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
