Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Add option value translations (#2978)
  aiohomematic/const.py
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  changelog.md
  script/extract_ccu_translations.py
  tests/test_ccu_translations.py
Due: none

Add description for week profiles sensor
  docs/user/features/week_profile.md
Due: none

Fix channel-specific translation lookup
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  changelog.md
  docs/user/features/week_profile.md
  tests/test_ccu_translations.py
Due: none

Fix channel-specific translation lookup (#2982)
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  changelog.md
  docs/user/features/week_profile.md
  tests/test_ccu_translations.py
Due: none

Update Funding
  .github/FUNDING.yml
Due: none

Fix spurious optimistic update rollbacks
  aiohomematic/const.py
  aiohomematic/model/generic/data_point.py
  changelog.md
Due: Model Module

Fix spurious optimistic update rollbacks (#2986)
  aiohomematic/const.py
  aiohomematic/model/generic/data_point.py
  changelog.md
Due: Model Module

Parameter help texts
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/data_point.py
  aiohomematic/translations/ccu_custom/parameter_help_de.json
  aiohomematic/translations/ccu_custom/parameter_help_en.json
  aiohomematic/translations/ccu_extract/parameter_help_de.json
  aiohomematic/translations/ccu_extract/parameter_help_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  script/extract_ccu_translations.py
  tests/test_ccu_translations.py
Due: Model Module

Parameter help texts (#2987)
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/data_point.py
  aiohomematic/translations/ccu_custom/parameter_help_de.json
  aiohomematic/translations/ccu_custom/parameter_help_en.json
  aiohomematic/translations/ccu_extract/parameter_help_de.json
  aiohomematic/translations/ccu_extract/parameter_help_en.json
  aiohomematic/translations/ccu_extract/parameter_values_de.json
  aiohomematic/translations/ccu_extract/parameter_values_en.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  script/extract_ccu_translations.py
  tests/test_ccu_translations.py
Due: Model Module

Extract device model → icon filename mapping from CCU
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/translations/ccu_custom/device_icons.json
  aiohomematic/translations/ccu_extract/device_icons.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  script/extract_ccu_translations.py
  tests/test_ccu_translations.py
Due: Model Module

Extract device model → icon filename mapping from CCU (#2988)
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/device.py
  aiohomematic/translations/ccu_custom/device_icons.json
  aiohomematic/translations/ccu_extract/device_icons.json
  aiohomematic/translations/ccu_extract/parameters_de.json
  aiohomematic/translations/ccu_extract/parameters_en.json
  changelog.md
  script/extract_ccu_translations.py
  tests/test_ccu_translations.py
Due: Model Module

feat(.github): Add issue templates for feature requests and frontend redirect
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request_de.yml
Due: none

feat(.github): Add frontend issue redirect to bug report templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request_de.yml
Due: none

Link to frontend repo in issue templates (#2993)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

**Install mode**: Use interface-specific client instead of primary client for install mode buttons
  aiohomematic/const.py
  aiohomematic/model/hub/hub.py
  aiohomematic/model/hub/install_mode.py
  changelog.md
Due: Model Module

**Install mode**: Use interface-specific client instead of primary client for install mode buttons (#2994)
  aiohomematic/const.py
  aiohomematic/model/hub/hub.py
  aiohomematic/model/hub/install_mode.py
  changelog.md
Due: Model Module

Non-climate schedule: allow empty target channels
  aiohomematic/const.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Update test_model_week_profile.py
  tests/test_model_week_profile.py
Due: none

Non-climate schedule: allow empty target channels (#2995)
  aiohomematic/const.py
  aiohomematic/model/schedule_models.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Add Backup Agent doc
  docs/user/features/backup.md
  mkdocs.yml
Due: none

**Device link encoding**: Fix garbled UTF-8 characters in device link names
  aiohomematic/central/coordinators/link.py
  aiohomematic/const.py
  aiohomematic/support/text_utils.py
  changelog.md
  docs/user/features/backup.md
Due: Central Module

**Device link encoding**: Fix garbled UTF-8 characters in device link names (#2997)
  aiohomematic/central/coordinators/link.py
  aiohomematic/const.py
  aiohomematic/support/text_utils.py
  changelog.md
  docs/user/features/backup.md
Due: Central Module

Splitt CLAUDE.md into skills
  .claude/skills/add-device/SKILL.md
  .claude/skills/add-translation/SKILL.md
  .claude/skills/update-release-summary/SKILL.md
  .gitignore
  CLAUDE.md
Due: none

DpActionNumber data points
  .claude/skills/add-translation/SKILL.md
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/model/generic/action_number.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_action_number.py
Due: Model Module

Siren duration unit conversion
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/siren.py
  changelog.md
Due: Model Module

DpActionNumber data points (#3006)
  .claude/skills/add-translation/SKILL.md
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/model/generic/action_number.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_action_number.py
Due: Model Module

Scheduler busy-loop at 100% CPU during connection issues
  aiohomematic/central/scheduler.py
  changelog.md
  tests/test_central_background_scheduler.py
Due: Central Module

Scheduler busy-loop at 100% CPU during connection issues (#3008)
  aiohomematic/central/scheduler.py
  changelog.md
  tests/test_central_background_scheduler.py
Due: Central Module

DpActionBoolean and DpActionString data points
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/model/generic/action_boolean.py
  aiohomematic/model/generic/action_string.py
  changelog.md
  tests/test_model_action_boolean.py
  tests/test_model_action_string.py
Due: Model Module

Type-correct custom data point fields
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/field.py
  aiohomematic/model/custom/mixins.py
  changelog.md
Due: Model Module

Fixes
  aiohomematic/model/custom/field.py
  aiohomematic/model/custom/light.py
Due: Model Module

DpActionBoolean and DpActionString data points (#3009)
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/field.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/model/generic/action_boolean.py
  aiohomematic/model/generic/action_string.py
  changelog.md
  tests/test_model_action_boolean.py
  tests/test_model_action_string.py
Due: Model Module

TimerField descriptor for value+unit timer pairs
  aiohomematic/model/custom/field.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  changelog.md
Due: Model Module

Update changelog.md
  changelog.md
Due: none

TimerField descriptor for value+unit timer pairs (#3010)
  aiohomematic/model/custom/field.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  changelog.md
Due: Model Module

CombinedDataPoint for timer value+unit pairs
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/combined/__init__.py
  aiohomematic/model/combined/data_point.py
  aiohomematic/model/combined/field.py
  aiohomematic/model/combined/timer.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/field.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  aiohomematic/model/device.py
  changelog.md
  docs/architecture.md
  docs/developer/extension_points.md
Due: Model Module

fix(tests): Update data point count assertions after CombinedDataPoint addition
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
Due: none

fix(tests): Update data point count assertions after CombinedDataPoint addition (#3012)
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
Due: none

CombinedDataPoint for timer value+unit pairs (#3011)
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/combined/__init__.py
  aiohomematic/model/combined/data_point.py
  aiohomematic/model/combined/field.py
  aiohomematic/model/combined/timer.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/field.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  aiohomematic/model/device.py
  changelog.md
  docs/architecture.md
  docs/developer/extension_points.md
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
Due: Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
