Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Add CCU support functions
  .pre-commit-config.yaml
  aiohomematic/central/__init__.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/update.py
  aiohomematic/model/support.py
  aiohomematic/rega_scripts/accept_device_in_inbox.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  aiohomematic/store/dynamic.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  example.py
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/test_central_background_scheduler.py
  tests/test_client.py
  tests/test_client_json_rpc_client.py
  tests/test_model_device.py
Due: Central Module, Client Module, Model Module, Store Module

Add Unifi Firewall false positive troubleshooting
  docs/homeassistant_troubleshooting.md
Due: none

Add Unifi Firewall false positive troubleshooting (#2508)
  docs/homeassistant_troubleshooting.md
Due: none

Fix scripts
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/create_backup.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module

Extend get_system_information
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/get_backend_info.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module

Fix tests
  aiohomematic_test_support/const.py
  aiohomematic_test_support/mock.py
  tests/test_client_json_rpc_client.py
Due: none

And Add HmUpdate and HmServiceMessagesSensor (#2506)
  .pre-commit-config.yaml
  aiohomematic/central/__init__.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/update.py
  aiohomematic/model/support.py
  aiohomematic/rega_scripts/accept_device_in_inbox.fn
  aiohomematic/rega_scripts/create_backup.fn
  aiohomematic/rega_scripts/get_backend_info.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  aiohomematic/store/dynamic.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  aiohomematic_test_support/const.py
  aiohomematic_test_support/mock.py
  changelog.md
  example.py
  requirements_test.txt
  requirements_test_pre_commit.txt
  tests/test_central_background_scheduler.py
  tests/test_client.py
  tests/test_client_json_rpc_client.py
  tests/test_model_device.py
Due: Central Module, Client Module, Model Module, Store Module

Fixes
  aiohomematic/interfaces.py
Due: none

Add if
  aiohomematic/interfaces.py
  aiohomematic/model/device.py
Due: Model Module

Update interfaces.py
  aiohomematic/interfaces.py
Due: none

Use more protcols
  aiohomematic/central/device_coordinator.py
  aiohomematic/central/device_registry.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/interfaces.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/week_profile.py
  aiohomematic/validator.py
Due: Central Module, Model Module

Rename regaid to rega_id
  CLAUDE.md
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/device.py
  aiohomematic/model/support.py
  aiohomematic/store/dynamic.py
  changelog.md
  tests/test_client.py
  tests/test_client_json_rpc_client.py
  tests/test_model_device.py
Due: Client Module, Model Module, Store Module

Update docs
  CLAUDE.md
  changelog.md
  docs/api/interfaces.rst
  docs/architecture.md
Due: none

Rename regaid to rega_id / Update documentation (#2511)
  CLAUDE.md
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/device.py
  aiohomematic/model/support.py
  aiohomematic/store/dynamic.py
  changelog.md
  docs/api/interfaces.rst
  docs/architecture.md
  tests/test_client.py
  tests/test_client_json_rpc_client.py
  tests/test_model_device.py
Due: Client Module, Model Module, Store Module

Cleanup client api
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  changelog.md
  tests/test_client.py
Due: Client Module

Cleanup client api (#2516)
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  changelog.md
  tests/test_client.py
Due: Client Module

create_backup_and_download returns bytes
  aiohomematic/client/__init__.py
Due: Client Module

create_backup_and_download returns bytes (#2517)
  aiohomematic/client/__init__.py
Due: Client Module

Refactor Client
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/model/hub/__init__.py
  changelog.md
  tests/test_client.py
  tests/test_model_climate.py
Due: Client Module, Model Module

Use ClientProtocol
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic_test_support/factory.py
  tests/conftest.py
  tests/test_client.py
  tests/test_model_text.py
Due: Central Module, Client Module, Model Module

Refactor Client (#2519)
  aiohomematic/central/__init__.py
  aiohomematic/central/client_coordinator.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/hub/__init__.py
  aiohomematic_test_support/factory.py
  changelog.md
  tests/conftest.py
  tests/test_client.py
  tests/test_model_climate.py
  tests/test_model_text.py
Due: Central Module, Client Module, Model Module

Add create_backup_and_download to BackupProvider/CentralUnit
  aiohomematic/central/__init__.py
  aiohomematic/interfaces.py
  changelog.md
Due: Central Module

Add create_backup_and_download to BackupProvider/CentralUnit (#2520)
  aiohomematic/central/__init__.py
  aiohomematic/interfaces.py
  changelog.md
Due: Central Module

Fix backup download
  aiohomematic/client/json_rpc.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
Due: Client Module

Fix backup download (#2521)
  aiohomematic/client/json_rpc.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
Due: Client Module

Add dedicated inbox devices code
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/rega_scripts/get_inbox_devices.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module, Model Module

Cleanup get_service messages
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/rega_scripts/get_service_messages.fn
  tests/test_client_json_rpc_client.py
Due: Client Module

Add rename_device / accept_device_in_inbox to Central/DeviceManagement
  aiohomematic/central/__init__.py
  aiohomematic/interfaces.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
Due: Central Module

Update changelog.md
  changelog.md
Due: none

Add dedicated inbox devices code (#2522)
  aiohomematic/central/__init__.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/rega_scripts/get_inbox_devices.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Central Module, Client Module, Model Module

Fix accept_device_in_inbox.fn
  aiohomematic/rega_scripts/accept_device_in_inbox.fn
Due: none

Fix accept_device_in_inbox.fn (#2523)
  aiohomematic/rega_scripts/accept_device_in_inbox.fn
Due: none

Add rename for new devices
  aiohomematic/central/__init__.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module, Client Module

Update test_client_json_rpc_client.py
  tests/test_client_json_rpc_client.py
Due: none

Add rename for new devices (#2524)
  aiohomematic/central/__init__.py
  aiohomematic/central/device_coordinator.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_device_coordinator.py
  tests/test_client_json_rpc_client.py
Due: Central Module, Client Module

Add get_install_mode/set_install_mode to DeviceManagement/CentralUnit
  aiohomematic/central/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  changelog.md
Due: Central Module

Add install mode virtual data point with countdown timer (HUB_BUTTON + HUB_SENSOR)
  aiohomematic/central/__init__.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/const.py
  aiohomematic/interfaces.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/install_mode.py
  changelog.md
  requirements_docs.txt
  requirements_test.txt
Due: Central Module, Model Module

Add init_install_mode, fetch_install_mode_data, publish_install_mode_refreshed to Hub/HubCoordinator/CentralUnit
  aiohomematic/central/__init__.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/model/hub/__init__.py
  changelog.md
Due: Central Module, Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
