Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

fix(model): gate custom data point validity by state-carrying fields only
  aiohomematic/const.py
  aiohomematic/model/custom/access_permission.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/model/custom/valve.py
  changelog.md
  docs/adr/0025-cdp-validity-relevant-fields.md
  docs/adr/index.md
  docs/developer/extension_points.md
  docs/developer/homematicip_local_api_usage.md
  docs/plans/cdp_validity_relevant_fields_2026_07.md
  tests/contract/test_cdp_validity_contract.py
  tests/test_model_cover.py
  tests/test_model_switch.py
Due: Model Module

fix(model): gate custom data point validity by state-carrying fields only (#3286)
  aiohomematic/const.py
  aiohomematic/model/custom/access_permission.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/text_display.py
  aiohomematic/model/custom/valve.py
  changelog.md
  docs/adr/0025-cdp-validity-relevant-fields.md
  docs/adr/index.md
  docs/developer/extension_points.md
  docs/developer/homematicip_local_api_usage.md
  docs/plans/cdp_validity_relevant_fields_2026_07.md
  tests/contract/test_cdp_validity_contract.py
  tests/test_model_cover.py
  tests/test_model_switch.py
Due: Model Module

feat(const): add ALARM_CONTROL_PANEL vocabulary for the openccu-loom backend
  aiohomematic/const.py
  changelog.md
Due: none

feat(const): add ALARM_CONTROL_PANEL vocabulary for the openccu-loom backend (#3296)
  aiohomematic/const.py
  changelog.md
Due: none

refactor(issues): refocus issue analyzer from diagnosis to deterministic triage
  .github/scripts/analyze_issue.py
  .github/workflows/ISSUE_ANALYZER_README.md
  .github/workflows/close-insufficient-info.yml
  .github/workflows/issue-analyzer.yml
  aiohomematic/const.py
  changelog.md
  tests/github_scripts/test_analyze_issue.py
Due: none

refactor(issues): refocus issue analyzer from diagnosis to deterministic triage (#3298)
  .github/scripts/analyze_issue.py
  .github/workflows/ISSUE_ANALYZER_README.md
  .github/workflows/close-insufficient-info.yml
  .github/workflows/issue-analyzer.yml
  aiohomematic/const.py
  changelog.md
  tests/github_scripts/test_analyze_issue.py
Due: none

fix(issues): don't crash the analyzer on search terms with zero hits
  .github/scripts/analyze_issue.py
  changelog.md
  tests/github_scripts/test_analyze_issue.py
Due: none

fix(issues): don't crash the analyzer on search terms with zero hits (#3301)
  .github/scripts/analyze_issue.py
  changelog.md
  tests/github_scripts/test_analyze_issue.py
Due: none

feat: device_semantics module — curated doorbell models from openccu-data
  aiohomematic/const.py
  aiohomematic/device_semantics.py
  changelog.md
  pyproject.toml
  requirements.txt
Due: none

feat: device_semantics module — curated doorbell models from openccu-data (#3304)
  aiohomematic/const.py
  aiohomematic/device_semantics.py
  changelog.md
  pyproject.toml
  requirements.txt
Due: none

fix(model): apply multi-channel name postfix only when channel name is ambiguous
  aiohomematic/const.py
  aiohomematic/interfaces/operations.py
  aiohomematic/model/support.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
  docs/contributor/coding/naming.md
  tests/test_store_persistent.py
  tests/test_support.py
Due: Model Module, Store Module

fix(model): apply multi-channel name postfix only when channel name is ambiguous (#3313)
  aiohomematic/const.py
  aiohomematic/interfaces/operations.py
  aiohomematic/model/support.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
  docs/contributor/coding/naming.md
  tests/test_store_persistent.py
  tests/test_support.py
Due: Model Module, Store Module

fix(client): give operational XML-RPC proxy a socket timeout
  aiohomematic/client/client_factory.py
  aiohomematic/const.py
  changelog.md
  tests/test_client.py
  tests/test_client_xml_rpc_proxy.py
Due: Client Module

fix(client): give operational XML-RPC proxy a socket timeout (#3317)
  aiohomematic/client/client_factory.py
  aiohomematic/const.py
  changelog.md
  tests/test_client.py
  tests/test_client_xml_rpc_proxy.py
Due: Client Module

update requirements
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

docs: add AI contribution policy (AI_POLICY.md)
  .github/CONTRIBUTING.md
  AI_POLICY.md
  README.md
  docs/contributor/contributing.md
Due: none

chore(lint): fix ruff 0.16.0 findings
  aiohomematic/async_support.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/property_decorators.py
  script/sort_class_members.py
Due: Central Module

docs: add AI contribution policy (AI_POLICY.md) (#3327)
  .github/CONTRIBUTING.md
  AI_POLICY.md
  README.md
  aiohomematic/async_support.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/property_decorators.py
  docs/contributor/contributing.md
  script/sort_class_members.py
Due: Central Module

chore(release): 2026.8.0
  .pre-commit-config.yaml
  aiohomematic/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

chore(release): 2026.8.0 (#3330)
  .pre-commit-config.yaml
  aiohomematic/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

docs: add HA events reference (EN + DE)
  changelog.md
  docs/user/features/homeassistant_events.de.md
  docs/user/features/homeassistant_events.md
  docs/user/homeassistant_integration.de.md
  docs/user/homeassistant_integration.md
  mkdocs.yml
Due: none

docs: add HA events reference (EN + DE) (#3334)
  changelog.md
  docs/user/features/homeassistant_events.de.md
  docs/user/features/homeassistant_events.md
  docs/user/homeassistant_integration.de.md
  docs/user/homeassistant_integration.md
  mkdocs.yml
Due: none

fix(calculated): gate validity on source validity, not just refreshed state
  aiohomematic/const.py
  aiohomematic/model/calculated/data_point.py
  changelog.md
  tests/test_model_calculated.py
Due: Model Module

fix(calculated): gate validity on source validity, not just refreshed state (#3335)
  aiohomematic/const.py
  aiohomematic/model/calculated/data_point.py
  changelog.md
  tests/test_model_calculated.py
Due: Model Module

fix(calculated): resolve declared source data points at construction
  aiohomematic/const.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/calculated/field.py
  changelog.md
  docs/developer/extension_points.md
  tests/contract/test_calculated_source_resolution_contract.py
  tests/helpers/fake_model.py
  tests/test_model_calculated.py
Due: Model Module

fix(calculated): resolve declared source data points at construction (#3344)
  aiohomematic/const.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/calculated/field.py
  changelog.md
  docs/developer/extension_points.md
  tests/contract/test_calculated_source_resolution_contract.py
  tests/helpers/fake_model.py
  tests/test_model_calculated.py
Due: Model Module

feat(switch): add support for HmIP-FS6 and HmIP-FSI6
  aiohomematic/const.py
  aiohomematic/model/custom/switch.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_model_switch.py
  tests/test_store_visibility.py
Due: Model Module, Store Module

feat(switch): add support for HmIP-FS6 and HmIP-FSI6 (#3346)
  aiohomematic/const.py
  aiohomematic/model/custom/switch.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_model_switch.py
  tests/test_store_visibility.py
Due: Model Module, Store Module

Update Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
Due: none

feat(combined): Expose garage door mode as a SELECT combined data point
  aiohomematic/model/combined/__init__.py
  aiohomematic/model/combined/field.py
  aiohomematic/model/combined/garage_door_mode.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/garage.py
  changelog.md
  tests/test_model_combined.py
Due: Model Module

fix(garage-door-mode): Address review — move enums to const, fix pylint, update counts
  aiohomematic/const.py
  aiohomematic/model/combined/garage_door_mode.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/garage.py
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_combined.py
  tests/test_model_cover.py
Due: Model Module

fix(garage-door-mode): Address review — sync held mode, own identity, docs
  aiohomematic/const.py
  aiohomematic/model/combined/garage_door_mode.py
  aiohomematic/model/custom/cover.py
  changelog.md
  docs/architecture.md
  docs/developer/extension_points.md
  docs/user/device_support.de.md
  docs/user/device_support.md
  tests/test_model_combined.py
  tests/test_model_cover.py
Due: Model Module

feat(combined): Expose garage door mode as a SELECT combined data point (#3357)
  aiohomematic/const.py
  aiohomematic/model/combined/__init__.py
  aiohomematic/model/combined/field.py
  aiohomematic/model/combined/garage_door_mode.py
  aiohomematic/model/custom/cover.py
  changelog.md
  docs/architecture.md
  docs/developer/extension_points.md
  docs/user/device_support.de.md
  docs/user/device_support.md
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_combined.py
  tests/test_model_cover.py
Due: Model Module

fix(climate): don't let a never-reported SETPOINT invalidate HM-CC-TC climate
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/contract/test_cdp_validity_contract.py
  tests/test_model_climate.py
Due: Model Module

fix(climate): don't let a rarely reported CONTROL_MODE invalidate RF thermostats
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/contract/test_cdp_validity_contract.py
  tests/test_model_climate.py
Due: Model Module

fix(climate): don't let rarely reported values invalidate classic RF thermostats (#3358)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/contract/test_cdp_validity_contract.py
  tests/test_model_climate.py
Due: Model Module

feat(const): let an inbox entry say it is awaiting release
  aiohomematic/const.py
Due: none

release: 2026.8.6
  aiohomematic/const.py
  changelog.md
Due: none

style: apply prettier to the changelog entry
  changelog.md
Due: none

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
