Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Use typed EventData
  aiohomematic/central/event_coordinator.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/schemas.py
  tests/test_central_event_coordinator.py
  tests/test_model_event.py
Due: Central Module, Model Module

Update integration_events.py
  aiohomematic/central/integration_events.py
Due: Central Module

Rename EventType to DeviceTriggerEventType (#2603)
  aiohomematic/central/__init__.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  aiohomematic/schemas.py
  changelog.md
  docs/event_reference.md
  docs/migrations/event_system_migration_2025_12.md
  tests/test_central_event_bus.py
  tests/test_central_event_coordinator.py
  tests/test_model_device.py
  tests/test_model_event.py
Due: Central Module, Model Module

Remove EventKey
  aiohomematic/const.py
Due: none

Remove EventKey (#2604)
  aiohomematic/const.py
Due: none

Use device_address, channel_no in DeviceTriggerEvent
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  tests/test_central_event_bus.py
  tests/test_central_event_coordinator.py
  tests/test_model_event.py
Due: Central Module, Model Module

Use device_address, channel_no in DeviceTriggerEvent (#2606)
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  tests/test_central_event_bus.py
  tests/test_central_event_coordinator.py
  tests/test_model_event.py
Due: Central Module, Model Module

Add name, unique_id test,
  aiohomematic/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/__init__.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/dummy.py
  aiohomematic/model/support.py
  tests/test_central_event_bus.py
  tests/test_model_data_point.py
  tests/test_model_device.py
  tests/test_naming_and_unique_id.py
  tests/test_support.py
Due: Central Module, Client Module, Model Module

Add name, unique_id test, (#2608)
  aiohomematic/__init__.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/client/__init__.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/__init__.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/dummy.py
  aiohomematic/model/support.py
  tests/test_central_event_bus.py
  tests/test_model_data_point.py
  tests/test_model_device.py
  tests/test_naming_and_unique_id.py
  tests/test_support.py
Due: Central Module, Client Module, Model Module

Update documentation
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/architecture_analysis.md
  docs/common_operations.md
  docs/data_flow.md
  docs/event_bus.md
  docs/event_reference.md
  docs/extension_points.md
  docs/getting_started.md
  docs/homeassistant_lifecycle.md
  docs/homematicip_local_api_usage.md
  docs/sequence_diagrams.md
  docs/unignore.md
Due: none

Update changelog and instructions
  CLAUDE.md
  aiohomematic/const.py
  changelog.md
Due: none

Update documentation and instructions (#2609)
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  aiohomematic/const.py
  changelog.md
  docs/architecture.md
  docs/architecture_analysis.md
  docs/common_operations.md
  docs/data_flow.md
  docs/event_bus.md
  docs/event_reference.md
  docs/extension_points.md
  docs/getting_started.md
  docs/homeassistant_lifecycle.md
  docs/homematicip_local_api_usage.md
  docs/sequence_diagrams.md
  docs/unignore.md
Due: none

Add DpActionSelect
  aiohomematic/const.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/model/generic/action.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  tests/test_model_action.py
Due: Model Module

Update custom data points
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/model/generic/action.py
  aiohomematic/model/generic/action_select.py
Due: Model Module

Update climate.py
  aiohomematic/model/custom/climate.py
Due: Model Module

Introduce `DpActionSelect` data point type
  aiohomematic/model/custom/cover.py
  changelog.md
Due: Model Module

Introduce `DpActionSelect` data point type (#2611)
  aiohomematic/const.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/model/generic/action_select.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_model_action.py
Due: Model Module

Standardize DataPoint field naming convention
  aiohomematic/model/device.py
  changelog.md
  tests/test_model_device.py
Due: Model Module

Standardize DataPoint field naming convention (#2612)
  aiohomematic/model/device.py
  changelog.md
  tests/test_model_device.py
Due: Model Module

Make ACOUSTIC_ALARM_SELECTION and OPTICAL_ALARM_SELECTION visible
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/model/custom/profile.py
Due: Model Module

Update changelog.md
  changelog.md
Due: none

Enhance `siren.turn_on` service
  aiohomematic/model/custom/siren.py
  aiohomematic/model/generic/action_select.py
  changelog.md
Due: Model Module

Fix tests
  aiohomematic/model/generic/action_select.py
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
Due: Model Module

Make ACOUSTIC_ALARM_SELECTION and OPTICAL_ALARM_SELECTION visible (#2613)
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/generic/action_select.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
Due: Model Module

Add tests for DpSelectAction and CustomDpIpSiren to test new functionality
  tests/test_model_action.py
  tests/test_model_siren.py
Due: none

Add tests for DpSelectAction and CustomDpIpSiren to test new functionality (#2614)
  tests/test_model_action.py
  tests/test_model_siren.py
Due: none

Add task "update release summary"
  CLAUDE.md
  release_summary.md
Due: none

Update docs
  docs/extension_points.md
  release_summary.md
Due: none

Use `@hm_property(cached=True)` for lazy properties
  aiohomematic/model/custom/light.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  changelog.md
Due: Model Module

Use `@hm_property(cached=True)` for lazy properties (#2616)
  aiohomematic/model/custom/light.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  changelog.md
Due: Model Module

Add `DelegatedProperty` descriptor
  aiohomematic/property_decorators.py
  changelog.md
Due: none

Add linter to pre-commit
  .pre-commit-config.yaml
  aiohomematic/model/data_point.py
  script/lint_delegated_property.py
Due: Model Module

Introduce singledispatch pattern for type converters
  aiohomematic/converter.py
  aiohomematic/property_decorators.py
  changelog.md
  tests/test_converter.py
Due: none

Add `CentralConfigBuilder` for fluent configuration
  aiohomematic/central/__init__.py
  aiohomematic/central/config_builder.py
  changelog.md
  tests/test_central_config_builder.py
Due: Central Module

Add Context Variables pattern for request tracking and tracing
  aiohomematic/context.py
  aiohomematic/logging_context.py
  aiohomematic/tracing.py
  changelog.md
  tests/test_context_variables.py
Due: none
