Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Cleanup imports
  aiohomematic/api.py
  aiohomematic/hmcli.py
  aiohomematic/model/week_profile.py
Due: Model Module

Remove outdated docs
  docs/Breaking_change.md
  docs/improvement_plan.md
Due: none

Cleanup imports (#2537)
  aiohomematic/api.py
  aiohomematic/hmcli.py
  aiohomematic/model/week_profile.py
  docs/Breaking_change.md
  docs/improvement_plan.md
Due: Model Module

Move schemas to schemas.py
  aiohomematic/const.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/data_point.py
  aiohomematic/schemas.py
Due: Model Module

Update version
  aiohomematic/const.py
  changelog.md
Due: none

P1
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/data_point.py
Due: Model Module

P2
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
Due: Model Module

rename
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
Due: Model Module

PS+P3
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/definition.py
Due: Model Module

P4-cleanup
  aiohomematic/central/event_bus.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
Due: Central Module, Model Module

Update docs
  CLAUDE.md
  docs/architecture.md
  docs/extension_points.md
Due: none

Update changelog
  changelog.md
Due: none

Add DeviceProfileRegistry as central registry for device-to-profile mappings (#2538)
  CLAUDE.md
  aiohomematic/central/event_bus.py
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/custom/siren.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  aiohomematic/model/data_point.py
  aiohomematic/schemas.py
  changelog.md
  docs/architecture.md
  docs/extension_points.md
Due: Central Module, Model Module

Cleanup of legacy code in custom entity definition
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/profile.py
  aiohomematic/schemas.py
  aiohomematic/store/visibility.py
  aiohomematic/validator.py
  changelog.md
  example.py
  tests/test_model_entity.py
Due: Model Module, Store Module

Update scheduler.py
  aiohomematic/central/scheduler.py
Due: Central Module

Cleanup of legacy code in custom entity definition (#2539)
  CLAUDE.md
  aiohomematic/central/scheduler.py
  aiohomematic/const.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/profile.py
  aiohomematic/schemas.py
  aiohomematic/store/visibility.py
  aiohomematic/validator.py
  changelog.md
  example.py
  tests/test_model_entity.py
Due: Central Module, Model Module, Store Module

Fix retry
  aiohomematic/const.py
  aiohomematic/retry.py
  changelog.md
Due: none

Update retry.py
  aiohomematic/retry.py
Due: none

Fix retry (#2540)
  aiohomematic/const.py
  aiohomematic/retry.py
  changelog.md
Due: none

Add inspector to load_data_point_value
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/dummy.py
  changelog.md
Due: Model Module

Add is_service param to inspector
  aiohomematic/decorators.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/dummy.py
  aiohomematic/model/hub/__init__.py
  changelog.md
  docs/docstring_standards.md
  docs/docstring_templates.md
Due: Model Module

Mark service methods with external/internal scope usage
  aiohomematic/const.py
  aiohomematic/decorators.py
  aiohomematic/model/__init__.py
  aiohomematic/model/calculated/__init__.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/model/generic/dummy.py
  aiohomematic/model/hub/__init__.py
  docs/docstring_standards.md
  docs/docstring_templates.md
  tests/test_decorators.py
  tests/test_model_climate.py
  tests/test_model_cover.py
  tests/test_model_light.py
  tests/test_model_lock.py
  tests/test_model_siren.py
  tests/test_model_switch.py
  tests/test_model_valve.py
Due: Model Module

Update changelog.md
  changelog.md
Due: none

Add scan_aiohomematic_calls.py script to find external method calls
  changelog.md
  script/scan_aiohomematic_calls.py
  tests/test_scan_aiohomematic_calls.py
Due: none

Mark service methods with external/internal scope usage (#2541)
  aiohomematic/const.py
  aiohomematic/decorators.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/__init__.py
  aiohomematic/model/calculated/__init__.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  aiohomematic/model/event.py
  aiohomematic/model/generic/__init__.py
  aiohomematic/model/generic/dummy.py
  aiohomematic/model/hub/__init__.py
  changelog.md
  docs/docstring_standards.md
  docs/docstring_templates.md
  script/scan_aiohomematic_calls.py
  tests/test_decorators.py
  tests/test_model_climate.py
  tests/test_model_cover.py
  tests/test_model_light.py
  tests/test_model_lock.py
  tests/test_model_siren.py
  tests/test_model_switch.py
  tests/test_model_valve.py
  tests/test_scan_aiohomematic_calls.py
Due: Model Module

docs: Update and enhance project documentation
  docs/architecture.md
  docs/data_flow.md
  docs/docstring_audit.md
  docs/event_bus.md
Due: none

Eliminate CDPD dictionary format with pure ProfileConfig implementation
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/support.py
  aiohomematic/model/device.py
  aiohomematic/model/support.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_week_profile.py
Due: Client Module, Model Module

Fix
  aiohomematic/model/custom/climate.py
  aiohomematic/model/device.py
  aiohomematic/model/week_profile.py
  tests/test_model_week_profile.py
Due: Model Module

Eliminate CDPD dictionary format with pure ProfileConfig implementation (#2543)
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/custom/__init__.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/definition.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/support.py
  aiohomematic/model/device.py
  aiohomematic/model/support.py
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_week_profile.py
Due: Client Module, Model Module

Delete docstring_audit.md
  docs/docstring_audit.md
Due: none

docs: Update and enhance project documentation (#2544)
  docs/architecture.md
  docs/data_flow.md
  docs/event_bus.md
Due: none

Refactor CCU backup
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/create_backup.fn
  aiohomematic/rega_scripts/create_backup_start.fn
  aiohomematic/rega_scripts/create_backup_status.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  docs/architecture.md
Due: Client Module

Update create_backup_status.fn
  aiohomematic/rega_scripts/create_backup_status.fn
Due: none

Refactor CCU backup (#2545)
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/rega_scripts/create_backup.fn
  aiohomematic/rega_scripts/create_backup_start.fn
  aiohomematic/rega_scripts/create_backup_status.fn
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/architecture.md
Due: Client Module

Cleanup ReGa scripts
  aiohomematic/rega_scripts/create_backup_start.fn
  aiohomematic/rega_scripts/create_backup_status.fn
  aiohomematic/rega_scripts/get_backend_info.fn
  aiohomematic/rega_scripts/get_serial.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  changelog.md
Due: none

Cleanup ReGa scripts (#2546)
  aiohomematic/rega_scripts/create_backup_start.fn
  aiohomematic/rega_scripts/create_backup_status.fn
  aiohomematic/rega_scripts/get_backend_info.fn
  aiohomematic/rega_scripts/get_serial.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
  changelog.md
Due: none

Revert get_serial.fn &error removal
  aiohomematic/const.py
  aiohomematic/rega_scripts/get_serial.fn
  changelog.md
Due: none

Revert get_serial.fn &error removal (#2547)
  aiohomematic/const.py
  aiohomematic/rega_scripts/get_serial.fn
  changelog.md
Due: none

Cleanup scripts for recorder
  aiohomematic/rega_scripts/accept_device_in_inbox.fn
  aiohomematic/rega_scripts/create_backup_start.fn
  aiohomematic/rega_scripts/create_backup_status.fn
  aiohomematic/rega_scripts/fetch_all_device_data.fn
  aiohomematic/rega_scripts/get_backend_info.fn
  aiohomematic/rega_scripts/get_inbox_devices.fn
  aiohomematic/rega_scripts/get_program_descriptions.fn
  aiohomematic/rega_scripts/get_serial.fn
  aiohomematic/rega_scripts/get_service_messages.fn
  aiohomematic/rega_scripts/get_system_update_info.fn
  aiohomematic/rega_scripts/get_system_variable_descriptions.fn
  aiohomematic/rega_scripts/set_program_state.fn
  aiohomematic/rega_scripts/set_system_variable.fn
  aiohomematic/rega_scripts/trigger_firmware_update.fn
Due: none
