Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Update changelog.md
  changelog.md
Due: none

Update test_async_rpc_server.py
  tests/test_async_rpc_server.py
Due: none

Fix Device Cache Not Reloading After Firmware Update (#2722)
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/rpc_server.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  changelog.md
  tests/test_async_rpc_server.py
Due: Central Module

Remove coverage from test run
  .github/workflows/test-run.yaml
  requirements.txt
  requirements_docs.txt
Due: none

Remove coverage from test run (#2724)
  .github/workflows/test-run.yaml
  requirements.txt
  requirements_docs.txt
Due: none

Fix InterfaceClient Not Loading Channel Names
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

Add client compatibility tests
  tests/test_client_compatibility.py
Due: none

Add RPC Server Compatibility Tests
  tests/test_rpc_server_compatibility.py
Due: none

Fix InterfaceClient Not Loading Channel Names (#2726)
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
  tests/test_client_compatibility.py
  tests/test_client_json_rpc_client.py
  tests/test_rpc_server_compatibility.py
Due: Client Module

Update troubleshooting guide
  docs/homeassistant_troubleshooting.md
Due: none

Add optional feature docs
  docs/optional_settings.md
Due: none

Why Debug Logs and Diagnostics Matter
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  docs/debug_data_importance.md
  docs/homeassistant_troubleshooting.md
  docs/optional_settings.md
Due: none

Why Debug Logs and Diagnostics Matter (#2730)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  docs/debug_data_importance.md
  docs/homeassistant_troubleshooting.md
  docs/optional_settings.md
Due: none

Remove Retry Logic for RPC Operations
  aiohomematic/api.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/retry.py
  changelog.md
  docs/adr/0014-retry-logic-removal.md
  tests/test_api.py
  tests/test_integration_scenarios.py
  tests/test_retry.py
Due: Client Module

Remove Retry Logic for RPC Operations (#2732)
  aiohomematic/api.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/retry.py
  changelog.md
  docs/adr/0014-retry-logic-removal.md
  tests/test_api.py
  tests/test_integration_scenarios.py
  tests/test_retry.py
Due: Client Module

Fix VirtualDevices Connection Failure
  .gitignore
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/rpc_server.py
  aiohomematic/const.py
  changelog.md
  tests/test_rpc_server_compatibility.py
Due: Central Module

Fix VirtualDevices Connection Failure (#2733)
  .gitignore
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/rpc_server.py
  aiohomematic/const.py
  changelog.md
  tests/test_rpc_server_compatibility.py
Due: Central Module

Fix VirtualDevices init() Timeout
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Fix
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
Due: Client Module

Fix VirtualDevices init() Timeout (#2734)
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Fix Homegear device details fetching in InterfaceClient
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Fix Homegear device details fetching in InterfaceClient (#2736)
  aiohomematic/client/backends/base.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/protocol.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Implement Description Data Normalization and Validation
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/rpc_server.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/schemas.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
  docs/adr/0015-description-normalization-concept.md
  tests/test_rpc_server_compatibility.py
Due: Central Module, Client Module, Store Module

Add docs
  docs/adr/0016-api-compliance-analysis.md
  docs/adr/0017-client-api-compliance-analysis.md
Due: none

Implement Description Data Normalization and Validation (#2738)
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/rpc_server.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/schemas.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  changelog.md
  docs/adr/0015-description-normalization-concept.md
  tests/test_rpc_server_compatibility.py
Due: Central Module, Client Module, Store Module

Fix excessive getValue calls during startup
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/store/dynamic/data.py
  changelog.md
Due: Central Module, Store Module

Fix excessive getValue calls during startup (#2740)
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/store/dynamic/data.py
  changelog.md
Due: Central Module, Store Module

Remove some lazy imports
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/ccu.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/client/rpc_proxy.py
Due: Central Module, Client Module

Remove some lazy imports (#2741)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/ccu.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/client/rpc_proxy.py
Due: Central Module, Client Module

Add DeviceAvailabilityProtocol
  aiohomematic/central/events/bus.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/__init__.py
  aiohomematic/model/availability.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  changelog.md
  docs/consumer_api.md
Due: Central Module, Model Module

Add DeviceAvailabilityProtocol (#2742)
  aiohomematic/central/events/bus.py
  aiohomematic/const.py
  aiohomematic/interfaces/model.py
  aiohomematic/model/__init__.py
  aiohomematic/model/availability.py
  aiohomematic/model/data_point.py
  aiohomematic/model/device.py
  changelog.md
  docs/consumer_api.md
Due: Central Module, Model Module

CentralConfig.create_central()` is now async
  aiohomematic/__init__.py
  aiohomematic/api.py
  aiohomematic/central/__init__.py
  aiohomematic/central/config.py
  aiohomematic/const.py
  aiohomematic/support.py
  aiohomematic_test_support/factory.py
  changelog.md
  example.py
  example_state_machine_test.py
  tests/test_central.py
  tests/test_i18n.py
  tests/test_support.py
Due: Central Module

Update factory.py
  aiohomematic_test_support/factory.py
Due: none

CentralConfig.create_central()` is now async (#2744)
  aiohomematic/__init__.py
  aiohomematic/api.py
  aiohomematic/central/__init__.py
  aiohomematic/central/config.py
  aiohomematic/const.py
  aiohomematic/support.py
  aiohomematic_test_support/factory.py
  changelog.md
  example.py
  example_state_machine_test.py
  tests/test_central.py
  tests/test_i18n.py
  tests/test_support.py
Due: Central Module

Eliminate dynamic import in `CentralConfig.create_central()
  aiohomematic/central/central_unit.py
  aiohomematic/central/config.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  changelog.md
Due: Central Module

Eliminate all remaining lazy imports
  aiohomematic/_log_context_protocol.py
  aiohomematic/central/config_builder.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/events/__init__.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/events/integration.py
  aiohomematic/central/events/types.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/ccu.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/events.py
  aiohomematic/metrics/observer.py
  aiohomematic/property_decorators.py
  changelog.md
Due: Central Module, Client Module

Eliminate dynamic imports (#2745)
  aiohomematic/_log_context_protocol.py
  aiohomematic/central/central_unit.py
  aiohomematic/central/config.py
  aiohomematic/central/config_builder.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/events/__init__.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/events/integration.py
  aiohomematic/central/events/types.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/client/ccu.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/client.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/events.py
  aiohomematic/metrics/observer.py
  aiohomematic/property_decorators.py
  changelog.md
Due: Central Module, Client Module

Fix state machine transition error on unload
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Fix state machine transition error on unload (#2750)
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Fix leaked EventBus subscriptions on central stop
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/hub.py
  changelog.md
Due: Central Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
