Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Plugin infrastructure for extensible backends
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/__init__.py
  aiohomematic/client/backends/factory.py
  aiohomematic/client/backends/json_ccu.py
  changelog.md
  docs/adr/0019-jsonclient-plugin-extraction.md
Due: Client Module

CUxD/CCU-Jack regression prevention contract tests*
  CLAUDE.md
  changelog.md
  tests/contract/__init__.py
  tests/contract/test_cuxd_ccu_jack_contract.py
Due: none

CUxD/CCU-Jack regression prevention contract tests (#2866)
  CLAUDE.md
  changelog.md
  tests/contract/__init__.py
  tests/contract/test_cuxd_ccu_jack_contract.py
Due: none

InterfaceConfig converted to Pydantic with CUxD validation
  README.md
  aiohomematic/client/config.py
  aiohomematic/const.py
  changelog.md
  tests/contract/test_configuration_contract.py
Due: Client Module

CentralConfig converted to Pydantic
  aiohomematic/central/config.py
  aiohomematic/central/config_builder.py
  changelog.md
Due: Central Module

Fixes
  aiohomematic/central/config.py
  aiohomematic/const.py
  aiohomematic_test_support/factory.py
Due: Central Module

CentralConfig converted to Pydantic (#2867)
  README.md
  aiohomematic/central/config.py
  aiohomematic/central/config_builder.py
  aiohomematic/client/config.py
  aiohomematic/const.py
  aiohomematic_test_support/factory.py
  changelog.md
  tests/contract/test_configuration_contract.py
Due: Central Module, Client Module

@unique decorator for all Enums
  aiohomematic/central/events/integration.py
  aiohomematic/central/events/types.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/metrics/events.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/siren.py
  aiohomematic/property_decorators.py
  aiohomematic/store/types.py
  changelog.md
  tests/contract/test_backend_week_profile_contract.py
Due: Central Module, Client Module, Model Module, Store Module

@unique decorator for all Enums (#2868)
  aiohomematic/central/events/integration.py
  aiohomematic/central/events/types.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/metrics/events.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/lock.py
  aiohomematic/model/custom/mixins.py
  aiohomematic/model/custom/siren.py
  aiohomematic/property_decorators.py
  aiohomematic/store/types.py
  changelog.md
  tests/contract/test_backend_week_profile_contract.py
Due: Central Module, Client Module, Model Module, Store Module

Improve code quality
  aiohomematic/central/events/bus.py
  aiohomematic/client/backends/capabilities.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/converter.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  aiohomematic/model/data_point.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/connectivity.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/install_mode.py
  aiohomematic/model/hub/metrics.py
  aiohomematic/model/hub/update.py
  aiohomematic/model/update.py
  aiohomematic/model/week_profile.py
  aiohomematic/support.py
  changelog.md
  tests/contract/test_capability_contract.py
  tests/contract/test_client_protocol_contract.py
  tests/contract/test_device_channel_protocol_contract.py
Due: Central Module, Client Module, Model Module

Update data_point.py
  aiohomematic/model/calculated/data_point.py
Due: Model Module

Improve code quality (#2869)
  aiohomematic/central/events/bus.py
  aiohomematic/client/backends/capabilities.py
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/backends/homegear.py
  aiohomematic/client/backends/json_ccu.py
  aiohomematic/converter.py
  aiohomematic/model/calculated/data_point.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/climate.py
  aiohomematic/model/custom/cover.py
  aiohomematic/model/custom/data_point.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/model/custom/registry.py
  aiohomematic/model/custom/switch.py
  aiohomematic/model/custom/valve.py
  aiohomematic/model/data_point.py
  aiohomematic/model/event.py
  aiohomematic/model/hub/connectivity.py
  aiohomematic/model/hub/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/install_mode.py
  aiohomematic/model/hub/metrics.py
  aiohomematic/model/hub/update.py
  aiohomematic/model/update.py
  aiohomematic/model/week_profile.py
  aiohomematic/support.py
  changelog.md
  tests/contract/test_capability_contract.py
  tests/contract/test_client_protocol_contract.py
  tests/contract/test_device_channel_protocol_contract.py
Due: Central Module, Client Module, Model Module

fix Client reconnect now works from INITIALIZED state*
  aiohomematic/client/interface_client.py
  changelog.md
  tests/test_interface_client_lifecycle.py
Due: Client Module

fix Client reconnect now works from INITIALIZED state* (#2871)
  aiohomematic/client/interface_client.py
  changelog.md
  tests/test_interface_client_lifecycle.py
Due: Client Module

JSON parsing now handles unescaped control characters
  aiohomematic/client/json_rpc.py
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

JSON parsing now handles unescaped control characters (#2872)
  aiohomematic/client/json_rpc.py
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

Move wiki pages to docs
  docs/README.md
  docs/user/ccu_scripts/rename_sysvar_marker.md
  docs/user/community_templates.md
  docs/user/devices/hmip_srh_window_handle.md
  docs/user/devices/hmip_swsd_smoke_detector.md
Due: none

Update Contributing
  docs/user/community_templates.md
Due: none

Remove wiki links
  .github/scripts/analyze_issue.py
  .github/workflows/ISSUE_ANALYZER_README.md
Due: none

Enhanced Data Point Validity
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/user/community_templates.md
  docs/user/devices/hmip_srh_window_handle.md
  docs/user/devices/hmip_swsd_smoke_detector.md
  requirements_test.txt
  tests/test_model_data_point_validity.py
Due: Model Module

Enhanced Data Point Validity (#2873)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  docs/user/community_templates.md
  docs/user/devices/hmip_srh_window_handle.md
  docs/user/devices/hmip_swsd_smoke_detector.md
  requirements_test.txt
  tests/test_model_data_point_validity.py
Due: Model Module

Derived Binary Sensors
  aiohomematic/const.py
  aiohomematic/model/calculated/__init__.py
  aiohomematic/model/calculated/derived_binary_sensor.py
  changelog.md
  docs/adr/0019-derived-binary-sensors.md
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_calculated_derived_binary_sensor.py
Due: Model Module

Derived Binary Sensors (#2874)
  aiohomematic/const.py
  aiohomematic/model/calculated/__init__.py
  aiohomematic/model/calculated/derived_binary_sensor.py
  changelog.md
  docs/adr/0019-derived-binary-sensors.md
  tests/test_central_full_session.py
  tests/test_central_pydevccu.py
  tests/test_model_calculated_derived_binary_sensor.py
Due: Model Module

Improve docs
  .github/workflows/docs.yml
  .gitignore
  aiohomematic/const.py
  changelog.md
  docs/Makefile
  docs/README.md
  docs/__init__.py
  docs/api/central.rst
  docs/api/client.rst
  docs/api/interfaces.rst
  docs/api/model.rst
  docs/api/store.rst
  docs/conf.py
  docs/dev/contributing.rst
  docs/dev/coverage.md
  docs/dev/di_architecture.rst
  docs/dev/testing.rst
  docs/includes/abbreviations.md
  docs/index.md
  docs/index.rst
  docs/stylesheets/extra.css
  docs/user/configuration.rst
  docs/user/examples.rst
  docs/user/homeassistant_actions.md
  docs/user/homeassistant_integration.md
  docs/user/homeassistant_naming.md
  docs/user/installation.rst
  docs/user/quickstart.rst
  mkdocs.yml
  requirements_docs.txt
Due: none

Improve docs pt2
  .gitignore
  docs/adr/0010-protocol-combination-analysis.md
  docs/adr/0015-description-normalization-concept.md
  docs/adr/0016-paramset-description-patching.md
  docs/adr/0019-derived-binary-sensors.md
  docs/architecture.md
  docs/contributing.md
  docs/dev/caching.md
  docs/dev/error_handling.md
  docs/dev/release_process.md
  docs/docstring_standards.md
  docs/docstring_templates.md
  docs/event_bus.md
  docs/event_reference.md
  docs/getting_started.md
  docs/homeassistant_troubleshooting.md
  docs/homematicip_local_api_usage.md
  docs/incident_system.md
  docs/sequence_diagrams.md
  docs/unignore.md
  docs/user/cuxd_ccu_jack.md
  docs/user/device_support.md
  docs/user/troubleshooting_flowchart.md
  docs/user/week_profile.md
  mkdocs.yml
Due: none

Improve docs pt3
  docs/homeassistant_troubleshooting.md
  docs/user/cuxd_ccu_jack.md
  docs/user/troubleshooting_flowchart.md
Due: none

Improve documentation pt2
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .github/workflows/close-insufficient-info.yml
  README.md
  changelog.md
  pyproject.toml
Due: none

Improve documentation pt2 (#2877)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .github/workflows/close-insufficient-info.yml
  README.md
  changelog.md
  pyproject.toml
Due: none

Cleanup docs
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .github/workflows/close-insufficient-info.yml
  docs/adr/0019-derived-binary-sensors.md
  docs/includes/abbreviations.md
  docs/user/ccu_scripts/rename_sysvar_marker.md
  docs/user/devices/hmip_srh_window_handle.md
  docs/user/devices/hmip_swsd_smoke_detector.md
  docs/user/features/community_templates.md
  mkdocs.yml
Due: none

Add wrc6
  aiohomematic/model/custom/light.py
Due: Model Module

Update switch.py
  aiohomematic/model/custom/switch.py
Due: Model Module

Update changelog.md
  changelog.md
Due: none

Update abbreviations.md
  .prettierignore
Due: none

Add HmIP-WRC6-230 (#2878)
  .prettierignore
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/switch.py
  changelog.md
Due: Model Module

Reduced log level for data point validation messages
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Model Module

Reduced log level for data point validation messages (#2879)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  changelog.md
Due: Model Module

Remove outdated migration docs
  changelog.md
  docs/migrations/capabilities_migration_2026_01.md
  docs/migrations/channel_event_group_migration_2026_01.md
  docs/migrations/strongly_typed_events_2026_01.md
  docs/user/features/community_templates.md
  mkdocs.yml
Due: none

Improve documentation pt3
  .github/workflows/ISSUE_ANALYZER_README.md
  .github/workflows/docs.yml
  docs/architecture.md
  docs/architecture/events/index.md
  docs/changelog.md
  docs/contributor/coding/naming.md
  docs/contributor/dev-environment.md
  docs/contributor/git-workflow.md
  docs/developer/homeassistant_lifecycle.md
  docs/faq.md
  docs/index.md
  docs/migrations/index.md
  docs/quickstart.md
  docs/reference/api/api.md
  docs/reference/api/central.md
  docs/reference/api/config.md
  docs/reference/api/const.md
  docs/reference/api/exceptions.md
  docs/reference/api/index.md
  docs/troubleshooting/index.md
  docs/user/advanced/security.md
  mkdocs.yml
Due: none

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
