Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Update changelog.md
  changelog.md
Due: none

Update summary
  changelog.md
  release_summary.md
Due: none

Update release_summary.md
  release_summary.md
Due: none

Add Unified Connection Recovery Coordinator (#2644)
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/central/connection_recovery.py
  aiohomematic/central/event_bus.py
  aiohomematic/central/event_coordinator.py
  aiohomematic/central/hub_coordinator.py
  aiohomematic/central/integration_events.py
  aiohomematic/central/recovery.py
  aiohomematic/central/scheduler.py
  aiohomematic/central/self_healing.py
  aiohomematic/client/__init__.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/model.py
  aiohomematic/metrics/__init__.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/service.py
  aiohomematic/model/data_point.py
  aiohomematic/model/hub/inbox.py
  aiohomematic/model/hub/metrics.py
  changelog.md
  docs/adr/0010-protocol-combination-analysis.md
  docs/architecture.md
  docs/architecture_analysis.md
  docs/architecture_review_2025_12.md
  docs/metrics_responsibility_concept.md
  release_summary.md
  tests/test_central_background_scheduler.py
  tests/test_central_hub_coordinator.py
  tests/test_central_state_machine.py
  tests/test_metrics.py
  tests/test_recovery.py
  tests/test_self_healing.py
Due: Central Module, Client Module, Model Module

Simplify metric sensors
  aiohomematic/const.py
  aiohomematic/model/hub/metrics.py
Due: Model Module

Simplify metric sensors (#2646)
  aiohomematic/const.py
  aiohomematic/model/hub/metrics.py
Due: Model Module

Fixed Color Light API
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Add linter to pre-commit
  .pre-commit-config.yaml
  CLAUDE.md
  changelog.md
  release_summary.md
Due: none

Add missing exports
  aiohomematic/model/custom/__init__.py
Due: Model Module

Fixes
  aiohomematic/model/generic/__init__.py
  requirements_docs.txt
  requirements_test.txt
  script/analyze_exports_usage.py
  script/lint_all_exports.py
Due: Model Module

Refactor hub and client packages
  aiohomematic/central/__init__.py
  aiohomematic/client/__init__.py
  aiohomematic/client/ccu.py
  aiohomematic/client/config.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/hub.py
Due: Central Module, Client Module, Model Module

Update docs
  .pre-commit-config.yaml
  CLAUDE.md
  changelog.md
  docs/adr/0006-event-system-priorities-and-batching.md
  docs/api/central.rst
  docs/common_operations.md
  docs/event_bus.md
  docs/event_reference.md
  docs/getting_started.md
  docs/homematicip_local_api_usage.md
  docs/sequence_diagrams.md
  docs/testing_with_events.md
  docs/user/examples.rst
  docs/user/quickstart.rst
  release_summary.md
Due: none

Refactor hub and client packages (#2650)
  .pre-commit-config.yaml
  CLAUDE.md
  aiohomematic/central/__init__.py
  aiohomematic/client/__init__.py
  aiohomematic/client/ccu.py
  aiohomematic/client/config.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/hub.py
  changelog.md
  docs/adr/0006-event-system-priorities-and-batching.md
  docs/api/central.rst
  docs/common_operations.md
  docs/event_bus.md
  docs/event_reference.md
  docs/getting_started.md
  docs/homematicip_local_api_usage.md
  docs/sequence_diagrams.md
  docs/testing_with_events.md
  docs/user/examples.rst
  docs/user/quickstart.rst
  release_summary.md
Due: Central Module, Client Module, Model Module

Update release summary
  release_summary.md
Due: none

Add Storage Abstraction Layer
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  CLAUDE.md
  aiohomematic/central/central_unit.py
  aiohomematic/central/config.py
  aiohomematic/central/coordinators/cache.py
  aiohomematic/const.py
  aiohomematic/model/device.py
  aiohomematic/store/__init__.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  aiohomematic/store/persistent/session.py
  aiohomematic/store/storage.py
  changelog.md
  docs/adr/0011-storage-abstraction.md
  docs/adr/0012-async-xml-rpc-server-poc.md
  release_summary.md
  tests/test_central_cache_coordinator.py
  tests/test_client_xml_rpc_proxy.py
  tests/test_model_device.py
  tests/test_store_persistent.py
Due: Central Module, Model Module, Store Module

Update device.py
  aiohomematic/model/device.py
Due: Model Module

Update session.py
  aiohomematic/store/persistent/session.py
Due: Store Module

Update test_store_persistent.py
  tests/test_store_persistent.py
Due: none

Add Storage Abstraction Layer (#2651)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  CLAUDE.md
  aiohomematic/central/central_unit.py
  aiohomematic/central/config.py
  aiohomematic/central/coordinators/cache.py
  aiohomematic/const.py
  aiohomematic/model/device.py
  aiohomematic/store/__init__.py
  aiohomematic/store/persistent/base.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  aiohomematic/store/persistent/session.py
  aiohomematic/store/storage.py
  changelog.md
  docs/adr/0011-storage-abstraction.md
  docs/adr/0012-async-xml-rpc-server-poc.md
  release_summary.md
  tests/test_central_cache_coordinator.py
  tests/test_client_xml_rpc_proxy.py
  tests/test_model_device.py
  tests/test_store_persistent.py
Due: Central Module, Model Module, Store Module

Add asyncio xml rpc server
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  tests/test_async_rpc_server.py
Due: Central Module

Update async_rpc_server.py
  aiohomematic/central/async_rpc_server.py
Due: Central Module

Fixes
  aiohomematic/central/async_rpc_server.py
  aiohomematic/metrics/keys.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_async_rpc_server.py
Due: Central Module

Extend tests, update docs
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  changelog.md
  docs/adr/0012-async-xml-rpc-server-poc.md
  release_summary.md
  tests/test_async_rpc_server.py
Due: Central Module

Improve metrics/health
  .gitignore
  aiohomematic/central/device_registry.py
  aiohomematic/central/health.py
  aiohomematic/const.py
  aiohomematic/metrics/__init__.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/dataclasses.py
  changelog.md
Due: Central Module

Complete Cache Metrics
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/cache.py
  aiohomematic/client/ccu.py
  aiohomematic/metrics/_protocols.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  aiohomematic/store/visibility/cache.py
  changelog.md
  tests/test_store_dynamic_caches.py
  tests/test_store_visibility.py
Due: Central Module, Client Module, Store Module

Switch to event_bus metrics
  aiohomematic/central/async_rpc_server.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/keys.py
Due: Central Module, Client Module

cleanup
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/metrics/aggregator.py
  tests/test_circuit_breaker.py
  tests/test_client_xml_rpc_proxy.py
  tests/test_request_coalescer.py
Due: Client Module

Update device_ops.py
  aiohomematic/client/handlers/device_ops.py
Due: Client Module

Remove stats from non caches
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/client/ccu.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/request_coalescer.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/operations.py
  aiohomematic/metrics/__init__.py
  aiohomematic/metrics/_protocols.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/dataclasses.py
  aiohomematic/metrics/keys.py
  aiohomematic/metrics/stats.py
  aiohomematic/store/__init__.py
  aiohomematic/store/dynamic/__init__.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/dynamic/data.py
  aiohomematic/store/dynamic/ping_pong.py
  aiohomematic/store/persistent/__init__.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/paramset.py
  aiohomematic/store/types.py
  aiohomematic/store/visibility/__init__.py
  aiohomematic/store/visibility/registry.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_central.py
  tests/test_central_cache_coordinator.py
  tests/test_central_event_coordinator.py
  tests/test_circuit_breaker.py
  tests/test_metrics.py
  tests/test_model_device.py
  tests/test_request_coalescer.py
  tests/test_store_dynamic_caches.py
  tests/test_store_persistent.py
  tests/test_store_visibility.py
Due: Central Module, Client Module, Store Module

Fix error
  aiohomematic/exceptions.py
  aiohomematic/model/device.py
  aiohomematic/store/persistent/device.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Model Module, Store Module

Fix device creation
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/device.py
  changelog.md
Due: Central Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
