Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Device availability events for forced availability
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  tests/test_model_device.py
Due: Model Module

Device availability events for forced availability (#2833)
  aiohomematic/const.py
  aiohomematic/model/device.py
  changelog.md
  tests/test_model_device.py
Due: Model Module

Improve GitHub flows
  .github/dependabot.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-on-tag.yml
  .github/workflows/test-run.yaml
Due: none

Update test-run.yaml
  .github/workflows/test-run.yaml
Due: none

Improve GitHub flows (#2834)
  .github/dependabot.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-on-tag.yml
  .github/workflows/test-run.yaml
Due: none

Add gh workflow
  .github/workflows/close-insufficient-info.yml
  .pre-commit-config.yaml
Due: none

Replace voluptuous with Pydantic
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/schemas.py
  aiohomematic/schemas/__init__.py
  aiohomematic/schemas/device_description.py
  aiohomematic/schemas/parameter_description.py
  aiohomematic/support.py
  aiohomematic/validator.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_rpc_server_compatibility.py
Due: none

Replace voluptuous with Pydantic (#2836)
  CLAUDE.md
  aiohomematic/const.py
  aiohomematic/schemas.py
  aiohomematic/schemas/__init__.py
  aiohomematic/schemas/device_description.py
  aiohomematic/schemas/parameter_description.py
  aiohomematic/support.py
  aiohomematic/validator.py
  changelog.md
  pyproject.toml
  requirements.txt
  tests/test_rpc_server_compatibility.py
Due: none

Async RPC server is now the standard implementation
  CLAUDE.md
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/central_unit.py
  aiohomematic/central/decorators.py
  aiohomematic/central/rpc_server.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  changelog.md
  docs/adr/0004-thread-based-xml-rpc-server.md
  docs/adr/0012-async-xml-rpc-server-poc.md
  docs/optional_settings.md
  pyproject.toml
  tests/test_rpc_server.py
  tests/test_rpc_server_compatibility.py
Due: Central Module

Async RPC server is now the standard implementation (#2837)
  CLAUDE.md
  aiohomematic/central/async_rpc_server.py
  aiohomematic/central/central_unit.py
  aiohomematic/central/decorators.py
  aiohomematic/central/rpc_server.py
  aiohomematic/const.py
  aiohomematic/interfaces/central.py
  changelog.md
  docs/adr/0004-thread-based-xml-rpc-server.md
  docs/adr/0012-async-xml-rpc-server-poc.md
  docs/optional_settings.md
  pyproject.toml
  tests/test_rpc_server.py
  tests/test_rpc_server_compatibility.py
Due: Central Module

Linked entity climate activity is now always enabled
  README.md
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic_test_support/factory.py
  changelog.md
  docs/input_select_helper.md
  docs/optional_settings.md
  example.py
Due: Model Module

Linked entity climate activity is now always enabled (#2838)
  README.md
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  aiohomematic_test_support/factory.py
  changelog.md
  docs/input_select_helper.md
  docs/optional_settings.md
  example.py
Due: Model Module

Remove legacy client implementation
  .github/workflows/test-run.yaml
  aiohomematic/client/__init__.py
  aiohomematic/client/ccu.py
  aiohomematic/client/client_factory.py
  aiohomematic/client/handlers/__init__.py
  aiohomematic/client/handlers/backup.py
  aiohomematic/client/handlers/base.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/handlers/firmware.py
  aiohomematic/client/handlers/link_mgmt.py
  aiohomematic/client/handlers/metadata.py
  aiohomematic/client/handlers/programs.py
  aiohomematic/client/handlers/sysvars.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/state_change.py
  aiohomematic/const.py
  changelog.md
  tests/test_client.py
  tests/test_client_compatibility.py
Due: Client Module

Fix version
  aiohomematic/const.py
  changelog.md
Due: none

Raise coverage to expected > 85%
  pyproject.toml
Due: none

Remove legacy client implementation (#2839)
  .github/workflows/test-run.yaml
  aiohomematic/client/__init__.py
  aiohomematic/client/ccu.py
  aiohomematic/client/client_factory.py
  aiohomematic/client/handlers/__init__.py
  aiohomematic/client/handlers/backup.py
  aiohomematic/client/handlers/base.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/handlers/firmware.py
  aiohomematic/client/handlers/link_mgmt.py
  aiohomematic/client/handlers/metadata.py
  aiohomematic/client/handlers/programs.py
  aiohomematic/client/handlers/sysvars.py
  aiohomematic/client/interface_client.py
  aiohomematic/client/state_change.py
  aiohomematic/const.py
  changelog.md
  pyproject.toml
  tests/test_client.py
  tests/test_client_compatibility.py
Due: Client Module

Add free-threaded python support
  .github/workflows/test-run.yaml
  aiohomematic/__init__.py
  aiohomematic/central/__init__.py
  aiohomematic/central/central_unit.py
  aiohomematic/central/registry.py
  aiohomematic/central/rpc_server.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/compat.py
  aiohomematic/const.py
  aiohomematic/i18n.py
  aiohomematic/model/device.py
  aiohomematic/store/persistent/session.py
  aiohomematic/store/storage.py
  aiohomematic/support.py
  aiohomematic_test_support/helper.py
  aiohomematic_test_support/mock.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
  tests/helpers/mock_json_rpc.py
  tests/test_central_registry.py
  tests/test_client_json_rpc_client.py
  tests/test_compat.py
  tests/test_package_init.py
  tests/test_support.py
Due: Central Module, Client Module, Model Module, Store Module

Add free-threaded python support (#2842)
  .github/workflows/test-run.yaml
  aiohomematic/__init__.py
  aiohomematic/central/__init__.py
  aiohomematic/central/central_unit.py
  aiohomematic/central/registry.py
  aiohomematic/central/rpc_server.py
  aiohomematic/client/__init__.py
  aiohomematic/client/json_rpc.py
  aiohomematic/compat.py
  aiohomematic/const.py
  aiohomematic/i18n.py
  aiohomematic/model/device.py
  aiohomematic/store/persistent/session.py
  aiohomematic/store/storage.py
  aiohomematic/support.py
  aiohomematic_test_support/helper.py
  aiohomematic_test_support/mock.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_docs.txt
  requirements_test.txt
  tests/helpers/mock_json_rpc.py
  tests/test_central_registry.py
  tests/test_client_json_rpc_client.py
  tests/test_compat.py
  tests/test_package_init.py
  tests/test_support.py
Due: Central Module, Client Module, Model Module, Store Module

Update requirements
  .pre-commit-config.yaml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Improve workflows
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_de.yml
  .github/scripts/analyze_issue.py
  .github/workflows/close-insufficient-info.yml
Due: none

Add HA-Addon detection
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/hub.py
  aiohomematic/rega_scripts/get_backend_info.fn
  changelog.md
Due: Client Module, Model Module

Add HA-Addon detection (#2848)
  aiohomematic/client/backends/ccu.py
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  aiohomematic/model/hub/hub.py
  aiohomematic/rega_scripts/get_backend_info.fn
  changelog.md
Due: Client Module, Model Module

Authentication check fails for non-admin users
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

Authentication check fails for non-admin users (#2850)
  aiohomematic/client/json_rpc.py
  aiohomematic/const.py
  changelog.md
  tests/test_client_json_rpc_client.py
Due: Client Module

XML-RPC authentication headers not sent with TLS
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

XML-RPC authentication headers not sent with TLS (#2852)
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Refresh hub data after connection recovery
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Refresh hub data after connection recovery (#2854)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix recovery fails for individual clients when others exist
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/state_machine.py
  changelog.md
Due: Central Module, Client Module

Fix recovery fails for individual clients when others exist (#2855)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/state_machine.py
  changelog.md
Due: Central Module, Client Module

Add JSON-RPC port pre-flight check
  aiohomematic/central/coordinators/client.py
  aiohomematic/interfaces/central.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Central Module

Add JSON-RPC port pre-flight check (#2856)
  aiohomematic/central/coordinators/client.py
  aiohomematic/interfaces/central.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Central Module

Clean port handling for JSON-RPC-only interfaces
  aiohomematic/central/config_builder.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/config.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_config_builder.py
Due: Central Module, Client Module

Clean port handling for JSON-RPC-only interfaces (#2858)
  aiohomematic/central/config_builder.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/config.py
  aiohomematic/const.py
  changelog.md
  tests/test_central_config_builder.py
Due: Central Module, Client Module

Comprehensive contract tests for stability guarantees
  aiohomematic/const.py
  changelog.md
  docs/adr/0018_contract_tests.md
  tests/contract/__init__.py
  tests/contract/test_capability_contract.py
  tests/contract/test_central_state_machine_contract.py
  tests/contract/test_client_lifecycle_contract.py
  tests/contract/test_client_state_machine_contract.py
  tests/contract/test_configuration_contract.py
  tests/contract/test_connection_recovery_contract.py
  tests/contract/test_enum_constants_contract.py
  tests/contract/test_event_system_contract.py
  tests/contract/test_exception_hierarchy_contract.py
  tests/contract/test_hub_entities_contract.py
  tests/contract/test_protocol_interfaces_contract.py
  tests/contract/test_subscription_api_contract.py
Due: none

Comprehensive contract tests for stability guarantees (#2859)
  aiohomematic/const.py
  changelog.md
  docs/adr/0018_contract_tests.md
  tests/contract/__init__.py
  tests/contract/test_capability_contract.py
  tests/contract/test_central_state_machine_contract.py
  tests/contract/test_client_lifecycle_contract.py
  tests/contract/test_client_state_machine_contract.py
  tests/contract/test_configuration_contract.py
  tests/contract/test_connection_recovery_contract.py
  tests/contract/test_enum_constants_contract.py
  tests/contract/test_event_system_contract.py
  tests/contract/test_exception_hierarchy_contract.py
  tests/contract/test_hub_entities_contract.py
  tests/contract/test_protocol_interfaces_contract.py
  tests/contract/test_subscription_api_contract.py
Due: none

Plugin infrastructure for extensible backends
  aiohomematic/backend_detection.py
  aiohomematic/central/central_unit.py
  aiohomematic/central/plugin_registry.py
  aiohomematic/central/plugin_validator.py
  aiohomematic/client/__init__.py
  aiohomematic/client/backends/factory.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/interfaces/plugin.py
  aiohomematic/model/hub/connectivity.py
  changelog.md
  tests/contract/test_plugin_contract.py
Due: Central Module, Client Module, Model Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
