Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Fix leaked EventBus subscriptions on central stop (#2751)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/client.py
  aiohomematic/central/coordinators/hub.py
  changelog.md
Due: Central Module

Fix leaked EventBus subscriptions on central stop
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/events/bus.py
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic_test_support/event_capture.py
  changelog.md
Due: Central Module, Client Module

Fix leaked EventBus subscriptions on central stop (#2752)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/event.py
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/events/bus.py
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic_test_support/event_capture.py
  changelog.md
Due: Central Module, Client Module

Fix list_device() returning empty list treated as error
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
  tests/test_client.py
Due: Client Module

Fix list_device() returning empty list treated as error (#2753)
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  changelog.md
  tests/test_client.py
Due: Client Module

Strongly typed IntegrationIssue
  CLAUDE.md
  aiohomematic/central/events/integration.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/store/dynamic/ping_pong.py
  changelog.md
  tests/test_central.py
  tests/test_client.py
  tests/test_store_dynamic_caches.py
Due: Central Module, Client Module, Store Module

Update changelog
  aiohomematic/const.py
  changelog.md
Due: none

Strongly typed events and IntegrationIssue
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/events/types.py
  aiohomematic/central/scheduler.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  changelog.md
  docs/migrations/strongly_typed_events_2026_01.md
  tests/test_event_driven_verification.py
Due: Central Module, Client Module

Strongly typed events and IntegrationIssue (#2756)
  CLAUDE.md
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/events/bus.py
  aiohomematic/central/events/integration.py
  aiohomematic/central/events/types.py
  aiohomematic/central/scheduler.py
  aiohomematic/central/state_machine.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/client/state_machine.py
  aiohomematic/const.py
  aiohomematic/store/dynamic/ping_pong.py
  changelog.md
  docs/migrations/strongly_typed_events_2026_01.md
  tests/test_central.py
  tests/test_client.py
  tests/test_event_driven_verification.py
  tests/test_store_dynamic_caches.py
Due: Central Module, Client Module, Store Module

Fix persistent ping_pong_mismatch repair issues after CCU restart
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix persistent ping_pong_mismatch repair issues after CCU restart (#2758)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix recovery stuck in infinite retry loop after CCU restart
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix recovery stuck in infinite retry loop after CCU restart (#2761)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix proxy lookup to handle both direct client proxy
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix proxy lookup to handle both direct client proxy (#2762)
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Add comprehensive test coverage for ConnectionRecoveryCoordinator
  aiohomematic/const.py
  changelog.md
  tests/test_connection_recovery.py
Due: none

Update lock.yml
  .github/workflows/lock.yml
Due: none

Update workflows/ fix tests
  .github/workflows/issue-analyzer.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-on-tag.yml
  tests/test_connection_recovery.py
Due: none

Add comprehensive test coverage for ConnectionRecoveryCoordinator (#2764)
  .github/workflows/issue-analyzer.yml
  .github/workflows/lock.yml
  .github/workflows/pre-commit.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-on-tag.yml
  aiohomematic/const.py
  changelog.md
  tests/test_connection_recovery.py
Due: none

Cleanup CI worklow
  .github/workflows/lock.yml
Due: none

Remove port from config_builder for cuxd
  aiohomematic/central/config_builder.py
  tests/test_central_config_builder.py
  tests/test_client.py
Due: Central Module

Remove port from config_builder for cuxd (#2766)
  aiohomematic/central/config_builder.py
  tests/test_central_config_builder.py
  tests/test_client.py
Due: Central Module

Faster Connectivity Detection
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/metrics/observer.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/connectivity.py
  aiohomematic/model/hub/hub.py
  changelog.md
  tests/test_central_hub_coordinator.py
Due: Central Module, Client Module, Model Module

Move const
  aiohomematic/const.py
  aiohomematic/model/hub/connectivity.py
Due: Model Module

Update const.py
  aiohomematic/const.py
Due: none

Faster Connectivity Detection (#2774)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/hub.py
  aiohomematic/central/scheduler.py
  aiohomematic/client/ccu.py
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/central.py
  aiohomematic/interfaces/model.py
  aiohomematic/metrics/observer.py
  aiohomematic/model/hub/__init__.py
  aiohomematic/model/hub/connectivity.py
  aiohomematic/model/hub/hub.py
  changelog.md
  tests/test_central_hub_coordinator.py
Due: Central Module, Client Module, Model Module

Fix Device availability not restored after CCU restart
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  aiohomematic/model/hub/hub.py
  changelog.md
Due: Central Module, Model Module

CuXD devices not created when paramset_descriptions missing
  aiohomematic/central/coordinators/device.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module

Fix Device availability not restored after CCU restart (#2775)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/const.py
  aiohomematic/model/hub/hub.py
  changelog.md
  tests/test_central_device_coordinator.py
Due: Central Module, Model Module

Device availability not reset after CCU restart
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Fix Race condition in client state event processing
  aiohomematic/central/central_unit.py
  changelog.md
Due: Central Module

Device availability not reset after CCU restart (#2777)
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  changelog.md
Due: Central Module

Add schedule test for HM-TC-IT-WM-W-EU
  tests/test_model_climate.py
Due: none

Update test_model_climate.py
  tests/test_model_climate.py
Due: none

Add schedule test for HM-TC-IT-WM-W-EU (#2785)
  tests/test_model_climate.py
Due: none

Event-based cache persistence for paramset descriptions
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/events/__init__.py
  aiohomematic/central/events/integration.py
  aiohomematic/central/events/types.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  changelog.md
  tests/test_paramset_cache_reconnect.py
Due: Central Module, Client Module

Fixed Schedule temperature values not updating on HM-TC-IT-WM-W-EU
  aiohomematic/model/week_profile.py
  changelog.md
  tests/test_model_climate.py
Due: Model Module

Update factory.py
  aiohomematic_test_support/factory.py
Due: none

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
