Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

Validate schedule writes against paramset description (#3133)
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Add device profile for HmIP-UDI-SMI55
  .pre-commit-config.yaml
  aiohomematic/const.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/light.py
  changelog.md
  requirements.txt
  requirements_test.txt
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
Due: Model Module

Add `lint-translation-custom` pre-commit hook
  .pre-commit-config.yaml
  aiohomematic/ccu_data/translation_custom/parameters_de.json
  aiohomematic/ccu_data/translation_custom/parameters_en.json
  changelog.md
  script/lint_translation_custom.py
Due: none

Fixes
  aiohomematic/store/visibility/rules.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
Due: Store Module

Add device profile for HmIP-UDI-SMI55 (#3141)
  .pre-commit-config.yaml
  aiohomematic/ccu_data/translation_custom/parameters_de.json
  aiohomematic/ccu_data/translation_custom/parameters_en.json
  aiohomematic/const.py
  aiohomematic/model/calculated/operating_voltage_level.py
  aiohomematic/model/custom/light.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  requirements.txt
  requirements_test.txt
  script/lint_translation_custom.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
Due: Model Module, Store Module

docs: refresh CLAUDE.md and README.md
  CLAUDE.md
  README.md
Due: none

docs: drift audit — rename ADRs, fix stale APIs, add drift linter
  .pre-commit-config.yaml
  CLAUDE.md
  docs/adr/0013-interface-client-backend-strategy.md
  docs/adr/0013a-implementation-status.md
  docs/adr/0018-contract-tests.md
  docs/adr/0024-ccu-translation-extraction.md
  docs/adr/index.md
  docs/architecture.md
  docs/architecture/data_flow.md
  docs/architecture/events/event_reference.md
  docs/architecture/sequence_diagrams.md
  docs/contributor/coding/docstring_standards.md
  docs/contributor/coding/docstring_templates.md
  docs/contributor/testing/docs_drift_check.md
  docs/developer/homematicip_local_api_usage.md
  docs/getting_started.md
  docs/quickstart.md
  mkdocs.yml
  script/check_docs_references.py
Due: none

Docs/refresh claude and readme (#3145)
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  docs/adr/0013-interface-client-backend-strategy.md
  docs/adr/0013a-implementation-status.md
  docs/adr/0018-contract-tests.md
  docs/adr/0024-ccu-translation-extraction.md
  docs/adr/index.md
  docs/architecture.md
  docs/architecture/data_flow.md
  docs/architecture/events/event_reference.md
  docs/architecture/sequence_diagrams.md
  docs/contributor/coding/docstring_standards.md
  docs/contributor/coding/docstring_templates.md
  docs/contributor/testing/docs_drift_check.md
  docs/developer/homematicip_local_api_usage.md
  docs/getting_started.md
  docs/quickstart.md
  mkdocs.yml
  script/check_docs_references.py
Due: none

fixes
  aiohomematic/ccu_data/easymode_extract.json.gz
  aiohomematic/ccu_data/translation_custom/parameters_de.json
  aiohomematic/ccu_data/translation_custom/parameters_en.json
  changelog.md
  script/extract_ccu_easymodes.py
  tests/test_extract_ccu_easymodes.py
Due: none

Update json_rpc.py
  aiohomematic/client/json_rpc.py
Due: Client Module

Adopt the new openccu-data
  .pre-commit-config.yaml
  CLAUDE.md
  aiohomematic/ccu_data/__init__.py
  aiohomematic/ccu_data/easymode_extract.json.gz
  aiohomematic/ccu_data/translation_custom/__init__.py
  aiohomematic/ccu_data/translation_custom/channel_types_de.json
  aiohomematic/ccu_data/translation_custom/channel_types_en.json
  aiohomematic/ccu_data/translation_custom/device_icons.json
  aiohomematic/ccu_data/translation_custom/device_models_de.json
  aiohomematic/ccu_data/translation_custom/device_models_en.json
  aiohomematic/ccu_data/translation_custom/parameter_help_de.json
  aiohomematic/ccu_data/translation_custom/parameter_help_en.json
  aiohomematic/ccu_data/translation_custom/parameter_values_de.json
  aiohomematic/ccu_data/translation_custom/parameter_values_en.json
  aiohomematic/ccu_data/translation_custom/parameters_de.json
  aiohomematic/ccu_data/translation_custom/parameters_en.json
  aiohomematic/ccu_data/translation_extract.json.gz
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/easymode_data.py
  changelog.md
  docs/adr/0024-ccu-translation-extraction.md
  pyproject.toml
  requirements.txt
  script/extract_ccu_easymodes.py
  script/extract_ccu_translations.py
  script/lint_translation_custom.py
  tests/test_extract_ccu_easymodes.py
Due: none

Adopt the new openccu-data (#3147)
  .pre-commit-config.yaml
  CLAUDE.md
  aiohomematic/ccu_data/__init__.py
  aiohomematic/ccu_data/easymode_extract.json.gz
  aiohomematic/ccu_data/translation_custom/__init__.py
  aiohomematic/ccu_data/translation_custom/channel_types_de.json
  aiohomematic/ccu_data/translation_custom/channel_types_en.json
  aiohomematic/ccu_data/translation_custom/device_icons.json
  aiohomematic/ccu_data/translation_custom/device_models_de.json
  aiohomematic/ccu_data/translation_custom/device_models_en.json
  aiohomematic/ccu_data/translation_custom/parameter_help_de.json
  aiohomematic/ccu_data/translation_custom/parameter_help_en.json
  aiohomematic/ccu_data/translation_custom/parameter_values_de.json
  aiohomematic/ccu_data/translation_custom/parameter_values_en.json
  aiohomematic/ccu_data/translation_custom/parameters_de.json
  aiohomematic/ccu_data/translation_custom/parameters_en.json
  aiohomematic/ccu_data/translation_extract.json.gz
  aiohomematic/ccu_translations.py
  aiohomematic/const.py
  aiohomematic/easymode_data.py
  changelog.md
  docs/adr/0024-ccu-translation-extraction.md
  pyproject.toml
  requirements.txt
  script/extract_ccu_easymodes.py
  script/extract_ccu_translations.py
  script/lint_translation_custom.py
  tests/test_extract_ccu_easymodes.py
Due: none

Update requirements
  .pre-commit-config.yaml
  requirements.txt
  requirements_test.txt
  requirements_test_pre_commit.txt
Due: none

Update docs requirements
  requirements_docs.txt
Due: none

Use hm duration semantics
  aiohomematic/const.py
  aiohomematic/model/schedule_models.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  tests/test_model_week_profile.py
Due: Model Module

Update requirements_test.txt
  requirements_test.txt
Due: none

Use hm duration semantics (#3160)
  aiohomematic/const.py
  aiohomematic/model/schedule_models.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
  requirements_test.txt
  tests/test_model_week_profile.py
Due: Model Module

Fix Climate `activity` reports `HEAT` in cooling mode
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/test_model_climate.py
Due: Model Module

Fix Climate `activity` reports `HEAT` in cooling mode (#3167)
  aiohomematic/const.py
  aiohomematic/model/custom/climate.py
  changelog.md
  tests/test_model_climate.py
Due: Model Module

Dimmer light briefly reports intermediate `LEVEL` values during ramps
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
  tests/test_model_light.py
Due: Model Module, Store Module

Dimmer light briefly reports intermediate `LEVEL` values during ramps (#3166)
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  aiohomematic/store/visibility/rules.py
  changelog.md
  tests/test_central_full_session.py
  tests/test_central_pydev_openccu.py
  tests/test_central_pydevccu.py
  tests/test_model_data_point.py
  tests/test_model_light.py
Due: Model Module, Store Module

`LOWBAT` not reflected in `MaintenanceData.low_bat`
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  tests/test_configuration_coordinator.py
Due: Central Module

`LOWBAT` not reflected in `MaintenanceData.low_bat` (#3171)
  aiohomematic/central/coordinators/configuration.py
  aiohomematic/const.py
  changelog.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  tests/test_configuration_coordinator.py
Due: Central Module

Fix `HmIP-RGBW`/`HmIP-DRG-DALI` `turn_off` with `transition` rejected by CCU
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  changelog.md
  tests/test_model_data_point.py
  tests/test_model_light.py
Due: Model Module

Fix `HmIP-RGBW`/`HmIP-DRG-DALI` `turn_off` with `transition` rejected by CCU (#3173)
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  aiohomematic/model/custom/profile.py
  changelog.md
  tests/test_model_data_point.py
  tests/test_model_light.py
Due: Model Module

Fix Dimmer `is_on` briefly flips back to the previous state during a ramp
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

fix Dimmer `is_on` briefly flips back to the previous state during a ramp (#3178)
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  requirements_test.txt
  tests/test_model_light.py
Due: Model Module

Fix Dimmer flicker during ramp not fully fixed by 2026.5.4
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/data_point.py
  changelog.md
  tests/test_model_light.py
Due: Client Module, Model Module

Fix Dimmer flicker during ramp not fully fixed by 2026.5.4 (#3179)
  aiohomematic/client/interface_client.py
  aiohomematic/const.py
  aiohomematic/interfaces/client.py
  aiohomematic/model/data_point.py
  changelog.md
  tests/test_model_light.py
Due: Client Module, Model Module

Expose `inbox_dp` and `update_dp` as `DelegatedProperty` on `HubCoordinator`
  aiohomematic/central/coordinators/hub.py
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Central Module, Model Module

Expose `inbox_dp` and `update_dp` as `DelegatedProperty` on `HubCoordinator` (#3180)
  aiohomematic/central/coordinators/hub.py
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Central Module, Model Module

Fix HmIP dimmer brightness reflects the state channel instead of the commanded value*
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Fix HmIP dimmer brightness reflects the state channel instead of the commanded value* (#3182)
  aiohomematic/const.py
  aiohomematic/model/custom/light.py
  changelog.md
  tests/test_model_light.py
Due: Model Module

Fix Automatic reconnect after startup failure when the CCU is not yet reachable
  aiohomematic/central/events/bus.py
  aiohomematic/const.py
  changelog.md
  docs/architecture/sequence_diagrams.md
  tests/test_central_event_bus.py
Due: Central Module

Fix Automatic reconnect after startup failure when the CCU is not yet reachable (#3184)
  aiohomematic/central/events/bus.py
  aiohomematic/const.py
  changelog.md
  docs/architecture/sequence_diagrams.md
  tests/test_central_event_bus.py
Due: Central Module

Path conditions:
  Central Module: any of: aiohomematic/central/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Client Module: any of: aiohomematic/client/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Model Module: any of: aiohomematic/model/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
  Store Module: any of: aiohomematic/store/**/*.py, but not: tests/**/*, aiohomematic_test_support/**/*, script/**/*, docs/**/*, **/__pycache__/**/*, **/*.pyi, **/conftest.py
