Repository SukramJ/aiohomematic: changes, and which Codecov flags are due for each by the changed paths.
All: Central Module, Client Module, Model Module, Store Module

codecov.yml:

# yamllint disable rule:truthy
codecov:
  branch: dev
  require_ci_to_pass: yes
# yamllint enable rule:truthy

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 0.09
        if_ci_failed: error

    patch:
      default:
        target: auto
        threshold: 0.05

    changes:
      default:
        if_ci_failed: error

# Commenting on PRs
# yamllint disable rule:truthy
comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
# yamllint enable rule:truthy

# Ignore paths
ignore:
  - "tests/**/*"
  - "aiohomematic_test_support/**/*"
  - "script/**/*"
  - "docs/**/*"
  - "**/__pycache__/**/*"
  - "**/*.pyi"
  - "**/conftest.py"

# Component-based coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    - component_id: central
      name: Central Module
      paths:
        - aiohomematic/central/**/*.py

    - component_id: client
      name: Client Module
      paths:
        - aiohomematic/client/**/*.py

    - component_id: model
      name: Model Module
      paths:
        - aiohomematic/model/**/*.py

    - component_id: store
      name: Store Module
      paths:
        - aiohomematic/store/**/*.py

# To make partial tests possible,
# we need to carry forward.
flag_management:
  default_rules:
    carryforward: false
  individual_flags:
    - name: full-suite
      paths:
        - ".*"
      carryforward: true

# GitHub checks
github_checks:
  annotations: true

Rename CommandCache to CommandTracker
  aiohomematic/central/central_unit.py
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/dataclasses.py
  aiohomematic/metrics/stats.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/store/dynamic/__init__.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/types.py
  changelog.md
  release_summary.md
  tests/test_metrics.py
  tests/test_store_dynamic_caches.py
Due: Central Module, Client Module, Model Module, Store Module

Rename CommandCache to CommandTracker (#2655)
  aiohomematic/central/central_unit.py
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/client.py
  aiohomematic/metrics/aggregator.py
  aiohomematic/metrics/dataclasses.py
  aiohomematic/metrics/stats.py
  aiohomematic/model/data_point.py
  aiohomematic/model/generic/data_point.py
  aiohomematic/store/dynamic/__init__.py
  aiohomematic/store/dynamic/command.py
  aiohomematic/store/types.py
  changelog.md
  release_summary.md
  tests/test_metrics.py
  tests/test_store_dynamic_caches.py
Due: Central Module, Client Module, Model Module, Store Module

Async DNS Resolution
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  aiohomematic/support.py
  changelog.md
  release_summary.md
Due: Central Module

Async DNS Resolution (#2656)
  aiohomematic/central/central_unit.py
  aiohomematic/const.py
  aiohomematic/support.py
  changelog.md
  release_summary.md
Due: Central Module

Close release for summary
  release_summary.md
Due: none

Fix PingPong Race Condition
  aiohomematic/client/ccu.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Fix PingPong Race Condition (#2665)
  aiohomematic/client/ccu.py
  aiohomematic/const.py
  changelog.md
Due: Client Module

Fix Week Profile ScheduleCondition
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Fix Week Profile ScheduleCondition (#2669)
  aiohomematic/const.py
  aiohomematic/model/week_profile.py
  changelog.md
Due: Model Module

Fix ClientJsonCCU Handler Initialization
  aiohomematic/client/ccu.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module

Fix ClientJsonCCU Handler Initialization (#2670)
  aiohomematic/client/ccu.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/strings.json
  aiohomematic/translations/de.json
  aiohomematic/translations/en.json
  changelog.md
Due: Client Module

Fix OperatingVoltageLevel Shows Unknown After Restart
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/store/dynamic/ping_pong.py
  changelog.md
  tests/test_model_data_point.py
  tests/test_model_select.py
  tests/test_store_dynamic_caches.py
Due: Model Module, Store Module

Fix OperatingVoltageLevel Shows Unknown After Restart (#2675)
  aiohomematic/const.py
  aiohomematic/model/data_point.py
  aiohomematic/store/dynamic/ping_pong.py
  changelog.md
  tests/test_model_data_point.py
  tests/test_model_select.py
  tests/test_store_dynamic_caches.py
Due: Model Module, Store Module

Add IncidentStore for Persistent Diagnostic Incidents
  CLAUDE.md
  aiohomematic/central/coordinators/cache.py
  aiohomematic/client/ccu.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/operations.py
  aiohomematic/store/__init__.py
  aiohomematic/store/dynamic/ping_pong.py
  aiohomematic/store/persistent/__init__.py
  aiohomematic/store/persistent/incident.py
  aiohomematic/store/types.py
  changelog.md
  docs/architecture.md
  docs/data_flow.md
  docs/event_driven_metrics.md
  docs/sequence_diagrams.md
  tests/test_client.py
  tests/test_store_dynamic_caches.py
  tests/test_store_incident.py
Due: Central Module, Client Module, Store Module

Fix KeyError for PARENT in Device Descriptions
  aiohomematic/central/coordinators/device.py
  changelog.md
Due: Central Module

Fix handling of optional attributes of DeviceDescription
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/model/device.py
  aiohomematic/store/persistent/device.py
  aiohomematic_test_support/mock.py
  changelog.md
Due: Client Module, Model Module, Store Module

Add IncidentStore for Persistent Diagnostic Incidents (#2679)
  CLAUDE.md
  aiohomematic/central/coordinators/cache.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/device_ops.py
  aiohomematic/const.py
  aiohomematic/interfaces/__init__.py
  aiohomematic/interfaces/operations.py
  aiohomematic/model/device.py
  aiohomematic/store/__init__.py
  aiohomematic/store/dynamic/ping_pong.py
  aiohomematic/store/persistent/__init__.py
  aiohomematic/store/persistent/device.py
  aiohomematic/store/persistent/incident.py
  aiohomematic/store/types.py
  aiohomematic_test_support/mock.py
  changelog.md
  docs/architecture.md
  docs/data_flow.md
  docs/event_driven_metrics.md
  docs/sequence_diagrams.md
  tests/test_client.py
  tests/test_store_dynamic_caches.py
  tests/test_store_incident.py
Due: Central Module, Client Module, Model Module, Store Module

Replaced absolute GitHub URLs with relative links
  .github/workflows/ISSUE_ANALYZER_README.md
  docs/unignore.md
Due: none

Fix CuXD/CCU-Jack Device Control
  .gitignore
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/__init__.py
  changelog.md
  tests/test_client.py
Due: Client Module

Update const.py
  aiohomematic/const.py
Due: none

Fix CuXD/CCU-Jack Device Control (#2685)
  .gitignore
  aiohomematic/client/ccu.py
  aiohomematic/client/handlers/__init__.py
  aiohomematic/const.py
  changelog.md
  tests/test_client.py
Due: Client Module

Fix Sysvar-to-Device Association
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/client.py
  changelog.md
  tests/test_central_client_coordinator.py
Due: Central Module

Fix Sysvar-to-Device Association (#2686)
  aiohomematic/central/central_unit.py
  aiohomematic/central/coordinators/client.py
  changelog.md
  tests/test_central_client_coordinator.py
Due: Central Module

Circuit Breaker and CONNECTION_LOST Incident Recordingclarifications
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/const.py
  aiohomematic/store/persistent/incident.py
  aiohomematic/store/types.py
  changelog.md
  docs/incident_system.md
  tests/test_circuit_breaker.py
  tests/test_store_incident.py
Due: Central Module, Client Module, Store Module

Update changelog.md
  changelog.md
Due: none

Implement further incidents
  aiohomematic/central/config.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/client/ccu.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/interfaces/operations.py
  aiohomematic/store/persistent/incident.py
  aiohomematic/store/types.py
  changelog.md
  docs/incident_system.md
Due: Central Module, Client Module, Store Module

Add missing Final declarations
  aiohomematic/central/connection_state.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/events/bus.py
  aiohomematic/client/ccu.py
Due: Central Module, Client Module

Update storage.py
  aiohomematic/store/storage.py
Due: Store Module

Implement further incidents (#2687)
  aiohomematic/central/config.py
  aiohomematic/central/connection_state.py
  aiohomematic/central/coordinators/connection_recovery.py
  aiohomematic/central/coordinators/device.py
  aiohomematic/central/events/bus.py
  aiohomematic/client/ccu.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/interfaces/operations.py
  aiohomematic/store/persistent/incident.py
  aiohomematic/store/storage.py
  aiohomematic/store/types.py
  changelog.md
  docs/incident_system.md
  tests/test_circuit_breaker.py
  tests/test_store_incident.py
Due: Central Module, Client Module, Store Module

Update troubleshooting guide
  docs/homeassistant_troubleshooting.md
Due: none

Update troubleshooting guide (#2688)
  docs/homeassistant_troubleshooting.md
Due: none

Remove asyncio Fallbacks
  aiohomematic/central/events/bus.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/const.py
  aiohomematic/store/storage.py
  aiohomematic_test_support/mock.py
  changelog.md
  tests/conftest.py
  tests/test_central_cache_coordinator.py
  tests/test_central_client_coordinator.py
  tests/test_central_event_bus.py
  tests/test_central_event_coordinator.py
  tests/test_circuit_breaker.py
  tests/test_client.py
  tests/test_event_capture.py
  tests/test_event_driven_verification.py
  tests/test_integration_reconnection.py
  tests/test_integration_scenarios.py
  tests/test_metrics.py
  tests/test_model_calculated.py
  tests/test_model_hub_update.py
  tests/test_model_update.py
  tests/test_request_coalescer.py
  tests/test_store_dynamic_caches.py
  tests/test_store_visibility.py
Due: Central Module, Client Module, Store Module

Fix Runtime Device Addition
  aiohomematic/store/persistent/paramset.py
  aiohomematic/support.py
  changelog.md
  tests/test_store_persistent.py
Due: Store Module

Update test_client.py
  tests/test_client.py
Due: none

fix tests
  tests/conftest.py
  tests/test_central_client_coordinator.py
  tests/test_central_event_bus.py
  tests/test_circuit_breaker.py
  tests/test_client.py
  tests/test_metrics.py
Due: none

Make looper lazy
  aiohomematic/async_support.py
  tests/test_async_support.py
Due: none

Remove asyncio Fallbacks (#2692)
  aiohomematic/async_support.py
  aiohomematic/central/events/bus.py
  aiohomematic/client/circuit_breaker.py
  aiohomematic/const.py
  aiohomematic/store/persistent/paramset.py
  aiohomematic/store/storage.py
  aiohomematic/support.py
  aiohomematic_test_support/mock.py
  changelog.md
  tests/conftest.py
  tests/test_async_support.py
  tests/test_central_cache_coordinator.py
  tests/test_central_client_coordinator.py
  tests/test_central_event_bus.py
  tests/test_central_event_coordinator.py
  tests/test_circuit_breaker.py
  tests/test_client.py
  tests/test_event_capture.py
  tests/test_event_driven_verification.py
  tests/test_integration_reconnection.py
  tests/test_integration_scenarios.py
  tests/test_metrics.py
  tests/test_model_calculated.py
  tests/test_model_hub_update.py
  tests/test_model_update.py
  tests/test_request_coalescer.py
  tests/test_store_dynamic_caches.py
  tests/test_store_persistent.py
  tests/test_store_visibility.py
Due: Central Module, Client Module, Store Module

Reduce RPC Error Log Noise
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/store/persistent/incident.py
  changelog.md
Due: Client Module, Store Module

Reduce RPC Error Log Noise (#2694)
  aiohomematic/client/json_rpc.py
  aiohomematic/client/rpc_proxy.py
  aiohomematic/const.py
  aiohomematic/store/persistent/incident.py
  changelog.md
Due: Client Module, Store Module
